SourceCode/GreenField/GreenField.ServiceCaller/Service References/SessionDefinitions/SessionOperations2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59430/Services/SessionOperations.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GreenField.DataContracts" />
  <xs:element name="GetSession">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GreenField.DataContracts" minOccurs="0" name="GetSessionResult" nillable="true" type="q1:Session" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GreenField.DataContracts" minOccurs="0" name="sessionVariable" nillable="true" type="q2:Session" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetSessionResult" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>