SourceCode/GreenField/GreenField.ServiceCaller/Service References/DocumentWorkSpaceDefinitions/DocumentWorkSpaceOperations51.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GreenField.DAL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GreenField.DAL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59430/Services/DocumentWorkSpaceOperations.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
  <xs:complexType name="ArrayOfModelConsensusEstimatesData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ModelConsensusEstimatesData" nillable="true" type="tns:ModelConsensusEstimatesData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfModelConsensusEstimatesData" nillable="true" type="tns:ArrayOfModelConsensusEstimatesData" />
  <xs:complexType name="ModelConsensusEstimatesData">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q1:ComplexObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="AMOUNT" type="xs:decimal" />
          <xs:element minOccurs="0" name="AMOUNT_TYPE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DATA_SOURCE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DATA_SOURCE_DATE" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ESTIMATE_DESC" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ESTIMATE_ID" type="xs:int" />
          <xs:element minOccurs="0" name="HIGH" type="xs:decimal" />
          <xs:element minOccurs="0" name="ISSUER_ID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LOW" type="xs:decimal" />
          <xs:element minOccurs="0" name="NUMBER_OF_ESTIMATES" type="xs:int" />
          <xs:element minOccurs="0" name="PERIOD_TYPE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PERIOD_YEAR" type="xs:int" />
          <xs:element minOccurs="0" name="Period" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SOURCE_CURRENCY" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="STANDARD_DEVIATION" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ModelConsensusEstimatesData" nillable="true" type="tns:ModelConsensusEstimatesData" />
</xs:schema>