SourceCode/GreenField/GreenField.ServiceCaller/Service References/DocumentWorkSpaceDefinitions/DocumentWorkspaceOperations.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DocumentWorkspaceOperations" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59430/Services/DocumentWorkSpaceOperations.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59430/Services/DocumentWorkSpaceOperations.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" />
      <xsd:import schemaLocation="http://localhost:59430/Services/DocumentWorkSpaceOperations.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59430/Services/DocumentWorkSpaceOperations.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/GreenField.DataContracts" />
      <xsd:import schemaLocation="http://localhost:59430/Services/DocumentWorkSpaceOperations.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:59430/Services/DocumentWorkSpaceOperations.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/GreenField.DAL" />
      <xsd:import schemaLocation="http://localhost:59430/Services/DocumentWorkSpaceOperations.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="DocumentWorkspaceOperations_UploadDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadDocument" />
  </wsdl:message>
  <wsdl:message name="DocumentWorkspaceOperations_UploadDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="DocumentWorkspaceOperations_UploadDocument_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q1:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="DocumentWorkspaceOperations_DeleteDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDocument" />
  </wsdl:message>
  <wsdl:message name="DocumentWorkspaceOperations_DeleteDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="DocumentWorkspaceOperations_DeleteDocument_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q2:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="DocumentWorkspaceOperations_DeleteFileMasterRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFileMasterRecord" />
  </wsdl:message>
  <wsdl:message name="DocumentWorkspaceOperations_DeleteFileMasterRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFileMasterRecordResponse" />
  </wsdl:message>
  <wsdl:message name="DocumentWorkspaceOperations_DeleteFileMasterRecord_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q3:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="DocumentWorkspaceOperations_RetrieveDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveDocument" />
  </wsdl:message>
  <wsdl:message name="DocumentWorkspaceOperations_RetrieveDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="DocumentWorkspaceOperations_RetrieveDocument_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q4:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="DocumentWorkspaceOperations_RetrieveDocumentsData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveDocumentsData" />
  </wsdl:message>
  <wsdl:message name="DocumentWorkspaceOperations_RetrieveDocumentsData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveDocumentsDataResponse" />
  </wsdl:message>
  <wsdl:message name="DocumentWorkspaceOperations_RetrieveDocumentsData_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q5:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="DocumentWorkspaceOperations_SetUploadFileInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:SetUploadFileInfo" />
  </wsdl:message>
  <wsdl:message name="DocumentWorkspaceOperations_SetUploadFileInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetUploadFileInfoResponse" />
  </wsdl:message>
  <wsdl:message name="DocumentWorkspaceOperations_SetUploadFileInfo_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q6:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="DocumentWorkspaceOperations_GetDocumentsMetaTags_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentsMetaTags" />
  </wsdl:message>
  <wsdl:message name="DocumentWorkspaceOperations_GetDocumentsMetaTags_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentsMetaTagsResponse" />
  </wsdl:message>
  <wsdl:message name="DocumentWorkspaceOperations_GetDocumentsMetaTags_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q7:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="DocumentWorkspaceOperations_RetrieveDocumentsDataForUser_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveDocumentsDataForUser" />
  </wsdl:message>
  <wsdl:message name="DocumentWorkspaceOperations_RetrieveDocumentsDataForUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveDocumentsDataForUserResponse" />
  </wsdl:message>
  <wsdl:message name="DocumentWorkspaceOperations_RetrieveDocumentsDataForUser_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q8:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="DocumentWorkspaceOperations_UpdateDocumentsDataForUser_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDocumentsDataForUser" />
  </wsdl:message>
  <wsdl:message name="DocumentWorkspaceOperations_UpdateDocumentsDataForUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDocumentsDataForUserResponse" />
  </wsdl:message>
  <wsdl:message name="DocumentWorkspaceOperations_UpdateDocumentsDataForUser_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q9="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q9:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="DocumentWorkspaceOperations_SetDocumentComment_InputMessage">
    <wsdl:part name="parameters" element="tns:SetDocumentComment" />
  </wsdl:message>
  <wsdl:message name="DocumentWorkspaceOperations_SetDocumentComment_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetDocumentCommentResponse" />
  </wsdl:message>
  <wsdl:message name="DocumentWorkspaceOperations_SetDocumentComment_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q10="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q10:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="DocumentWorkspaceOperations_RetrieveStatementData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveStatementData" />
  </wsdl:message>
  <wsdl:message name="DocumentWorkspaceOperations_RetrieveStatementData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveStatementDataResponse" />
  </wsdl:message>
  <wsdl:message name="DocumentWorkspaceOperations_RetrieveStatementData_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q11="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q11:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="DocumentWorkspaceOperations_UploadExcelModel_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadExcelModel" />
  </wsdl:message>
  <wsdl:message name="DocumentWorkspaceOperations_UploadExcelModel_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadExcelModelResponse" />
  </wsdl:message>
  <wsdl:message name="DocumentWorkspaceOperations_UploadExcelModel_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q10="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q10:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="DocumentWorkspaceOperations_RetrieveCEData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveCEData" />
  </wsdl:message>
  <wsdl:message name="DocumentWorkspaceOperations_RetrieveCEData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveCEDataResponse" />
  </wsdl:message>
  <wsdl:message name="DocumentWorkspaceOperations_RetrieveCEData_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q12="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q12:ServiceFault" />
  </wsdl:message>
  <wsdl:portType name="DocumentWorkspaceOperations">
    <wsdl:operation name="UploadDocument">
      <wsdl:input wsaw:Action="http://tempuri.org/DocumentWorkspaceOperations/UploadDocument" message="tns:DocumentWorkspaceOperations_UploadDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DocumentWorkspaceOperations/UploadDocumentResponse" message="tns:DocumentWorkspaceOperations_UploadDocument_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/DocumentWorkspaceOperations/UploadDocumentServiceFaultFault" name="ServiceFaultFault" message="tns:DocumentWorkspaceOperations_UploadDocument_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteDocument">
      <wsdl:input wsaw:Action="http://tempuri.org/DocumentWorkspaceOperations/DeleteDocument" message="tns:DocumentWorkspaceOperations_DeleteDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DocumentWorkspaceOperations/DeleteDocumentResponse" message="tns:DocumentWorkspaceOperations_DeleteDocument_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/DocumentWorkspaceOperations/DeleteDocumentServiceFaultFault" name="ServiceFaultFault" message="tns:DocumentWorkspaceOperations_DeleteDocument_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFileMasterRecord">
      <wsdl:input wsaw:Action="http://tempuri.org/DocumentWorkspaceOperations/DeleteFileMasterRecord" message="tns:DocumentWorkspaceOperations_DeleteFileMasterRecord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DocumentWorkspaceOperations/DeleteFileMasterRecordResponse" message="tns:DocumentWorkspaceOperations_DeleteFileMasterRecord_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/DocumentWorkspaceOperations/DeleteFileMasterRecordServiceFaultFault" name="ServiceFaultFault" message="tns:DocumentWorkspaceOperations_DeleteFileMasterRecord_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveDocument">
      <wsdl:input wsaw:Action="http://tempuri.org/DocumentWorkspaceOperations/RetrieveDocument" message="tns:DocumentWorkspaceOperations_RetrieveDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DocumentWorkspaceOperations/RetrieveDocumentResponse" message="tns:DocumentWorkspaceOperations_RetrieveDocument_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/DocumentWorkspaceOperations/RetrieveDocumentServiceFaultFault" name="ServiceFaultFault" message="tns:DocumentWorkspaceOperations_RetrieveDocument_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveDocumentsData">
      <wsdl:input wsaw:Action="http://tempuri.org/DocumentWorkspaceOperations/RetrieveDocumentsData" message="tns:DocumentWorkspaceOperations_RetrieveDocumentsData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DocumentWorkspaceOperations/RetrieveDocumentsDataResponse" message="tns:DocumentWorkspaceOperations_RetrieveDocumentsData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/DocumentWorkspaceOperations/RetrieveDocumentsDataServiceFaultFault" name="ServiceFaultFault" message="tns:DocumentWorkspaceOperations_RetrieveDocumentsData_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetUploadFileInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/DocumentWorkspaceOperations/SetUploadFileInfo" message="tns:DocumentWorkspaceOperations_SetUploadFileInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DocumentWorkspaceOperations/SetUploadFileInfoResponse" message="tns:DocumentWorkspaceOperations_SetUploadFileInfo_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/DocumentWorkspaceOperations/SetUploadFileInfoServiceFaultFault" name="ServiceFaultFault" message="tns:DocumentWorkspaceOperations_SetUploadFileInfo_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDocumentsMetaTags">
      <wsdl:input wsaw:Action="http://tempuri.org/DocumentWorkspaceOperations/GetDocumentsMetaTags" message="tns:DocumentWorkspaceOperations_GetDocumentsMetaTags_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DocumentWorkspaceOperations/GetDocumentsMetaTagsResponse" message="tns:DocumentWorkspaceOperations_GetDocumentsMetaTags_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/DocumentWorkspaceOperations/GetDocumentsMetaTagsServiceFaultFault" name="ServiceFaultFault" message="tns:DocumentWorkspaceOperations_GetDocumentsMetaTags_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveDocumentsDataForUser">
      <wsdl:input wsaw:Action="http://tempuri.org/DocumentWorkspaceOperations/RetrieveDocumentsDataForUser" message="tns:DocumentWorkspaceOperations_RetrieveDocumentsDataForUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DocumentWorkspaceOperations/RetrieveDocumentsDataForUserResponse" message="tns:DocumentWorkspaceOperations_RetrieveDocumentsDataForUser_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/DocumentWorkspaceOperations/RetrieveDocumentsDataForUserServiceFaultFault" name="ServiceFaultFault" message="tns:DocumentWorkspaceOperations_RetrieveDocumentsDataForUser_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDocumentsDataForUser">
      <wsdl:input wsaw:Action="http://tempuri.org/DocumentWorkspaceOperations/UpdateDocumentsDataForUser" message="tns:DocumentWorkspaceOperations_UpdateDocumentsDataForUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DocumentWorkspaceOperations/UpdateDocumentsDataForUserResponse" message="tns:DocumentWorkspaceOperations_UpdateDocumentsDataForUser_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/DocumentWorkspaceOperations/UpdateDocumentsDataForUserServiceFaultFault" name="ServiceFaultFault" message="tns:DocumentWorkspaceOperations_UpdateDocumentsDataForUser_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetDocumentComment">
      <wsdl:input wsaw:Action="http://tempuri.org/DocumentWorkspaceOperations/SetDocumentComment" message="tns:DocumentWorkspaceOperations_SetDocumentComment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DocumentWorkspaceOperations/SetDocumentCommentResponse" message="tns:DocumentWorkspaceOperations_SetDocumentComment_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/DocumentWorkspaceOperations/SetDocumentCommentServiceFaultFault" name="ServiceFaultFault" message="tns:DocumentWorkspaceOperations_SetDocumentComment_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveStatementData">
      <wsdl:input wsaw:Action="http://tempuri.org/DocumentWorkspaceOperations/RetrieveStatementData" message="tns:DocumentWorkspaceOperations_RetrieveStatementData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DocumentWorkspaceOperations/RetrieveStatementDataResponse" message="tns:DocumentWorkspaceOperations_RetrieveStatementData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/DocumentWorkspaceOperations/RetrieveStatementDataServiceFaultFault" name="ServiceFaultFault" message="tns:DocumentWorkspaceOperations_RetrieveStatementData_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadExcelModel">
      <wsdl:input wsaw:Action="http://tempuri.org/DocumentWorkspaceOperations/UploadExcelModel" message="tns:DocumentWorkspaceOperations_UploadExcelModel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DocumentWorkspaceOperations/UploadExcelModelResponse" message="tns:DocumentWorkspaceOperations_UploadExcelModel_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/DocumentWorkspaceOperations/UploadExcelModelServiceFaultFault" name="ServiceFaultFault" message="tns:DocumentWorkspaceOperations_UploadExcelModel_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveCEData">
      <wsdl:input wsaw:Action="http://tempuri.org/DocumentWorkspaceOperations/RetrieveCEData" message="tns:DocumentWorkspaceOperations_RetrieveCEData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DocumentWorkspaceOperations/RetrieveCEDataResponse" message="tns:DocumentWorkspaceOperations_RetrieveCEData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/DocumentWorkspaceOperations/RetrieveCEDataServiceFaultFault" name="ServiceFaultFault" message="tns:DocumentWorkspaceOperations_RetrieveCEData_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DocumentWorkspaceOperations" type="tns:DocumentWorkspaceOperations">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UploadDocument">
      <soap:operation soapAction="http://tempuri.org/DocumentWorkspaceOperations/UploadDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteDocument">
      <soap:operation soapAction="http://tempuri.org/DocumentWorkspaceOperations/DeleteDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteFileMasterRecord">
      <soap:operation soapAction="http://tempuri.org/DocumentWorkspaceOperations/DeleteFileMasterRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveDocument">
      <soap:operation soapAction="http://tempuri.org/DocumentWorkspaceOperations/RetrieveDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveDocumentsData">
      <soap:operation soapAction="http://tempuri.org/DocumentWorkspaceOperations/RetrieveDocumentsData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SetUploadFileInfo">
      <soap:operation soapAction="http://tempuri.org/DocumentWorkspaceOperations/SetUploadFileInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentsMetaTags">
      <soap:operation soapAction="http://tempuri.org/DocumentWorkspaceOperations/GetDocumentsMetaTags" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveDocumentsDataForUser">
      <soap:operation soapAction="http://tempuri.org/DocumentWorkspaceOperations/RetrieveDocumentsDataForUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateDocumentsDataForUser">
      <soap:operation soapAction="http://tempuri.org/DocumentWorkspaceOperations/UpdateDocumentsDataForUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SetDocumentComment">
      <soap:operation soapAction="http://tempuri.org/DocumentWorkspaceOperations/SetDocumentComment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveStatementData">
      <soap:operation soapAction="http://tempuri.org/DocumentWorkspaceOperations/RetrieveStatementData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UploadExcelModel">
      <soap:operation soapAction="http://tempuri.org/DocumentWorkspaceOperations/UploadExcelModel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveCEData">
      <soap:operation soapAction="http://tempuri.org/DocumentWorkspaceOperations/RetrieveCEData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DocumentWorkspaceOperations">
    <wsdl:port name="DocumentWorkspaceOperations" binding="tns:DocumentWorkspaceOperations">
      <soap:address location="http://localhost:59430/Services/DocumentWorkSpaceOperations.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>