SourceCode/ReutersPlugIn/ReutersPlugIn/Service References/ModelRefreshDefinitions/ExcelModelRefreshOperations.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.3.48.34/GreenfieldDEV/Services/ExcelModelRefreshOperations.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GreenField.Web.DataContracts" />
  <xs:element name="RetrieveStatementData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="issuerId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="currency" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveStatementDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GreenField.Web.DataContracts" minOccurs="0" name="RetrieveStatementDataResult" nillable="true" type="q1:ExcelModelData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>