SourceCode/ReutersPlugIn/ReutersPlugIn/Service References/ModelRefreshDefinitions/ExcelModelRefreshOperations75.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GreenField.Web.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GreenField.Web.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59430/Services/ExcelModelRefreshOperations.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:59430/Services/ExcelModelRefreshOperations.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/GreenField.DAL" />
  <xs:complexType name="ExcelModelData">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Commodities" nillable="true" type="q1:ArrayOfstring" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GreenField.DAL" minOccurs="0" name="ConsensusEstimateData" nillable="true" type="q2:ArrayOfModelConsensusEstimatesData" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Currencies" nillable="true" type="q3:ArrayOfstring" />
      <xs:element minOccurs="0" name="CurrencyReuters" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModelReferenceData" nillable="true" type="tns:ModelReferenceDataPoints" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GreenField.DAL" minOccurs="0" name="ModelUploadDataPoints" nillable="true" type="q4:ArrayOfDataPointsModelUploadData" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/GreenField.DAL" minOccurs="0" name="ReutersData" nillable="true" type="q5:ArrayOfFinancialStatementDataModels" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExcelModelData" nillable="true" type="tns:ExcelModelData" />
  <xs:complexType name="ModelReferenceDataPoints">
    <xs:sequence>
      <xs:element minOccurs="0" name="COATypes" nillable="true" type="xs:string" />
      <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Currencies" nillable="true" type="q6:ArrayOfstring" />
      <xs:element minOccurs="0" name="IssuerId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IssuerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Q1Override" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="Q2Override" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="Q3Override" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="Q4Override" nillable="true" type="xs:anyType" />
      <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Units" nillable="true" type="q7:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModelReferenceDataPoints" nillable="true" type="tns:ModelReferenceDataPoints" />
</xs:schema>