SourceCode/GreenField/GreenField.ServiceCaller/Service References/CustomScreeningDefinitions/CustomScreeningToolOperations4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GreenField.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GreenField.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PortfolioSelectionData">
    <xs:sequence>
      <xs:element minOccurs="0" name="BenchmarkId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PortfolioId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PortfolioThemeSubGroupId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PortfolioThemeSubGroupName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PortfolioSelectionData" nillable="true" type="tns:PortfolioSelectionData" />
  <xs:complexType name="BenchmarkSelectionData">
    <xs:sequence>
      <xs:element minOccurs="0" name="InstrumentID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ticker" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BenchmarkSelectionData" nillable="true" type="tns:BenchmarkSelectionData" />
  <xs:complexType name="ArrayOfCustomScreeningSecurityData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomScreeningSecurityData" nillable="true" type="tns:CustomScreeningSecurityData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomScreeningSecurityData" nillable="true" type="tns:ArrayOfCustomScreeningSecurityData" />
  <xs:complexType name="CustomScreeningSecurityData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="DataId" type="xs:int" />
      <xs:element minOccurs="0" name="DataSource" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Decimals" type="xs:int" />
      <xs:element minOccurs="0" name="EstimateId" type="xs:int" />
      <xs:element minOccurs="0" name="IsPercentage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IssueName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IssuerId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PeriodType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PeriodYear" type="xs:int" />
      <xs:element minOccurs="0" name="SecurityId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecurityName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecurityTicker" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="YearType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomScreeningSecurityData" nillable="true" type="tns:CustomScreeningSecurityData" />
</xs:schema>