SourceCode/GreenField/GreenField.ServiceCaller/Service References/CustomScreeningDefinitions/CustomScreeningToolOperations41.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GreenField.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GreenField.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCustomSelectionData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomSelectionData" nillable="true" type="tns:CustomSelectionData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomSelectionData" nillable="true" type="tns:ArrayOfCustomSelectionData" />
  <xs:complexType name="CustomSelectionData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Annual" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataColumn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataID" type="xs:int" />
      <xs:element minOccurs="0" name="EstimateID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="LongDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quaterly" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ScreeningId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomSelectionData" nillable="true" type="tns:CustomSelectionData" />
  <xs:complexType name="ArrayOfCSTUserPreferenceInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CSTUserPreferenceInfo" nillable="true" type="tns:CSTUserPreferenceInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCSTUserPreferenceInfo" nillable="true" type="tns:ArrayOfCSTUserPreferenceInfo" />
  <xs:complexType name="CSTUserPreferenceInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Accessibility" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataID" type="xs:int" />
      <xs:element minOccurs="0" name="DataPointsOrder" type="xs:int" />
      <xs:element minOccurs="0" name="DataSource" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstimateID" type="xs:int" />
      <xs:element minOccurs="0" name="FromDate" type="xs:int" />
      <xs:element minOccurs="0" name="ListName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PeriodType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ScreeningId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TableColumn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TableColumnName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ToDate" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="YearType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CSTUserPreferenceInfo" nillable="true" type="tns:CSTUserPreferenceInfo" />
  <xs:complexType name="PortfolioSelectionData">
    <xs:sequence>
      <xs:element minOccurs="0" name="BenchmarkId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PortfolioId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PortfolioThemeSubGroupId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PortfolioThemeSubGroupName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PortfolioSelectionData" nillable="true" type="tns:PortfolioSelectionData" />
  <xs:complexType name="EntitySelectionData">
    <xs:sequence>
      <xs:element minOccurs="0" name="InstrumentID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LongName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecurityType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShortName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SortOrder" type="xs:int" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EntitySelectionData" nillable="true" type="tns:EntitySelectionData" />
  <xs:complexType name="ArrayOfCustomScreeningSecurityData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomScreeningSecurityData" nillable="true" type="tns:CustomScreeningSecurityData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomScreeningSecurityData" nillable="true" type="tns:ArrayOfCustomScreeningSecurityData" />
  <xs:complexType name="CustomScreeningSecurityData">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataId" type="xs:int" />
      <xs:element minOccurs="0" name="DataSource" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Decimals" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="EstimateId" type="xs:int" />
      <xs:element minOccurs="0" name="IsPercentage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IssueName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IssuerId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MarketCapAmount" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="Multiplier" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PeriodType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PeriodYear" type="xs:int" />
      <xs:element minOccurs="0" name="SecurityId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="YearType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomScreeningSecurityData" nillable="true" type="tns:CustomScreeningSecurityData" />
  <xs:complexType name="ArrayOfCompositeFundData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CompositeFundData" nillable="true" type="tns:CompositeFundData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCompositeFundData" nillable="true" type="tns:ArrayOfCompositeFundData" />
  <xs:complexType name="CompositeFundData">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActivePosition" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="ActivePositionInCountry" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="BenchmarkWeight" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="BenchmarkWeightInCountry" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="CountryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Holdings" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="IssuerId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PortfolioTarget" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="PortfolioTargetInCountry" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="SecurityId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Target" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeFundData" nillable="true" type="tns:CompositeFundData" />
</xs:schema>