SourceCode/GreenField/GreenField.ServiceCaller/Service References/CustomScreeningDefinitions/CustomScreeningToolOperations.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CustomScreeningToolOperations" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59430/Services/CustomScreeningToolOperations.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59430/Services/CustomScreeningToolOperations.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" />
      <xsd:import schemaLocation="http://localhost:59430/Services/CustomScreeningToolOperations.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59430/Services/CustomScreeningToolOperations.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:59430/Services/CustomScreeningToolOperations.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/GreenField.DataContracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="CustomScreeningToolOperations_RetrieveCustomControlsList_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveCustomControlsList" />
  </wsdl:message>
  <wsdl:message name="CustomScreeningToolOperations_RetrieveCustomControlsList_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveCustomControlsListResponse" />
  </wsdl:message>
  <wsdl:message name="CustomScreeningToolOperations_RetrieveCustomControlsList_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q1:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="CustomScreeningToolOperations_RetrieveSecurityReferenceTabDataPoints_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveSecurityReferenceTabDataPoints" />
  </wsdl:message>
  <wsdl:message name="CustomScreeningToolOperations_RetrieveSecurityReferenceTabDataPoints_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveSecurityReferenceTabDataPointsResponse" />
  </wsdl:message>
  <wsdl:message name="CustomScreeningToolOperations_RetrieveSecurityReferenceTabDataPoints_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q2:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="CustomScreeningToolOperations_RetrievePeriodFinancialsTabDataPoints_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrievePeriodFinancialsTabDataPoints" />
  </wsdl:message>
  <wsdl:message name="CustomScreeningToolOperations_RetrievePeriodFinancialsTabDataPoints_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrievePeriodFinancialsTabDataPointsResponse" />
  </wsdl:message>
  <wsdl:message name="CustomScreeningToolOperations_RetrievePeriodFinancialsTabDataPoints_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q3:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="CustomScreeningToolOperations_RetrieveCurrentFinancialsTabDataPoints_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveCurrentFinancialsTabDataPoints" />
  </wsdl:message>
  <wsdl:message name="CustomScreeningToolOperations_RetrieveCurrentFinancialsTabDataPoints_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveCurrentFinancialsTabDataPointsResponse" />
  </wsdl:message>
  <wsdl:message name="CustomScreeningToolOperations_RetrieveCurrentFinancialsTabDataPoints_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q4:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="CustomScreeningToolOperations_RetrieveFairValueTabDataPoints_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveFairValueTabDataPoints" />
  </wsdl:message>
  <wsdl:message name="CustomScreeningToolOperations_RetrieveFairValueTabDataPoints_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveFairValueTabDataPointsResponse" />
  </wsdl:message>
  <wsdl:message name="CustomScreeningToolOperations_RetrieveFairValueTabDataPoints_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q5:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="CustomScreeningToolOperations_SaveUserDataPointsPreference_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveUserDataPointsPreference" />
  </wsdl:message>
  <wsdl:message name="CustomScreeningToolOperations_SaveUserDataPointsPreference_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveUserDataPointsPreferenceResponse" />
  </wsdl:message>
  <wsdl:message name="CustomScreeningToolOperations_SaveUserDataPointsPreference_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q6:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="CustomScreeningToolOperations_GetCustomScreeningUserPreferences_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomScreeningUserPreferences" />
  </wsdl:message>
  <wsdl:message name="CustomScreeningToolOperations_GetCustomScreeningUserPreferences_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomScreeningUserPreferencesResponse" />
  </wsdl:message>
  <wsdl:message name="CustomScreeningToolOperations_GetCustomScreeningUserPreferences_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q7:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="CustomScreeningToolOperations_RetrieveSecurityData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveSecurityData" />
  </wsdl:message>
  <wsdl:message name="CustomScreeningToolOperations_RetrieveSecurityData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveSecurityDataResponse" />
  </wsdl:message>
  <wsdl:message name="CustomScreeningToolOperations_RetrieveSecurityData_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q8:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="CustomScreeningToolOperations_UpdateUserDataPointsPreference_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserDataPointsPreference" />
  </wsdl:message>
  <wsdl:message name="CustomScreeningToolOperations_UpdateUserDataPointsPreference_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserDataPointsPreferenceResponse" />
  </wsdl:message>
  <wsdl:message name="CustomScreeningToolOperations_UpdateUserDataPointsPreference_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q9="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q9:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="CustomScreeningToolOperations_RetrieveFairValueTabSource_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveFairValueTabSource" />
  </wsdl:message>
  <wsdl:message name="CustomScreeningToolOperations_RetrieveFairValueTabSource_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveFairValueTabSourceResponse" />
  </wsdl:message>
  <wsdl:message name="CustomScreeningToolOperations_RetrieveFairValueTabSource_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q10="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q10:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="CustomScreeningToolOperations_RetrieveCompositeFundData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveCompositeFundData" />
  </wsdl:message>
  <wsdl:message name="CustomScreeningToolOperations_RetrieveCompositeFundData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveCompositeFundDataResponse" />
  </wsdl:message>
  <wsdl:message name="CustomScreeningToolOperations_RetrieveCompositeFundData_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q11="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q11:ServiceFault" />
  </wsdl:message>
  <wsdl:portType name="CustomScreeningToolOperations">
    <wsdl:operation name="RetrieveCustomControlsList">
      <wsdl:input wsaw:Action="http://tempuri.org/CustomScreeningToolOperations/RetrieveCustomControlsList" message="tns:CustomScreeningToolOperations_RetrieveCustomControlsList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/CustomScreeningToolOperations/RetrieveCustomControlsListResponse" message="tns:CustomScreeningToolOperations_RetrieveCustomControlsList_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/CustomScreeningToolOperations/RetrieveCustomControlsListServiceFaultFault" name="ServiceFaultFault" message="tns:CustomScreeningToolOperations_RetrieveCustomControlsList_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveSecurityReferenceTabDataPoints">
      <wsdl:input wsaw:Action="http://tempuri.org/CustomScreeningToolOperations/RetrieveSecurityReferenceTabDataPoints" message="tns:CustomScreeningToolOperations_RetrieveSecurityReferenceTabDataPoints_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/CustomScreeningToolOperations/RetrieveSecurityReferenceTabDataPointsResponse" message="tns:CustomScreeningToolOperations_RetrieveSecurityReferenceTabDataPoints_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/CustomScreeningToolOperations/RetrieveSecurityReferenceTabDataPointsServiceFaultFault" name="ServiceFaultFault" message="tns:CustomScreeningToolOperations_RetrieveSecurityReferenceTabDataPoints_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrievePeriodFinancialsTabDataPoints">
      <wsdl:input wsaw:Action="http://tempuri.org/CustomScreeningToolOperations/RetrievePeriodFinancialsTabDataPoints" message="tns:CustomScreeningToolOperations_RetrievePeriodFinancialsTabDataPoints_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/CustomScreeningToolOperations/RetrievePeriodFinancialsTabDataPointsResponse" message="tns:CustomScreeningToolOperations_RetrievePeriodFinancialsTabDataPoints_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/CustomScreeningToolOperations/RetrievePeriodFinancialsTabDataPointsServiceFaultFault" name="ServiceFaultFault" message="tns:CustomScreeningToolOperations_RetrievePeriodFinancialsTabDataPoints_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveCurrentFinancialsTabDataPoints">
      <wsdl:input wsaw:Action="http://tempuri.org/CustomScreeningToolOperations/RetrieveCurrentFinancialsTabDataPoints" message="tns:CustomScreeningToolOperations_RetrieveCurrentFinancialsTabDataPoints_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/CustomScreeningToolOperations/RetrieveCurrentFinancialsTabDataPointsResponse" message="tns:CustomScreeningToolOperations_RetrieveCurrentFinancialsTabDataPoints_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/CustomScreeningToolOperations/RetrieveCurrentFinancialsTabDataPointsServiceFaultFault" name="ServiceFaultFault" message="tns:CustomScreeningToolOperations_RetrieveCurrentFinancialsTabDataPoints_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveFairValueTabDataPoints">
      <wsdl:input wsaw:Action="http://tempuri.org/CustomScreeningToolOperations/RetrieveFairValueTabDataPoints" message="tns:CustomScreeningToolOperations_RetrieveFairValueTabDataPoints_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/CustomScreeningToolOperations/RetrieveFairValueTabDataPointsResponse" message="tns:CustomScreeningToolOperations_RetrieveFairValueTabDataPoints_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/CustomScreeningToolOperations/RetrieveFairValueTabDataPointsServiceFaultFault" name="ServiceFaultFault" message="tns:CustomScreeningToolOperations_RetrieveFairValueTabDataPoints_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveUserDataPointsPreference">
      <wsdl:input wsaw:Action="http://tempuri.org/CustomScreeningToolOperations/SaveUserDataPointsPreference" message="tns:CustomScreeningToolOperations_SaveUserDataPointsPreference_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/CustomScreeningToolOperations/SaveUserDataPointsPreferenceResponse" message="tns:CustomScreeningToolOperations_SaveUserDataPointsPreference_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/CustomScreeningToolOperations/SaveUserDataPointsPreferenceServiceFaultFault" name="ServiceFaultFault" message="tns:CustomScreeningToolOperations_SaveUserDataPointsPreference_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomScreeningUserPreferences">
      <wsdl:input wsaw:Action="http://tempuri.org/CustomScreeningToolOperations/GetCustomScreeningUserPreferences" message="tns:CustomScreeningToolOperations_GetCustomScreeningUserPreferences_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/CustomScreeningToolOperations/GetCustomScreeningUserPreferencesResponse" message="tns:CustomScreeningToolOperations_GetCustomScreeningUserPreferences_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/CustomScreeningToolOperations/GetCustomScreeningUserPreferencesServiceFaultFault" name="ServiceFaultFault" message="tns:CustomScreeningToolOperations_GetCustomScreeningUserPreferences_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveSecurityData">
      <wsdl:input wsaw:Action="http://tempuri.org/CustomScreeningToolOperations/RetrieveSecurityData" message="tns:CustomScreeningToolOperations_RetrieveSecurityData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/CustomScreeningToolOperations/RetrieveSecurityDataResponse" message="tns:CustomScreeningToolOperations_RetrieveSecurityData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/CustomScreeningToolOperations/RetrieveSecurityDataServiceFaultFault" name="ServiceFaultFault" message="tns:CustomScreeningToolOperations_RetrieveSecurityData_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserDataPointsPreference">
      <wsdl:input wsaw:Action="http://tempuri.org/CustomScreeningToolOperations/UpdateUserDataPointsPreference" message="tns:CustomScreeningToolOperations_UpdateUserDataPointsPreference_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/CustomScreeningToolOperations/UpdateUserDataPointsPreferenceResponse" message="tns:CustomScreeningToolOperations_UpdateUserDataPointsPreference_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/CustomScreeningToolOperations/UpdateUserDataPointsPreferenceServiceFaultFault" name="ServiceFaultFault" message="tns:CustomScreeningToolOperations_UpdateUserDataPointsPreference_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveFairValueTabSource">
      <wsdl:input wsaw:Action="http://tempuri.org/CustomScreeningToolOperations/RetrieveFairValueTabSource" message="tns:CustomScreeningToolOperations_RetrieveFairValueTabSource_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/CustomScreeningToolOperations/RetrieveFairValueTabSourceResponse" message="tns:CustomScreeningToolOperations_RetrieveFairValueTabSource_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/CustomScreeningToolOperations/RetrieveFairValueTabSourceServiceFaultFault" name="ServiceFaultFault" message="tns:CustomScreeningToolOperations_RetrieveFairValueTabSource_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveCompositeFundData">
      <wsdl:input wsaw:Action="http://tempuri.org/CustomScreeningToolOperations/RetrieveCompositeFundData" message="tns:CustomScreeningToolOperations_RetrieveCompositeFundData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/CustomScreeningToolOperations/RetrieveCompositeFundDataResponse" message="tns:CustomScreeningToolOperations_RetrieveCompositeFundData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/CustomScreeningToolOperations/RetrieveCompositeFundDataServiceFaultFault" name="ServiceFaultFault" message="tns:CustomScreeningToolOperations_RetrieveCompositeFundData_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomScreeningToolOperations" type="tns:CustomScreeningToolOperations">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RetrieveCustomControlsList">
      <soap:operation soapAction="http://tempuri.org/CustomScreeningToolOperations/RetrieveCustomControlsList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveSecurityReferenceTabDataPoints">
      <soap:operation soapAction="http://tempuri.org/CustomScreeningToolOperations/RetrieveSecurityReferenceTabDataPoints" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrievePeriodFinancialsTabDataPoints">
      <soap:operation soapAction="http://tempuri.org/CustomScreeningToolOperations/RetrievePeriodFinancialsTabDataPoints" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveCurrentFinancialsTabDataPoints">
      <soap:operation soapAction="http://tempuri.org/CustomScreeningToolOperations/RetrieveCurrentFinancialsTabDataPoints" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveFairValueTabDataPoints">
      <soap:operation soapAction="http://tempuri.org/CustomScreeningToolOperations/RetrieveFairValueTabDataPoints" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SaveUserDataPointsPreference">
      <soap:operation soapAction="http://tempuri.org/CustomScreeningToolOperations/SaveUserDataPointsPreference" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCustomScreeningUserPreferences">
      <soap:operation soapAction="http://tempuri.org/CustomScreeningToolOperations/GetCustomScreeningUserPreferences" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveSecurityData">
      <soap:operation soapAction="http://tempuri.org/CustomScreeningToolOperations/RetrieveSecurityData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserDataPointsPreference">
      <soap:operation soapAction="http://tempuri.org/CustomScreeningToolOperations/UpdateUserDataPointsPreference" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveFairValueTabSource">
      <soap:operation soapAction="http://tempuri.org/CustomScreeningToolOperations/RetrieveFairValueTabSource" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveCompositeFundData">
      <soap:operation soapAction="http://tempuri.org/CustomScreeningToolOperations/RetrieveCompositeFundData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CustomScreeningToolOperations">
    <wsdl:port name="CustomScreeningToolOperations" binding="tns:CustomScreeningToolOperations">
      <soap:address location="http://localhost:59430/Services/CustomScreeningToolOperations.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>