SourceCode/GreenField/GreenField.ServiceCaller/Service References/SecurityReferenceDefinitions/SecurityReferenceOperations2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GreenField.Web.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GreenField.Web.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSecurityOverviewData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SecurityOverviewData" nillable="true" type="tns:SecurityOverviewData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSecurityOverviewData" nillable="true" type="tns:ArrayOfSecurityOverviewData" />
  <xs:complexType name="SecurityOverviewData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Currency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FiscalYearEnd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Industry" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IssueName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimaryAnalyst" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sector" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubIndustry" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ticker" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Website" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SecurityOverviewData" nillable="true" type="tns:SecurityOverviewData" />
  <xs:complexType name="EntitySelectionData">
    <xs:sequence>
      <xs:element minOccurs="0" name="InstrumentID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LongName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecurityType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShortName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SortOrder" type="xs:int" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EntitySelectionData" nillable="true" type="tns:EntitySelectionData" />
  <xs:complexType name="ArrayOfEntitySelectionData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EntitySelectionData" nillable="true" type="tns:EntitySelectionData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEntitySelectionData" nillable="true" type="tns:ArrayOfEntitySelectionData" />
  <xs:complexType name="ArrayOfPricingReferenceData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PricingReferenceData" nillable="true" type="tns:PricingReferenceData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPricingReferenceData" nillable="true" type="tns:ArrayOfPricingReferenceData" />
  <xs:complexType name="PricingReferenceData">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdjustedDollarPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="DailyClosingPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="DailyGrossReturn" type="xs:decimal" />
      <xs:element minOccurs="0" name="DailyPriceReturn" type="xs:decimal" />
      <xs:element minOccurs="0" name="DailySpotFX" type="xs:decimal" />
      <xs:element minOccurs="0" name="FromDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IndexedPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="InstrumentID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IssueName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ticker" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Volume" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PricingReferenceData" nillable="true" type="tns:PricingReferenceData" />
  <xs:complexType name="ArrayOfUnrealizedGainLossData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UnrealizedGainLossData" nillable="true" type="tns:UnrealizedGainLossData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUnrealizedGainLossData" nillable="true" type="tns:ArrayOfUnrealizedGainLossData" />
  <xs:complexType name="UnrealizedGainLossData">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdjustedPrice" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Cost" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="DailyClosingPrice" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="DailyGrossReturn" type="xs:decimal" />
      <xs:element minOccurs="0" name="DailyPriceReturn" type="xs:decimal" />
      <xs:element minOccurs="0" name="DailySpotFX" type="xs:decimal" />
      <xs:element minOccurs="0" name="FromDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="InstrumentID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IssueName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MovingAverage" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="NinetyDayWtAvg" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Ticker" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnrealizedGainLoss" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Volume" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="WtAvgCost" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UnrealizedGainLossData" nillable="true" type="tns:UnrealizedGainLossData" />
</xs:schema>