SourceCode/GreenField/GreenField.ServiceCaller/Service References/ModelFXDefinitions/ModelFXOperations4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GreenField.DataContracts.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GreenField.DataContracts.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfRegionSelectionData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RegionSelectionData" nillable="true" type="tns:RegionSelectionData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRegionSelectionData" nillable="true" type="tns:ArrayOfRegionSelectionData" />
  <xs:complexType name="RegionSelectionData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Region" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RegionSelectionData" nillable="true" type="tns:RegionSelectionData" />
</xs:schema>