SourceCode/GreenField/GreenField.ServiceCaller/Service References/ModelFXDefinitions/ModelFXOperations4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GreenField.Web.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GreenField.Web.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFXCommodityData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FXCommodityData" nillable="true" type="tns:FXCommodityData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFXCommodityData" nillable="true" type="tns:ArrayOfFXCommodityData" />
  <xs:complexType name="FXCommodityData">
    <xs:sequence>
      <xs:element minOccurs="0" name="CommodityID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrentYearEnd" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="LongTerm" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="NextYearEnd" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="YTD" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Year1" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Year3" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FXCommodityData" nillable="true" type="tns:FXCommodityData" />
</xs:schema>