SourceCode/GreenField/GreenField.ServiceCaller/Service References/ModelFXDefinitions/ModelFXOperations.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ModelFXOperations" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59430/Services/ModelFXOperations.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59430/Services/ModelFXOperations.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" />
      <xsd:import schemaLocation="http://localhost:59430/Services/ModelFXOperations.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59430/Services/ModelFXOperations.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GreenField.Web.DataContracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ModelFXOperations_RetrieveMacroDatabaseKeyAnnualReportData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveMacroDatabaseKeyAnnualReportData" />
  </wsdl:message>
  <wsdl:message name="ModelFXOperations_RetrieveMacroDatabaseKeyAnnualReportData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveMacroDatabaseKeyAnnualReportDataResponse" />
  </wsdl:message>
  <wsdl:message name="ModelFXOperations_RetrieveMacroDatabaseKeyAnnualReportData_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q1:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="ModelFXOperations_RetrieveCountrySelectionData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveCountrySelectionData" />
  </wsdl:message>
  <wsdl:message name="ModelFXOperations_RetrieveCountrySelectionData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveCountrySelectionDataResponse" />
  </wsdl:message>
  <wsdl:message name="ModelFXOperations_RetrieveCountrySelectionData_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q2:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="ModelFXOperations_RetrieveMacroDatabaseKeyAnnualReportDataEMSummary_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveMacroDatabaseKeyAnnualReportDataEMSummary" />
  </wsdl:message>
  <wsdl:message name="ModelFXOperations_RetrieveMacroDatabaseKeyAnnualReportDataEMSummary_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveMacroDatabaseKeyAnnualReportDataEMSummaryResponse" />
  </wsdl:message>
  <wsdl:message name="ModelFXOperations_RetrieveMacroDatabaseKeyAnnualReportDataEMSummary_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q3:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="ModelFXOperations_RetrieveCommodityData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveCommodityData" />
  </wsdl:message>
  <wsdl:message name="ModelFXOperations_RetrieveCommodityData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveCommodityDataResponse" />
  </wsdl:message>
  <wsdl:message name="ModelFXOperations_RetrieveCommodityData_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q4:ServiceFault" />
  </wsdl:message>
  <wsdl:portType name="ModelFXOperations">
    <wsdl:operation name="RetrieveMacroDatabaseKeyAnnualReportData">
      <wsdl:input wsaw:Action="http://tempuri.org/ModelFXOperations/RetrieveMacroDatabaseKeyAnnualReportData" message="tns:ModelFXOperations_RetrieveMacroDatabaseKeyAnnualReportData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ModelFXOperations/RetrieveMacroDatabaseKeyAnnualReportDataResponse" message="tns:ModelFXOperations_RetrieveMacroDatabaseKeyAnnualReportData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ModelFXOperations/RetrieveMacroDatabaseKeyAnnualReportDataServiceFaultFault" name="ServiceFaultFault" message="tns:ModelFXOperations_RetrieveMacroDatabaseKeyAnnualReportData_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveCountrySelectionData">
      <wsdl:input wsaw:Action="http://tempuri.org/ModelFXOperations/RetrieveCountrySelectionData" message="tns:ModelFXOperations_RetrieveCountrySelectionData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ModelFXOperations/RetrieveCountrySelectionDataResponse" message="tns:ModelFXOperations_RetrieveCountrySelectionData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ModelFXOperations/RetrieveCountrySelectionDataServiceFaultFault" name="ServiceFaultFault" message="tns:ModelFXOperations_RetrieveCountrySelectionData_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveMacroDatabaseKeyAnnualReportDataEMSummary">
      <wsdl:input wsaw:Action="http://tempuri.org/ModelFXOperations/RetrieveMacroDatabaseKeyAnnualReportDataEMSummary" message="tns:ModelFXOperations_RetrieveMacroDatabaseKeyAnnualReportDataEMSummary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ModelFXOperations/RetrieveMacroDatabaseKeyAnnualReportDataEMSummaryResponse" message="tns:ModelFXOperations_RetrieveMacroDatabaseKeyAnnualReportDataEMSummary_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ModelFXOperations/RetrieveMacroDatabaseKeyAnnualReportDataEMSummaryServiceFaultFault" name="ServiceFaultFault" message="tns:ModelFXOperations_RetrieveMacroDatabaseKeyAnnualReportDataEMSummary_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveCommodityData">
      <wsdl:input wsaw:Action="http://tempuri.org/ModelFXOperations/RetrieveCommodityData" message="tns:ModelFXOperations_RetrieveCommodityData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ModelFXOperations/RetrieveCommodityDataResponse" message="tns:ModelFXOperations_RetrieveCommodityData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ModelFXOperations/RetrieveCommodityDataServiceFaultFault" name="ServiceFaultFault" message="tns:ModelFXOperations_RetrieveCommodityData_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ModelFXOperations" type="tns:ModelFXOperations">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RetrieveMacroDatabaseKeyAnnualReportData">
      <soap:operation soapAction="http://tempuri.org/ModelFXOperations/RetrieveMacroDatabaseKeyAnnualReportData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveCountrySelectionData">
      <soap:operation soapAction="http://tempuri.org/ModelFXOperations/RetrieveCountrySelectionData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveMacroDatabaseKeyAnnualReportDataEMSummary">
      <soap:operation soapAction="http://tempuri.org/ModelFXOperations/RetrieveMacroDatabaseKeyAnnualReportDataEMSummary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveCommodityData">
      <soap:operation soapAction="http://tempuri.org/ModelFXOperations/RetrieveCommodityData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ModelFXOperations">
    <wsdl:port name="BasicHttpBinding_ModelFXOperations" binding="tns:BasicHttpBinding_ModelFXOperations">
      <soap:address location="http://localhost:59430/Services/ModelFXOperations.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>