SourceCode/GreenField/GreenField.ServiceCaller/Service References/PerformanceDefinitions/PerformanceOperations.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PerformanceOperations" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59430/Services/PerformanceOperations.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59430/Services/PerformanceOperations.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59430/Services/PerformanceOperations.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:59430/Services/PerformanceOperations.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/GreenField.DataContracts" />
      <xsd:import schemaLocation="http://localhost:59430/Services/PerformanceOperations.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" />
      <xsd:import schemaLocation="http://localhost:59430/Services/PerformanceOperations.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/GreenField.DAL" />
      <xsd:import schemaLocation="http://localhost:59430/Services/PerformanceOperations.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
      <xsd:import schemaLocation="http://localhost:59430/Services/PerformanceOperations.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/GreenField.Web.DataContracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="PerformanceOperations_RetrieveRelativePerformanceUIData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveRelativePerformanceUIData" />
  </wsdl:message>
  <wsdl:message name="PerformanceOperations_RetrieveRelativePerformanceUIData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveRelativePerformanceUIDataResponse" />
  </wsdl:message>
  <wsdl:message name="PerformanceOperations_RetrieveBenchmarkChartReturnData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveBenchmarkChartReturnData" />
  </wsdl:message>
  <wsdl:message name="PerformanceOperations_RetrieveBenchmarkChartReturnData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveBenchmarkChartReturnDataResponse" />
  </wsdl:message>
  <wsdl:message name="PerformanceOperations_RetrieveBenchmarkChartReturnData_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q1:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="PerformanceOperations_RetrieveBenchmarkGridReturnData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveBenchmarkGridReturnData" />
  </wsdl:message>
  <wsdl:message name="PerformanceOperations_RetrieveBenchmarkGridReturnData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveBenchmarkGridReturnDataResponse" />
  </wsdl:message>
  <wsdl:message name="PerformanceOperations_RetrieveBenchmarkGridReturnData_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q2:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="PerformanceOperations_RetrieveChartExtensionData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveChartExtensionData" />
  </wsdl:message>
  <wsdl:message name="PerformanceOperations_RetrieveChartExtensionData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveChartExtensionDataResponse" />
  </wsdl:message>
  <wsdl:message name="PerformanceOperations_RetrieveMarketSnapshotSelectionData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveMarketSnapshotSelectionData" />
  </wsdl:message>
  <wsdl:message name="PerformanceOperations_RetrieveMarketSnapshotSelectionData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveMarketSnapshotSelectionDataResponse" />
  </wsdl:message>
  <wsdl:message name="PerformanceOperations_RetrieveMarketSnapshotSelectionData_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q3:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="PerformanceOperations_RetrieveMarketSnapshotPreference_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveMarketSnapshotPreference" />
  </wsdl:message>
  <wsdl:message name="PerformanceOperations_RetrieveMarketSnapshotPreference_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveMarketSnapshotPreferenceResponse" />
  </wsdl:message>
  <wsdl:message name="PerformanceOperations_RetrieveMarketSnapshotPreference_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q4:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="PerformanceOperations_RetrieveMarketPerformanceSnapshotData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveMarketPerformanceSnapshotData" />
  </wsdl:message>
  <wsdl:message name="PerformanceOperations_RetrieveMarketPerformanceSnapshotData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveMarketPerformanceSnapshotDataResponse" />
  </wsdl:message>
  <wsdl:message name="PerformanceOperations_RetrieveMarketPerformanceSnapshotData_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q5:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="PerformanceOperations_SaveMarketSnapshotPreference_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveMarketSnapshotPreference" />
  </wsdl:message>
  <wsdl:message name="PerformanceOperations_SaveMarketSnapshotPreference_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveMarketSnapshotPreferenceResponse" />
  </wsdl:message>
  <wsdl:message name="PerformanceOperations_SaveMarketSnapshotPreference_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q6:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="PerformanceOperations_SaveAsMarketSnapshotPreference_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveAsMarketSnapshotPreference" />
  </wsdl:message>
  <wsdl:message name="PerformanceOperations_SaveAsMarketSnapshotPreference_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveAsMarketSnapshotPreferenceResponse" />
  </wsdl:message>
  <wsdl:message name="PerformanceOperations_SaveAsMarketSnapshotPreference_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q7:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="PerformanceOperations_RemoveMarketSnapshotPreference_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveMarketSnapshotPreference" />
  </wsdl:message>
  <wsdl:message name="PerformanceOperations_RemoveMarketSnapshotPreference_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveMarketSnapshotPreferenceResponse" />
  </wsdl:message>
  <wsdl:message name="PerformanceOperations_RemoveMarketSnapshotPreference_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q8:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="PerformanceOperations_RetrieveRelativePerformanceSectorData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveRelativePerformanceSectorData" />
  </wsdl:message>
  <wsdl:message name="PerformanceOperations_RetrieveRelativePerformanceSectorData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveRelativePerformanceSectorDataResponse" />
  </wsdl:message>
  <wsdl:message name="PerformanceOperations_RetrieveRelativePerformanceSectorData_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q9="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q9:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="PerformanceOperations_RetrieveRelativePerformanceData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveRelativePerformanceData" />
  </wsdl:message>
  <wsdl:message name="PerformanceOperations_RetrieveRelativePerformanceData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveRelativePerformanceDataResponse" />
  </wsdl:message>
  <wsdl:message name="PerformanceOperations_RetrieveRelativePerformanceData_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q10="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q10:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="PerformanceOperations_RetrieveRelativePerformanceCountryActivePositionData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveRelativePerformanceCountryActivePositionData" />
  </wsdl:message>
  <wsdl:message name="PerformanceOperations_RetrieveRelativePerformanceCountryActivePositionData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveRelativePerformanceCountryActivePositionDataResponse" />
  </wsdl:message>
  <wsdl:message name="PerformanceOperations_RetrieveRelativePerformanceCountryActivePositionData_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q11="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q11:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="PerformanceOperations_RetrieveRelativePerformanceSectorActivePositionData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveRelativePerformanceSectorActivePositionData" />
  </wsdl:message>
  <wsdl:message name="PerformanceOperations_RetrieveRelativePerformanceSectorActivePositionData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveRelativePerformanceSectorActivePositionDataResponse" />
  </wsdl:message>
  <wsdl:message name="PerformanceOperations_RetrieveRelativePerformanceSectorActivePositionData_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q12="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q12:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="PerformanceOperations_RetrieveRelativePerformanceSecurityActivePositionData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveRelativePerformanceSecurityActivePositionData" />
  </wsdl:message>
  <wsdl:message name="PerformanceOperations_RetrieveRelativePerformanceSecurityActivePositionData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveRelativePerformanceSecurityActivePositionDataResponse" />
  </wsdl:message>
  <wsdl:message name="PerformanceOperations_RetrieveRelativePerformanceSecurityActivePositionData_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q13="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q13:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="PerformanceOperations_RetrieveRelativePerformanceSecurityData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveRelativePerformanceSecurityData" />
  </wsdl:message>
  <wsdl:message name="PerformanceOperations_RetrieveRelativePerformanceSecurityData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveRelativePerformanceSecurityDataResponse" />
  </wsdl:message>
  <wsdl:message name="PerformanceOperations_RetrieveRelativePerformanceSecurityData_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q14="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q14:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="PerformanceOperations_RetrieveMarketCapitalizationData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveMarketCapitalizationData" />
  </wsdl:message>
  <wsdl:message name="PerformanceOperations_RetrieveMarketCapitalizationData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveMarketCapitalizationDataResponse" />
  </wsdl:message>
  <wsdl:message name="PerformanceOperations_RetrieveMarketCapitalizationData_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q15="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q15:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="PerformanceOperations_RetrievePerformanceGridData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrievePerformanceGridData" />
  </wsdl:message>
  <wsdl:message name="PerformanceOperations_RetrievePerformanceGridData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrievePerformanceGridDataResponse" />
  </wsdl:message>
  <wsdl:message name="PerformanceOperations_RetrievePerformanceGridData_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q16="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q16:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="PerformanceOperations_RetrievePerformanceGraphData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrievePerformanceGraphData" />
  </wsdl:message>
  <wsdl:message name="PerformanceOperations_RetrievePerformanceGraphData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrievePerformanceGraphDataResponse" />
  </wsdl:message>
  <wsdl:message name="PerformanceOperations_RetrievePerformanceGraphData_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q17="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q17:ServiceFault" />
  </wsdl:message>
  <wsdl:portType name="PerformanceOperations">
    <wsdl:operation name="RetrieveRelativePerformanceUIData">
      <wsdl:input wsaw:Action="http://tempuri.org/PerformanceOperations/RetrieveRelativePerformanceUIData" message="tns:PerformanceOperations_RetrieveRelativePerformanceUIData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PerformanceOperations/RetrieveRelativePerformanceUIDataResponse" message="tns:PerformanceOperations_RetrieveRelativePerformanceUIData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveBenchmarkChartReturnData">
      <wsdl:input wsaw:Action="http://tempuri.org/PerformanceOperations/RetrieveBenchmarkChartReturnData" message="tns:PerformanceOperations_RetrieveBenchmarkChartReturnData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PerformanceOperations/RetrieveBenchmarkChartReturnDataResponse" message="tns:PerformanceOperations_RetrieveBenchmarkChartReturnData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/PerformanceOperations/RetrieveBenchmarkChartReturnDataServiceFaultFault" name="ServiceFaultFault" message="tns:PerformanceOperations_RetrieveBenchmarkChartReturnData_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveBenchmarkGridReturnData">
      <wsdl:input wsaw:Action="http://tempuri.org/PerformanceOperations/RetrieveBenchmarkGridReturnData" message="tns:PerformanceOperations_RetrieveBenchmarkGridReturnData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PerformanceOperations/RetrieveBenchmarkGridReturnDataResponse" message="tns:PerformanceOperations_RetrieveBenchmarkGridReturnData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/PerformanceOperations/RetrieveBenchmarkGridReturnDataServiceFaultFault" name="ServiceFaultFault" message="tns:PerformanceOperations_RetrieveBenchmarkGridReturnData_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveChartExtensionData">
      <wsdl:input wsaw:Action="http://tempuri.org/PerformanceOperations/RetrieveChartExtensionData" message="tns:PerformanceOperations_RetrieveChartExtensionData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PerformanceOperations/RetrieveChartExtensionDataResponse" message="tns:PerformanceOperations_RetrieveChartExtensionData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveMarketSnapshotSelectionData">
      <wsdl:input wsaw:Action="http://tempuri.org/PerformanceOperations/RetrieveMarketSnapshotSelectionData" message="tns:PerformanceOperations_RetrieveMarketSnapshotSelectionData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PerformanceOperations/RetrieveMarketSnapshotSelectionDataResponse" message="tns:PerformanceOperations_RetrieveMarketSnapshotSelectionData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/PerformanceOperations/RetrieveMarketSnapshotSelectionDataServiceFaultFault" name="ServiceFaultFault" message="tns:PerformanceOperations_RetrieveMarketSnapshotSelectionData_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveMarketSnapshotPreference">
      <wsdl:input wsaw:Action="http://tempuri.org/PerformanceOperations/RetrieveMarketSnapshotPreference" message="tns:PerformanceOperations_RetrieveMarketSnapshotPreference_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PerformanceOperations/RetrieveMarketSnapshotPreferenceResponse" message="tns:PerformanceOperations_RetrieveMarketSnapshotPreference_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/PerformanceOperations/RetrieveMarketSnapshotPreferenceServiceFaultFault" name="ServiceFaultFault" message="tns:PerformanceOperations_RetrieveMarketSnapshotPreference_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveMarketPerformanceSnapshotData">
      <wsdl:input wsaw:Action="http://tempuri.org/PerformanceOperations/RetrieveMarketPerformanceSnapshotData" message="tns:PerformanceOperations_RetrieveMarketPerformanceSnapshotData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PerformanceOperations/RetrieveMarketPerformanceSnapshotDataResponse" message="tns:PerformanceOperations_RetrieveMarketPerformanceSnapshotData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/PerformanceOperations/RetrieveMarketPerformanceSnapshotDataServiceFaultFault" name="ServiceFaultFault" message="tns:PerformanceOperations_RetrieveMarketPerformanceSnapshotData_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveMarketSnapshotPreference">
      <wsdl:input wsaw:Action="http://tempuri.org/PerformanceOperations/SaveMarketSnapshotPreference" message="tns:PerformanceOperations_SaveMarketSnapshotPreference_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PerformanceOperations/SaveMarketSnapshotPreferenceResponse" message="tns:PerformanceOperations_SaveMarketSnapshotPreference_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/PerformanceOperations/SaveMarketSnapshotPreferenceServiceFaultFault" name="ServiceFaultFault" message="tns:PerformanceOperations_SaveMarketSnapshotPreference_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveAsMarketSnapshotPreference">
      <wsdl:input wsaw:Action="http://tempuri.org/PerformanceOperations/SaveAsMarketSnapshotPreference" message="tns:PerformanceOperations_SaveAsMarketSnapshotPreference_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PerformanceOperations/SaveAsMarketSnapshotPreferenceResponse" message="tns:PerformanceOperations_SaveAsMarketSnapshotPreference_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/PerformanceOperations/SaveAsMarketSnapshotPreferenceServiceFaultFault" name="ServiceFaultFault" message="tns:PerformanceOperations_SaveAsMarketSnapshotPreference_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveMarketSnapshotPreference">
      <wsdl:input wsaw:Action="http://tempuri.org/PerformanceOperations/RemoveMarketSnapshotPreference" message="tns:PerformanceOperations_RemoveMarketSnapshotPreference_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PerformanceOperations/RemoveMarketSnapshotPreferenceResponse" message="tns:PerformanceOperations_RemoveMarketSnapshotPreference_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/PerformanceOperations/RemoveMarketSnapshotPreferenceServiceFaultFault" name="ServiceFaultFault" message="tns:PerformanceOperations_RemoveMarketSnapshotPreference_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveRelativePerformanceSectorData">
      <wsdl:input wsaw:Action="http://tempuri.org/PerformanceOperations/RetrieveRelativePerformanceSectorData" message="tns:PerformanceOperations_RetrieveRelativePerformanceSectorData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PerformanceOperations/RetrieveRelativePerformanceSectorDataResponse" message="tns:PerformanceOperations_RetrieveRelativePerformanceSectorData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/PerformanceOperations/RetrieveRelativePerformanceSectorDataServiceFaultFault" name="ServiceFaultFault" message="tns:PerformanceOperations_RetrieveRelativePerformanceSectorData_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveRelativePerformanceData">
      <wsdl:input wsaw:Action="http://tempuri.org/PerformanceOperations/RetrieveRelativePerformanceData" message="tns:PerformanceOperations_RetrieveRelativePerformanceData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PerformanceOperations/RetrieveRelativePerformanceDataResponse" message="tns:PerformanceOperations_RetrieveRelativePerformanceData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/PerformanceOperations/RetrieveRelativePerformanceDataServiceFaultFault" name="ServiceFaultFault" message="tns:PerformanceOperations_RetrieveRelativePerformanceData_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveRelativePerformanceCountryActivePositionData">
      <wsdl:input wsaw:Action="http://tempuri.org/PerformanceOperations/RetrieveRelativePerformanceCountryActivePositionData" message="tns:PerformanceOperations_RetrieveRelativePerformanceCountryActivePositionData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PerformanceOperations/RetrieveRelativePerformanceCountryActivePositionDataResponse" message="tns:PerformanceOperations_RetrieveRelativePerformanceCountryActivePositionData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/PerformanceOperations/RetrieveRelativePerformanceCountryActivePositionDataServiceFaultFault" name="ServiceFaultFault" message="tns:PerformanceOperations_RetrieveRelativePerformanceCountryActivePositionData_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveRelativePerformanceSectorActivePositionData">
      <wsdl:input wsaw:Action="http://tempuri.org/PerformanceOperations/RetrieveRelativePerformanceSectorActivePositionData" message="tns:PerformanceOperations_RetrieveRelativePerformanceSectorActivePositionData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PerformanceOperations/RetrieveRelativePerformanceSectorActivePositionDataResponse" message="tns:PerformanceOperations_RetrieveRelativePerformanceSectorActivePositionData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/PerformanceOperations/RetrieveRelativePerformanceSectorActivePositionDataServiceFaultFault" name="ServiceFaultFault" message="tns:PerformanceOperations_RetrieveRelativePerformanceSectorActivePositionData_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveRelativePerformanceSecurityActivePositionData">
      <wsdl:input wsaw:Action="http://tempuri.org/PerformanceOperations/RetrieveRelativePerformanceSecurityActivePositionData" message="tns:PerformanceOperations_RetrieveRelativePerformanceSecurityActivePositionData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PerformanceOperations/RetrieveRelativePerformanceSecurityActivePositionDataResponse" message="tns:PerformanceOperations_RetrieveRelativePerformanceSecurityActivePositionData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/PerformanceOperations/RetrieveRelativePerformanceSecurityActivePositionDataServiceFaultFault" name="ServiceFaultFault" message="tns:PerformanceOperations_RetrieveRelativePerformanceSecurityActivePositionData_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveRelativePerformanceSecurityData">
      <wsdl:input wsaw:Action="http://tempuri.org/PerformanceOperations/RetrieveRelativePerformanceSecurityData" message="tns:PerformanceOperations_RetrieveRelativePerformanceSecurityData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PerformanceOperations/RetrieveRelativePerformanceSecurityDataResponse" message="tns:PerformanceOperations_RetrieveRelativePerformanceSecurityData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/PerformanceOperations/RetrieveRelativePerformanceSecurityDataServiceFaultFault" name="ServiceFaultFault" message="tns:PerformanceOperations_RetrieveRelativePerformanceSecurityData_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveMarketCapitalizationData">
      <wsdl:input wsaw:Action="http://tempuri.org/PerformanceOperations/RetrieveMarketCapitalizationData" message="tns:PerformanceOperations_RetrieveMarketCapitalizationData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PerformanceOperations/RetrieveMarketCapitalizationDataResponse" message="tns:PerformanceOperations_RetrieveMarketCapitalizationData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/PerformanceOperations/RetrieveMarketCapitalizationDataServiceFaultFault" name="ServiceFaultFault" message="tns:PerformanceOperations_RetrieveMarketCapitalizationData_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrievePerformanceGridData">
      <wsdl:input wsaw:Action="http://tempuri.org/PerformanceOperations/RetrievePerformanceGridData" message="tns:PerformanceOperations_RetrievePerformanceGridData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PerformanceOperations/RetrievePerformanceGridDataResponse" message="tns:PerformanceOperations_RetrievePerformanceGridData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/PerformanceOperations/RetrievePerformanceGridDataServiceFaultFault" name="ServiceFaultFault" message="tns:PerformanceOperations_RetrievePerformanceGridData_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrievePerformanceGraphData">
      <wsdl:input wsaw:Action="http://tempuri.org/PerformanceOperations/RetrievePerformanceGraphData" message="tns:PerformanceOperations_RetrievePerformanceGraphData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PerformanceOperations/RetrievePerformanceGraphDataResponse" message="tns:PerformanceOperations_RetrievePerformanceGraphData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/PerformanceOperations/RetrievePerformanceGraphDataServiceFaultFault" name="ServiceFaultFault" message="tns:PerformanceOperations_RetrievePerformanceGraphData_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PerformanceOperations" type="tns:PerformanceOperations">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RetrieveRelativePerformanceUIData">
      <soap:operation soapAction="http://tempuri.org/PerformanceOperations/RetrieveRelativePerformanceUIData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveBenchmarkChartReturnData">
      <soap:operation soapAction="http://tempuri.org/PerformanceOperations/RetrieveBenchmarkChartReturnData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveBenchmarkGridReturnData">
      <soap:operation soapAction="http://tempuri.org/PerformanceOperations/RetrieveBenchmarkGridReturnData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveChartExtensionData">
      <soap:operation soapAction="http://tempuri.org/PerformanceOperations/RetrieveChartExtensionData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveMarketSnapshotSelectionData">
      <soap:operation soapAction="http://tempuri.org/PerformanceOperations/RetrieveMarketSnapshotSelectionData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveMarketSnapshotPreference">
      <soap:operation soapAction="http://tempuri.org/PerformanceOperations/RetrieveMarketSnapshotPreference" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveMarketPerformanceSnapshotData">
      <soap:operation soapAction="http://tempuri.org/PerformanceOperations/RetrieveMarketPerformanceSnapshotData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SaveMarketSnapshotPreference">
      <soap:operation soapAction="http://tempuri.org/PerformanceOperations/SaveMarketSnapshotPreference" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SaveAsMarketSnapshotPreference">
      <soap:operation soapAction="http://tempuri.org/PerformanceOperations/SaveAsMarketSnapshotPreference" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RemoveMarketSnapshotPreference">
      <soap:operation soapAction="http://tempuri.org/PerformanceOperations/RemoveMarketSnapshotPreference" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveRelativePerformanceSectorData">
      <soap:operation soapAction="http://tempuri.org/PerformanceOperations/RetrieveRelativePerformanceSectorData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveRelativePerformanceData">
      <soap:operation soapAction="http://tempuri.org/PerformanceOperations/RetrieveRelativePerformanceData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveRelativePerformanceCountryActivePositionData">
      <soap:operation soapAction="http://tempuri.org/PerformanceOperations/RetrieveRelativePerformanceCountryActivePositionData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveRelativePerformanceSectorActivePositionData">
      <soap:operation soapAction="http://tempuri.org/PerformanceOperations/RetrieveRelativePerformanceSectorActivePositionData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveRelativePerformanceSecurityActivePositionData">
      <soap:operation soapAction="http://tempuri.org/PerformanceOperations/RetrieveRelativePerformanceSecurityActivePositionData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveRelativePerformanceSecurityData">
      <soap:operation soapAction="http://tempuri.org/PerformanceOperations/RetrieveRelativePerformanceSecurityData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveMarketCapitalizationData">
      <soap:operation soapAction="http://tempuri.org/PerformanceOperations/RetrieveMarketCapitalizationData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrievePerformanceGridData">
      <soap:operation soapAction="http://tempuri.org/PerformanceOperations/RetrievePerformanceGridData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrievePerformanceGraphData">
      <soap:operation soapAction="http://tempuri.org/PerformanceOperations/RetrievePerformanceGraphData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PerformanceOperations">
    <wsdl:port name="PerformanceOperations" binding="tns:PerformanceOperations">
      <soap:address location="http://localhost:59430/Services/PerformanceOperations.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>