SourceCode/GreenField/GreenField.ServiceCaller/Service References/PerformanceDefinitions/PerformanceOperations5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59430/Services/PerformanceOperations.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:59430/Services/PerformanceOperations.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/GreenField.DataContracts" />
  <xs:import schemaLocation="http://localhost:59430/Services/PerformanceOperations.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/GreenField.DAL" />
  <xs:import schemaLocation="http://localhost:59430/Services/PerformanceOperations.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/GreenField.Web.DataContracts" />
  <xs:element name="RetrieveRelativePerformanceUIData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="objSelectedEntity" nillable="true" type="q1:ArrayOfKeyValueOfstringstring" />
        <xs:element minOccurs="0" name="objEffectiveDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveRelativePerformanceUIDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GreenField.DataContracts" minOccurs="0" name="RetrieveRelativePerformanceUIDataResult" nillable="true" type="q2:ArrayOfRelativePerformanceUIData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveBenchmarkChartReturnData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="objSelectedEntities" nillable="true" type="q3:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveBenchmarkChartReturnDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GreenField.DataContracts" minOccurs="0" name="RetrieveBenchmarkChartReturnDataResult" nillable="true" type="q4:ArrayOfBenchmarkChartReturnData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveBenchmarkGridReturnData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="objSelectedEntities" nillable="true" type="q5:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveBenchmarkGridReturnDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/GreenField.DataContracts" minOccurs="0" name="RetrieveBenchmarkGridReturnDataResult" nillable="true" type="q6:ArrayOfBenchmarkGridReturnData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveChartExtensionData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="objSelectedEntities" nillable="true" type="q7:ArrayOfKeyValueOfstringstring" />
        <xs:element minOccurs="0" name="objStartDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveChartExtensionDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/GreenField.DataContracts" minOccurs="0" name="RetrieveChartExtensionDataResult" nillable="true" type="q8:ArrayOfChartExtensionData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveBenchmarkFilterSelectionData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="benchmarkCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="benchmarkName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filterType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveBenchmarkFilterSelectionDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/GreenField.DataContracts" minOccurs="0" name="RetrieveBenchmarkFilterSelectionDataResult" nillable="true" type="q9:ArrayOfBenchmarkFilterSelectionData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveMarketSnapshotSelectionData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveMarketSnapshotSelectionDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/GreenField.DAL" minOccurs="0" name="RetrieveMarketSnapshotSelectionDataResult" nillable="true" type="q10:ArrayOfMarketSnapshotSelectionData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveMarketSnapshotPreference">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="snapshotPreferenceId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveMarketSnapshotPreferenceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/GreenField.DAL" minOccurs="0" name="RetrieveMarketSnapshotPreferenceResult" nillable="true" type="q11:ArrayOfMarketSnapshotPreference" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveMarketSnapshotPerformanceData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/GreenField.DAL" minOccurs="0" name="marketSnapshotPreference" nillable="true" type="q12:ArrayOfMarketSnapshotPreference" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveMarketSnapshotPerformanceDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/GreenField.Web.DataContracts" minOccurs="0" name="RetrieveMarketSnapshotPerformanceDataResult" nillable="true" type="q13:ArrayOfMarketSnapshotPerformanceData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveMarketSnapshotPreference">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateXML" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveMarketSnapshotPreferenceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/GreenField.DAL" minOccurs="0" name="SaveMarketSnapshotPreferenceResult" nillable="true" type="q14:ArrayOfMarketSnapshotPreference" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAsMarketSnapshotPreference">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateXML" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAsMarketSnapshotPreferenceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/GreenField.Web.DataContracts" minOccurs="0" name="SaveAsMarketSnapshotPreferenceResult" nillable="true" type="q15:PopulatedMarketSnapshotPerformanceData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveMarketSnapshotPreference">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="snapshotName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveMarketSnapshotPreferenceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveMarketSnapshotPreferenceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveRelativePerformanceSectorData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/GreenField.DataContracts" minOccurs="0" name="portfolioSelectionData" nillable="true" type="q16:PortfolioSelectionData" />
        <xs:element minOccurs="0" name="effectiveDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveRelativePerformanceSectorDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/GreenField.DataContracts" minOccurs="0" name="RetrieveRelativePerformanceSectorDataResult" nillable="true" type="q17:ArrayOfRelativePerformanceSectorData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveRelativePerformanceData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/GreenField.DataContracts" minOccurs="0" name="portfolioSelectionData" nillable="true" type="q18:PortfolioSelectionData" />
        <xs:element minOccurs="0" name="effectiveDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="period" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveRelativePerformanceDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/GreenField.DataContracts" minOccurs="0" name="RetrieveRelativePerformanceDataResult" nillable="true" type="q19:ArrayOfRelativePerformanceData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveRelativePerformanceCountryActivePositionData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/GreenField.DataContracts" minOccurs="0" name="portfolioSelectionData" nillable="true" type="q20:PortfolioSelectionData" />
        <xs:element minOccurs="0" name="effectiveDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="period" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="countryID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sectorID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveRelativePerformanceCountryActivePositionDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/GreenField.DataContracts" minOccurs="0" name="RetrieveRelativePerformanceCountryActivePositionDataResult" nillable="true" type="q21:ArrayOfRelativePerformanceActivePositionData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveRelativePerformanceSectorActivePositionData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/GreenField.DataContracts" minOccurs="0" name="portfolioSelectionData" nillable="true" type="q22:PortfolioSelectionData" />
        <xs:element minOccurs="0" name="effectiveDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="period" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="countryID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sectorID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveRelativePerformanceSectorActivePositionDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/GreenField.DataContracts" minOccurs="0" name="RetrieveRelativePerformanceSectorActivePositionDataResult" nillable="true" type="q23:ArrayOfRelativePerformanceActivePositionData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveRelativePerformanceSecurityActivePositionData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/GreenField.DataContracts" minOccurs="0" name="portfolioSelectionData" nillable="true" type="q24:PortfolioSelectionData" />
        <xs:element minOccurs="0" name="effectiveDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="period" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="countryID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sectorID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveRelativePerformanceSecurityActivePositionDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/GreenField.DataContracts" minOccurs="0" name="RetrieveRelativePerformanceSecurityActivePositionDataResult" nillable="true" type="q25:ArrayOfRelativePerformanceActivePositionData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveRelativePerformanceSecurityData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/GreenField.DataContracts" minOccurs="0" name="portfolioSelectionData" nillable="true" type="q26:PortfolioSelectionData" />
        <xs:element minOccurs="0" name="effectiveDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="period" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="countryID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sectorID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveRelativePerformanceSecurityDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/GreenField.DataContracts" minOccurs="0" name="RetrieveRelativePerformanceSecurityDataResult" nillable="true" type="q27:ArrayOfRelativePerformanceSecurityData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveMarketCapitalizationData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/GreenField.DataContracts" minOccurs="0" name="portfolioSelectionData" nillable="true" type="q28:PortfolioSelectionData" />
        <xs:element minOccurs="0" name="effectiveDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="filterType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filterValue" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isExCashSecurity" type="xs:boolean" />
        <xs:element minOccurs="0" name="lookThruEnabled" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveMarketCapitalizationDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/GreenField.DataContracts" minOccurs="0" name="RetrieveMarketCapitalizationDataResult" nillable="true" type="q29:ArrayOfMarketCapitalizationData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrievePerformanceGridData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/GreenField.DataContracts" minOccurs="0" name="portfolioSelectionData" nillable="true" type="q30:PortfolioSelectionData" />
        <xs:element minOccurs="0" name="effectiveDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="country" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrievePerformanceGridDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/GreenField.DataContracts" minOccurs="0" name="RetrievePerformanceGridDataResult" nillable="true" type="q31:ArrayOfPerformanceGridData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrievePerformanceGraphData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/GreenField.DataContracts" minOccurs="0" name="fundSelectionData" nillable="true" type="q32:PortfolioSelectionData" />
        <xs:element minOccurs="0" name="effectiveDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="period" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="country" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrievePerformanceGraphDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/GreenField.DataContracts" minOccurs="0" name="RetrievePerformanceGraphDataResult" nillable="true" type="q33:ArrayOfPerformanceGraphData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>