SourceCode/GreenField/GreenField.ServiceCaller/Service References/PerformanceDefinitions/PerformanceOperations5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GreenField.Web.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GreenField.Web.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59430/Services/PerformanceOperations.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/GreenField.DAL" />
  <xs:complexType name="ArrayOfRelativePerformanceUIData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RelativePerformanceUIData" nillable="true" type="tns:RelativePerformanceUIData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRelativePerformanceUIData" nillable="true" type="tns:ArrayOfRelativePerformanceUIData" />
  <xs:complexType name="RelativePerformanceUIData">
    <xs:sequence>
      <xs:element minOccurs="0" name="EffectiveDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EntityId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EntityName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EntityType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FiveYearReturn" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="MTDReturn" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="OneYearReturn" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="QTDReturn" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ThreeYearReturn" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="YTDReturn" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RelativePerformanceUIData" nillable="true" type="tns:RelativePerformanceUIData" />
  <xs:complexType name="ArrayOfMarketPerformanceSnapshotData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MarketPerformanceSnapshotData" nillable="true" type="tns:MarketPerformanceSnapshotData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMarketPerformanceSnapshotData" nillable="true" type="tns:ArrayOfMarketPerformanceSnapshotData" />
  <xs:complexType name="MarketPerformanceSnapshotData">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateToDateReturn" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="LastYearReturn" nillable="true" type="xs:decimal" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GreenField.DAL" minOccurs="0" name="MarketSnapshotPreferenceInfo" nillable="true" type="q1:MarketSnapshotPreference" />
      <xs:element minOccurs="0" name="MonthToDateReturn" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="QuarterToDateReturn" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="SecondLastYearReturn" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ThirdLastYearReturn" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="WeekToDateReturn" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="YearToDateReturn" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MarketPerformanceSnapshotData" nillable="true" type="tns:MarketPerformanceSnapshotData" />
</xs:schema>