SourceCode/GreenField/GreenField.ServiceCaller/Service References/PerformanceDefinitions/PerformanceOperations6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GreenField.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GreenField.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfRelativePerformanceUIData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RelativePerformanceUIData" nillable="true" type="tns:RelativePerformanceUIData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRelativePerformanceUIData" nillable="true" type="tns:ArrayOfRelativePerformanceUIData" />
  <xs:complexType name="RelativePerformanceUIData">
    <xs:sequence>
      <xs:element minOccurs="0" name="EffectiveDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EntityId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EntityName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EntityType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FiveYearReturn" type="xs:decimal" />
      <xs:element minOccurs="0" name="MTDReturn" type="xs:decimal" />
      <xs:element minOccurs="0" name="OneYearReturn" type="xs:decimal" />
      <xs:element minOccurs="0" name="QTDReturn" type="xs:decimal" />
      <xs:element minOccurs="0" name="ThreeYearReturn" type="xs:decimal" />
      <xs:element minOccurs="0" name="YTDReturn" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RelativePerformanceUIData" nillable="true" type="tns:RelativePerformanceUIData" />
  <xs:complexType name="ArrayOfBenchmarkChartReturnData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BenchmarkChartReturnData" nillable="true" type="tns:BenchmarkChartReturnData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBenchmarkChartReturnData" nillable="true" type="tns:ArrayOfBenchmarkChartReturnData" />
  <xs:complexType name="BenchmarkChartReturnData">
    <xs:sequence>
      <xs:element minOccurs="0" name="FromDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IndexedValue" type="xs:decimal" />
      <xs:element minOccurs="0" name="MTD" type="xs:decimal" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OneD" type="xs:decimal" />
      <xs:element minOccurs="0" name="OneY" type="xs:decimal" />
      <xs:element minOccurs="0" name="PreviousYearData" type="xs:decimal" />
      <xs:element minOccurs="0" name="QTD" type="xs:decimal" />
      <xs:element minOccurs="0" name="ThreePreviousYearData" type="xs:decimal" />
      <xs:element minOccurs="0" name="TwoPreviousYearData" type="xs:decimal" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WTD" type="xs:decimal" />
      <xs:element minOccurs="0" name="YTD" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BenchmarkChartReturnData" nillable="true" type="tns:BenchmarkChartReturnData" />
  <xs:complexType name="ArrayOfBenchmarkGridReturnData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BenchmarkGridReturnData" nillable="true" type="tns:BenchmarkGridReturnData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBenchmarkGridReturnData" nillable="true" type="tns:ArrayOfBenchmarkGridReturnData" />
  <xs:complexType name="BenchmarkGridReturnData">
    <xs:sequence>
      <xs:element minOccurs="0" name="MTD" type="xs:decimal" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PreviousYearReturn" type="xs:decimal" />
      <xs:element minOccurs="0" name="QTD" type="xs:decimal" />
      <xs:element minOccurs="0" name="ThreePreviousYearReturn" type="xs:decimal" />
      <xs:element minOccurs="0" name="TwoPreviousYearReturn" type="xs:decimal" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="YTD" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BenchmarkGridReturnData" nillable="true" type="tns:BenchmarkGridReturnData" />
  <xs:complexType name="ArrayOfChartExtensionData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ChartExtensionData" nillable="true" type="tns:ChartExtensionData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfChartExtensionData" nillable="true" type="tns:ArrayOfChartExtensionData" />
  <xs:complexType name="ChartExtensionData">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdjustedDollarPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="AmountTraded" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountryReturn" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="PriceReturn" type="xs:decimal" />
      <xs:element minOccurs="0" name="Sector" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SectorReturn" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Ticker" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ToDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChartExtensionData" nillable="true" type="tns:ChartExtensionData" />
  <xs:complexType name="PortfolioSelectionData">
    <xs:sequence>
      <xs:element minOccurs="0" name="BenchmarkId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PortfolioId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PortfolioThemeSubGroupId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PortfolioThemeSubGroupName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PortfolioSelectionData" nillable="true" type="tns:PortfolioSelectionData" />
  <xs:complexType name="ArrayOfRelativePerformanceSectorData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RelativePerformanceSectorData" nillable="true" type="tns:RelativePerformanceSectorData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRelativePerformanceSectorData" nillable="true" type="tns:ArrayOfRelativePerformanceSectorData" />
  <xs:complexType name="RelativePerformanceSectorData">
    <xs:sequence>
      <xs:element minOccurs="0" name="SectorId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SectorName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RelativePerformanceSectorData" nillable="true" type="tns:RelativePerformanceSectorData" />
  <xs:complexType name="ArrayOfRelativePerformanceData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RelativePerformanceData" nillable="true" type="tns:RelativePerformanceData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRelativePerformanceData" nillable="true" type="tns:ArrayOfRelativePerformanceData" />
  <xs:complexType name="RelativePerformanceData">
    <xs:sequence>
      <xs:element minOccurs="0" name="AggregateCountryActivePosition" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="AggregateCountryAlpha" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="AggregateCountryBenchmarkShare" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="AggregateCountryPortfolioShare" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="CountryId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RelativePerformanceCountrySpecificInfo" nillable="true" type="tns:ArrayOfRelativePerformanceCountrySpecificData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RelativePerformanceData" nillable="true" type="tns:RelativePerformanceData" />
  <xs:complexType name="ArrayOfRelativePerformanceCountrySpecificData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RelativePerformanceCountrySpecificData" nillable="true" type="tns:RelativePerformanceCountrySpecificData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRelativePerformanceCountrySpecificData" nillable="true" type="tns:ArrayOfRelativePerformanceCountrySpecificData" />
  <xs:complexType name="RelativePerformanceCountrySpecificData">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActivePosition" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Alpha" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="BenchmarkShare" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PortfolioShare" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="SectorId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SectorName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RelativePerformanceCountrySpecificData" nillable="true" type="tns:RelativePerformanceCountrySpecificData" />
  <xs:complexType name="ArrayOfRelativePerformanceActivePositionData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RelativePerformanceActivePositionData" nillable="true" type="tns:RelativePerformanceActivePositionData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRelativePerformanceActivePositionData" nillable="true" type="tns:ArrayOfRelativePerformanceActivePositionData" />
  <xs:complexType name="RelativePerformanceActivePositionData">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActivePosition" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="BenchmarkWeight" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Entity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FundWeight" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="MarketValue" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RelativePerformanceActivePositionData" nillable="true" type="tns:RelativePerformanceActivePositionData" />
  <xs:complexType name="ArrayOfRelativePerformanceSecurityData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RelativePerformanceSecurityData" nillable="true" type="tns:RelativePerformanceSecurityData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRelativePerformanceSecurityData" nillable="true" type="tns:ArrayOfRelativePerformanceSecurityData" />
  <xs:complexType name="RelativePerformanceSecurityData">
    <xs:sequence>
      <xs:element minOccurs="0" name="SecurityAlpha" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="SecurityCountryId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecurityMarketValue" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="SecurityName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecuritySectorName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RelativePerformanceSecurityData" nillable="true" type="tns:RelativePerformanceSecurityData" />
  <xs:complexType name="ArrayOfMarketCapitalizationData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MarketCapitalizationData" nillable="true" type="tns:MarketCapitalizationData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMarketCapitalizationData" nillable="true" type="tns:ArrayOfMarketCapitalizationData" />
  <xs:complexType name="MarketCapitalizationData">
    <xs:sequence>
      <xs:element minOccurs="0" name="AsecSecShortName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BenchmarkSumLargeRange" type="xs:decimal" />
      <xs:element minOccurs="0" name="BenchmarkSumMediumRange" type="xs:decimal" />
      <xs:element minOccurs="0" name="BenchmarkSumMegaRange" type="xs:decimal" />
      <xs:element minOccurs="0" name="BenchmarkSumMicroRange" type="xs:decimal" />
      <xs:element minOccurs="0" name="BenchmarkSumSmallRange" type="xs:decimal" />
      <xs:element minOccurs="0" name="BenchmarkSumUndefinedRange" type="xs:decimal" />
      <xs:element minOccurs="0" name="BenchmarkWeight" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="BenchmarkWtdAvg" type="xs:decimal" />
      <xs:element minOccurs="0" name="BenchmarkWtdMedian" type="xs:decimal" />
      <xs:element minOccurs="0" name="Benchmark_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LargeRange" type="xs:decimal" />
      <xs:element minOccurs="0" name="MarketCapitalInUSD" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="MediumRange" type="xs:decimal" />
      <xs:element minOccurs="0" name="MicroRange" type="xs:decimal" />
      <xs:element minOccurs="0" name="PortfolioDirtyValuePC" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PortfolioSumLargeRange" type="xs:decimal" />
      <xs:element minOccurs="0" name="PortfolioSumMediumRange" type="xs:decimal" />
      <xs:element minOccurs="0" name="PortfolioSumMegaRange" type="xs:decimal" />
      <xs:element minOccurs="0" name="PortfolioSumMicroRange" type="xs:decimal" />
      <xs:element minOccurs="0" name="PortfolioSumSmallRange" type="xs:decimal" />
      <xs:element minOccurs="0" name="PortfolioSumUndefinedRange" type="xs:decimal" />
      <xs:element minOccurs="0" name="PortfolioWtdAvg" type="xs:decimal" />
      <xs:element minOccurs="0" name="PortfolioWtdMedian" type="xs:decimal" />
      <xs:element minOccurs="0" name="Portfolio_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecurityThemeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SmallRange" type="xs:decimal" />
      <xs:element minOccurs="0" name="UndefinedRange" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MarketCapitalizationData" nillable="true" type="tns:MarketCapitalizationData" />
</xs:schema>