SourceCode/GreenField/Targeting/GreenField.Targeting.Client/Service References/Backend.Targeting/TargetingOperations7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GreenField.Targeting.Server" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GreenField.Targeting.Server" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BroadGlobalActivePortfolioModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:PortfolioModel">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BroadGlobalActivePortfolioModel" nillable="true" type="tns:BroadGlobalActivePortfolioModel" />
  <xs:complexType name="PortfolioModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PortfolioModel" nillable="true" type="tns:PortfolioModel" />
  <xs:complexType name="NullableExpressionModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Issues" nillable="true" type="tns:ArrayOfIssueModel" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NullableExpressionModel" nillable="true" type="tns:NullableExpressionModel" />
  <xs:complexType name="ArrayOfIssueModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IssueModel" nillable="true" type="tns:IssueModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIssueModel" nillable="true" type="tns:ArrayOfIssueModel" />
  <xs:complexType name="IssueModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Issues" nillable="true" type="tns:ArrayOfIssueModel" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IssueModel" nillable="true" type="tns:IssueModel" />
  <xs:complexType name="BottomUpPortfolioModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:PortfolioModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="Fund" nillable="true" type="tns:FundModel" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BottomUpPortfolioModel" nillable="true" type="tns:BottomUpPortfolioModel" />
  <xs:complexType name="FundModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SecurityModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="ShortName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Ticker" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FundModel" nillable="true" type="tns:FundModel" />
  <xs:complexType name="SecurityModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SecurityModel" nillable="true" type="tns:SecurityModel" />
  <xs:complexType name="CompanySecurityModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SecurityModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="Country" nillable="true" type="tns:CountryModel" />
          <xs:element minOccurs="0" name="ShortName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Ticker" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CompanySecurityModel" nillable="true" type="tns:CompanySecurityModel" />
  <xs:complexType name="CountryModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsoCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CountryModel" nillable="true" type="tns:CountryModel" />
  <xs:complexType name="EditableExpressionModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DefaultValue" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="DisplayValue" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="EditedValue" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="InitialValue" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Issues" nillable="true" type="tns:ArrayOfIssueModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EditableExpressionModel" nillable="true" type="tns:EditableExpressionModel" />
  <xs:complexType name="ExpressionModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Issues" nillable="true" type="tns:ArrayOfIssueModel" />
      <xs:element minOccurs="0" name="Value" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExpressionModel" nillable="true" type="tns:ExpressionModel" />
  <xs:complexType name="CountryBasketModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BasketModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="Country" nillable="true" type="tns:CountryModel" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CountryBasketModel" nillable="true" type="tns:CountryBasketModel" />
  <xs:complexType name="BasketModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BasketModel" nillable="true" type="tns:BasketModel" />
  <xs:complexType name="RegionBasketModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BasketModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="Countries" nillable="true" type="tns:ArrayOfCountryModel" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RegionBasketModel" nillable="true" type="tns:RegionBasketModel" />
  <xs:complexType name="ArrayOfCountryModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CountryModel" nillable="true" type="tns:CountryModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCountryModel" nillable="true" type="tns:ArrayOfCountryModel" />
  <xs:complexType name="ChangesetModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="CalculationId" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Timestamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChangesetModel" nillable="true" type="tns:ChangesetModel" />
  <xs:complexType name="TargetingTypeModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TargetingTypeModel" nillable="true" type="tns:TargetingTypeModel" />
  <xs:complexType name="ArrayOfSecurityModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SecurityModel" nillable="true" type="tns:SecurityModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSecurityModel" nillable="true" type="tns:ArrayOfSecurityModel" />
  <xs:complexType name="TargetingTypeGroupModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="BenchmarkIdOpt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TargetingTypes" nillable="true" type="tns:ArrayOfTargetingTypeModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TargetingTypeGroupModel" nillable="true" type="tns:TargetingTypeGroupModel" />
  <xs:complexType name="ArrayOfTargetingTypeModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TargetingTypeModel" nillable="true" type="tns:TargetingTypeModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTargetingTypeModel" nillable="true" type="tns:ArrayOfTargetingTypeModel" />
  <xs:complexType name="ArrayOfBottomUpPortfolioModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BottomUpPortfolioModel" nillable="true" type="tns:BottomUpPortfolioModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBottomUpPortfolioModel" nillable="true" type="tns:ArrayOfBottomUpPortfolioModel" />
</xs:schema>