SourceCode/GreenField/Targeting/GreenField.Targeting.Client/Service References/Backend.Targeting/TargetingOperations3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GreenField.Targeting.Server.BottomUp" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GreenField.Targeting.Server.BottomUp" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:35583/Services/TargetingOperations.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/GreenField.Targeting.Server" />
  <xs:complexType name="BuPickerModel">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GreenField.Targeting.Server" minOccurs="0" name="BottomUpPortfolios" nillable="true" type="q1:ArrayOfBottomUpPortfolioModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BuPickerModel" nillable="true" type="tns:BuPickerModel" />
  <xs:complexType name="BuRootModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="BottomUpPortfolioId" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GreenField.Targeting.Server" minOccurs="0" name="Cash" nillable="true" type="q2:NullableExpressionModel" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GreenField.Targeting.Server" minOccurs="0" name="ChangesetModel" nillable="true" type="q3:ChangesetModel" />
      <xs:element minOccurs="0" name="IsModified" type="xs:boolean" />
      <xs:element minOccurs="0" name="Items" nillable="true" type="tns:ArrayOfBuItemModel" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GreenField.Targeting.Server" minOccurs="0" name="SecurityToBeAddedOpt" nillable="true" type="q4:SecurityModel" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/GreenField.Targeting.Server" minOccurs="0" name="TargetTotal" nillable="true" type="q5:NullableExpressionModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BuRootModel" nillable="true" type="tns:BuRootModel" />
  <xs:complexType name="ArrayOfBuItemModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BuItemModel" nillable="true" type="tns:BuItemModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBuItemModel" nillable="true" type="tns:ArrayOfBuItemModel" />
  <xs:complexType name="BuItemModel">
    <xs:sequence>
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/GreenField.Targeting.Server" minOccurs="0" name="Security" nillable="true" type="q6:SecurityModel" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/GreenField.Targeting.Server" minOccurs="0" name="Target" nillable="true" type="q7:EditableExpressionModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BuItemModel" nillable="true" type="tns:BuItemModel" />
</xs:schema>