SourceCode/GreenField/GreenField.ServiceCaller/Service References/ExternalResearchDefinitions/ExternalResearchOperations6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GreenField.DAL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GreenField.DAL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59430/Services/ExternalResearchOperations.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
  <xs:complexType name="ArrayOfFinancialStatementData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FinancialStatementData" nillable="true" type="tns:FinancialStatementData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFinancialStatementData" nillable="true" type="tns:ArrayOfFinancialStatementData" />
  <xs:complexType name="FinancialStatementData">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q1:ComplexObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Amount" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="AmountType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsConsensus" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PeriodType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PeriodYear" type="xs:int" />
          <xs:element minOccurs="0" name="SortOrder" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FinancialStatementData" nillable="true" type="tns:FinancialStatementData" />
  <xs:complexType name="ArrayOfRatioComparisonData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RatioComparisonData" nillable="true" type="tns:RatioComparisonData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRatioComparisonData" nillable="true" type="tns:ArrayOfRatioComparisonData" />
  <xs:complexType name="RatioComparisonData">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q2:ComplexObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="FINANCIAL" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="ISSUER_ID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ISSUE_NAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SECURITY_ID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VALUATION" nillable="true" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RatioComparisonData" nillable="true" type="tns:RatioComparisonData" />
</xs:schema>