SourceCode/GreenField/GreenField.ServiceCaller/Service References/ExternalResearchDefinitions/ExternalResearchOperations7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GreenField.DataContracts.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GreenField.DataContracts.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfConsensusEstimatesSummaryData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ConsensusEstimatesSummaryData" nillable="true" type="tns:ConsensusEstimatesSummaryData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfConsensusEstimatesSummaryData" nillable="true" type="tns:ArrayOfConsensusEstimatesSummaryData" />
  <xs:complexType name="ConsensusEstimatesSummaryData">
    <xs:sequence>
      <xs:element minOccurs="0" name="NetIncome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="YEAR1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="YEAR2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="YEAR3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="YEAR4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="YEAR5" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConsensusEstimatesSummaryData" nillable="true" type="tns:ConsensusEstimatesSummaryData" />
</xs:schema>