SourceCode/GreenField/GreenField.ServiceCaller/Service References/ExternalResearchDefinitions/ExternalResearchOperations3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59430/Services/ExternalResearchOperations.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GreenField.DataContracts" />
  <xs:import schemaLocation="http://localhost:59430/Services/ExternalResearchOperations.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/GreenField.Web.DataContracts" />
  <xs:import schemaLocation="http://localhost:59430/Services/ExternalResearchOperations.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/GreenField.DAL" />
  <xs:element name="RetrieveIssuerReferenceData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GreenField.DataContracts" minOccurs="0" name="entitySelectionData" nillable="true" type="q1:EntitySelectionData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveIssuerReferenceDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GreenField.Web.DataContracts" minOccurs="0" name="RetrieveIssuerReferenceDataResult" nillable="true" type="q2:IssuerReferenceData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveFinancialStatement">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="issuerID" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GreenField.DataContracts" minOccurs="0" name="dataSource" type="q3:FinancialStatementDataSource" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GreenField.DataContracts" minOccurs="0" name="periodType" type="q4:FinancialStatementPeriodType" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/GreenField.DataContracts" minOccurs="0" name="fiscalType" type="q5:FinancialStatementFiscalType" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/GreenField.DataContracts" minOccurs="0" name="statementType" type="q6:FinancialStatementStatementType" />
        <xs:element minOccurs="0" name="currency" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveFinancialStatementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/GreenField.DAL" minOccurs="0" name="RetrieveFinancialStatementResult" nillable="true" type="q7:ArrayOfFinancialStatementData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveBasicData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/GreenField.DataContracts" minOccurs="0" name="entitySelectionData" nillable="true" type="q8:EntitySelectionData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveBasicDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/GreenField.DataContracts" minOccurs="0" name="RetrieveBasicDataResult" nillable="true" type="q9:ArrayOfBasicData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>