SourceCode/GreenField/GreenField.ServiceCaller/Service References/ExternalResearchDefinitions/ExternalResearchOperations5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GreenField.Web.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GreenField.Web.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59430/Services/ExternalResearchOperations.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/GreenField.DAL" />
  <xs:complexType name="IssuerReferenceData">
    <xs:sequence>
      <xs:element minOccurs="0" name="CountryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountryName" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GreenField.DAL" minOccurs="0" name="CurrencyReferenceData" nillable="true" type="q1:ArrayOfCurrencySelectionData" />
      <xs:element minOccurs="0" name="IssuerId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IssuerReferenceData" nillable="true" type="tns:IssuerReferenceData" />
</xs:schema>