SourceCode/GreenField/GreenField.ServiceCaller/Service References/ExternalResearchDefinitions/ExternalResearchOperations5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GreenField.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GreenField.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EntitySelectionData">
    <xs:sequence>
      <xs:element minOccurs="0" name="InstrumentID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LongName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecurityType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShortName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SortOrder" type="xs:int" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EntitySelectionData" nillable="true" type="tns:EntitySelectionData" />
  <xs:simpleType name="FinancialStatementDataSource">
    <xs:restriction base="xs:string">
      <xs:enumeration value="REUTERS" />
      <xs:enumeration value="PRIMARY" />
      <xs:enumeration value="INDUSTRY" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="FinancialStatementDataSource" nillable="true" type="tns:FinancialStatementDataSource" />
  <xs:simpleType name="FinancialStatementPeriodType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ANNUAL" />
      <xs:enumeration value="QUARTER" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="FinancialStatementPeriodType" nillable="true" type="tns:FinancialStatementPeriodType" />
  <xs:simpleType name="FinancialStatementFiscalType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="FISCAL" />
      <xs:enumeration value="CALENDAR" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="FinancialStatementFiscalType" nillable="true" type="tns:FinancialStatementFiscalType" />
  <xs:simpleType name="FinancialStatementStatementType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BAL" />
      <xs:enumeration value="CAS" />
      <xs:enumeration value="INC" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="FinancialStatementStatementType" nillable="true" type="tns:FinancialStatementStatementType" />
  <xs:complexType name="ArrayOfBasicData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BasicData" nillable="true" type="tns:BasicData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBasicData" nillable="true" type="tns:ArrayOfBasicData" />
  <xs:complexType name="BasicData">
    <xs:sequence>
      <xs:element minOccurs="0" name="AverageVolume" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Beta" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="BetaSource" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EnterpriseValue" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="MarketCapitalization" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="SharesOutstanding" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="WeekRange52" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BasicData" nillable="true" type="tns:BasicData" />
  <xs:complexType name="ArrayOfTargetPriceCEData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TargetPriceCEData" nillable="true" type="tns:TargetPriceCEData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTargetPriceCEData" nillable="true" type="tns:ArrayOfTargetPriceCEData" />
  <xs:complexType name="TargetPriceCEData">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConsensusRecommendation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrentPrice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="High" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastUpdate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Low" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MedianTargetPrice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NoOfEstimates" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StandardDeviation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ticker" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TargetPriceCEData" nillable="true" type="tns:TargetPriceCEData" />
  <xs:complexType name="ArrayOfConsensusEstimateMedian">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ConsensusEstimateMedian" nillable="true" type="tns:ConsensusEstimateMedian" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfConsensusEstimateMedian" nillable="true" type="tns:ArrayOfConsensusEstimateMedian" />
  <xs:complexType name="ConsensusEstimateMedian">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="AmountType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Currency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataSource" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataSourceDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EstimateDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstimateType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FiscalType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="High" type="xs:decimal" />
      <xs:element minOccurs="0" name="IssuerId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Low" type="xs:decimal" />
      <xs:element minOccurs="0" name="NumberOfEstimates" type="xs:decimal" />
      <xs:element minOccurs="0" name="PeriodEndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PeriodType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PeriodYear" type="xs:int" />
      <xs:element minOccurs="0" name="SecrityId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SourceCurrency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StandardDeviation" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConsensusEstimateMedian" nillable="true" type="tns:ConsensusEstimateMedian" />
  <xs:complexType name="ArrayOfConsensusEstimatesValuations">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ConsensusEstimatesValuations" nillable="true" type="tns:ConsensusEstimatesValuations" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfConsensusEstimatesValuations" nillable="true" type="tns:ArrayOfConsensusEstimatesValuations" />
  <xs:complexType name="ConsensusEstimatesValuations">
    <xs:sequence>
      <xs:element minOccurs="0" name="DividendYield" type="xs:decimal" />
      <xs:element minOccurs="0" name="IssueName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PRevenue" type="xs:decimal" />
      <xs:element minOccurs="0" name="P_BV" type="xs:decimal" />
      <xs:element minOccurs="0" name="P_CE" type="xs:decimal" />
      <xs:element minOccurs="0" name="P_E" type="xs:decimal" />
      <xs:element minOccurs="0" name="P_EGrowth" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConsensusEstimatesValuations" nillable="true" type="tns:ConsensusEstimatesValuations" />
  <xs:simpleType name="ScatterGraphContext">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Region" />
      <xs:enumeration value="Country" />
      <xs:enumeration value="Sector" />
      <xs:enumeration value="Industry" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ScatterGraphContext" nillable="true" type="tns:ScatterGraphContext" />
</xs:schema>