SourceCode/GreenField/GreenField.ServiceCaller/Service References/ExternalResearchDefinitions/ExternalResearchOperations6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GreenField.Web.DimensionEntitiesService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GreenField.Web.DimensionEntitiesService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfGF_SECURITY_BASEVIEW">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GF_SECURITY_BASEVIEW" nillable="true" type="tns:GF_SECURITY_BASEVIEW" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGF_SECURITY_BASEVIEW" nillable="true" type="tns:ArrayOfGF_SECURITY_BASEVIEW" />
  <xs:complexType name="GF_SECURITY_BASEVIEW">
    <xs:sequence>
      <xs:element minOccurs="0" name="ADR_UNDERLYING_TICKER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ASEC_FC_SEC_REF" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ASEC_INSTR_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ASEC_ISSUED_VOLUME" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ASEC_SEC_COUNTRY_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ASEC_SEC_COUNTRY_ZONE_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ASEC_SEC_SHORT_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ASHEMM_ONE_LINER_DESCRIPTION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ASHEMM_PROPRIETARY_REGION_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ASHMOREEMM_INDUSTRY_ANALYST" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ASHMOREEMM_PORTFOLIO_MANAGER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ASHMOREEMM_PRIMARY_ANALYST" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BARRA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BARRA_BETA" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="BETA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BLOOMBERG_DESCRIPTION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CHG_PCT_1YR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CHG_PCT_MTD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CHG_PCT_QTD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CHG_PCT_YTD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CLOSING_PRICE" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="CUSIP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FIFTYTWO_WEEK_HIGH" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="FIFTYTWO_WEEK_LOW" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="FISCAL_YEAR_END" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FLOAT_AMOUNT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GF_ID" type="xs:decimal" />
      <xs:element minOccurs="0" name="GICS_INDUSTRY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GICS_INDUSTRY_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GICS_SECTOR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GICS_SECTOR_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GICS_SUB_INDUSTRY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GICS_SUB_INDUSTRY_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GREENFIELD_FLAG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ISIN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ISO_COUNTRY_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ISSUER_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ISSUER_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ISSUER_PROXY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ISSUE_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LAST_CLOSE_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LAST_CLOSE_FX_QUO_CURR_TO_USD" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="LOOK_THRU_FUND" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MARKET_CAP_IN_TRADING_CURRENCY" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="MSCI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REPORTNUMBER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SECS_INSTYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SECURITY_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SECURITY_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SECURITY_VOLUME_AVG_30D" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="SECURITY_VOLUME_AVG_6M" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="SECURITY_VOLUME_AVG_90D" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SEDOL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SHARES_OUTSTANDING" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="SHARES_PER_ADR" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="STOCK_EXCHANGE_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TICKER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TOT_CURR_SHRS_OUTST_ALL_CLASS" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TRADING_CURRENCY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UPDATE_BB_STATUS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WACC_COST_DEBT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WACC_COST_EQUITY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WACC_COST_PFD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WEBSITE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="XREF" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GF_SECURITY_BASEVIEW" nillable="true" type="tns:GF_SECURITY_BASEVIEW" />
</xs:schema>