SourceCode/GreenField/GreenField.ServiceCaller/Service References/ExternalResearchDefinitions/ExternalResearchOperations4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GreenField.DataContracts.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GreenField.DataContracts.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfConsensusEstimatesSummaryData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ConsensusEstimatesSummaryData" nillable="true" type="tns:ConsensusEstimatesSummaryData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfConsensusEstimatesSummaryData" nillable="true" type="tns:ArrayOfConsensusEstimatesSummaryData" />
  <xs:complexType name="ConsensusEstimatesSummaryData">
    <xs:sequence>
      <xs:element minOccurs="0" name="NetIncome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="YEAR1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="YEAR2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="YEAR3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="YEAR4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="YEAR5" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConsensusEstimatesSummaryData" nillable="true" type="tns:ConsensusEstimatesSummaryData" />
  <xs:complexType name="ArrayOfQuarterlyResultsData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QuarterlyResultsData" nillable="true" type="tns:QuarterlyResultsData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQuarterlyResultsData" nillable="true" type="tns:ArrayOfQuarterlyResultsData" />
  <xs:complexType name="QuarterlyResultsData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Annual" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Brokers" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Consensus" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ConsensusPercentage" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ConsensusUpdate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Currency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstimateId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="High" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ISSUER_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Industry" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IssuerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastUpdate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Low" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Q1" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Q2" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Q3" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Q4" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="QuarterlySum" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="QuarterlySumPercentage" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Region" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sector" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="XREF" nillable="true" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QuarterlyResultsData" nillable="true" type="tns:QuarterlyResultsData" />
  <xs:complexType name="ArrayOfPRevenueData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PRevenueData" nillable="true" type="tns:PRevenueData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPRevenueData" nillable="true" type="tns:ArrayOfPRevenueData" />
  <xs:complexType name="PRevenueData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Average" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PRevenueVal" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PeriodEndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PeriodLabel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PeriodType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PeriodYear" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SharesOutstanding" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="StdDevMinus" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="StdDevPlus" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="USDPrice" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PRevenueData" nillable="true" type="tns:PRevenueData" />
  <xs:complexType name="ArrayOfCOASpecificData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="COASpecificData" nillable="true" type="tns:COASpecificData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCOASpecificData" nillable="true" type="tns:ArrayOfCOASpecificData" />
  <xs:complexType name="COASpecificData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="AmountType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataSource" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Decimals" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GridDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GridId" type="xs:int" />
      <xs:element minOccurs="0" name="IsPercentage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PeriodType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PeriodYear" type="xs:int" />
      <xs:element minOccurs="0" name="RootSource" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShowGrid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SortOrder" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="COASpecificData" nillable="true" type="tns:COASpecificData" />
</xs:schema>