SourceCode/GreenField/GreenField.ServiceCaller/Service References/ExternalResearchDefinitions/ExternalResearchOperations7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GreenField.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GreenField.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EntitySelectionData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Country_Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ISSUER_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ISSUER_PROXY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InstrumentID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IssuerId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LOOK_THRU_FUND" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LongName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Region_Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecurityId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecurityType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShortName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SortOrder" type="xs:int" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EntitySelectionData" nillable="true" type="tns:EntitySelectionData" />
  <xs:simpleType name="FinancialStatementDataSource">
    <xs:restriction base="xs:string">
      <xs:enumeration value="REUTERS" />
      <xs:enumeration value="PRIMARY" />
      <xs:enumeration value="INDUSTRY" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="FinancialStatementDataSource" nillable="true" type="tns:FinancialStatementDataSource" />
  <xs:simpleType name="FinancialStatementPeriodType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ANNUAL" />
      <xs:enumeration value="QUARTER" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="FinancialStatementPeriodType" nillable="true" type="tns:FinancialStatementPeriodType" />
  <xs:simpleType name="FinancialStatementFiscalType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="FISCAL" />
      <xs:enumeration value="CALENDAR" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="FinancialStatementFiscalType" nillable="true" type="tns:FinancialStatementFiscalType" />
  <xs:simpleType name="FinancialStatementStatementType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BAL" />
      <xs:enumeration value="CAS" />
      <xs:enumeration value="INC" />
      <xs:enumeration value="FUN" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="FinancialStatementStatementType" nillable="true" type="tns:FinancialStatementStatementType" />
  <xs:complexType name="ArrayOfConsensusEstimateDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ConsensusEstimateDetail" nillable="true" type="tns:ConsensusEstimateDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfConsensusEstimateDetail" nillable="true" type="tns:ArrayOfConsensusEstimateDetail" />
  <xs:complexType name="ConsensusEstimateDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="Actual" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="AmountType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AshmoreEmmAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="BrokerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BrokerPrice" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="ConsensusMedian" type="xs:decimal" />
      <xs:element minOccurs="0" name="DataSource" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataSourceDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstimateId" type="xs:int" />
      <xs:element minOccurs="0" name="GroupDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="High" type="xs:decimal" />
      <xs:element minOccurs="0" name="IssuerId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastUpdateDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Low" type="xs:decimal" />
      <xs:element minOccurs="0" name="NumberOfEstimates" type="xs:int" />
      <xs:element minOccurs="0" name="Period" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PeriodType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PeriodYear" type="xs:int" />
      <xs:element minOccurs="0" name="ReportedCurrency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SortOrder" type="xs:int" />
      <xs:element minOccurs="0" name="SourceCurrency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StandardDeviation" type="xs:decimal" />
      <xs:element minOccurs="0" name="Variance" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="YOYGrowth" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConsensusEstimateDetail" nillable="true" type="tns:ConsensusEstimateDetail" />
  <xs:complexType name="ArrayOfFinstatDetailData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FinstatDetailData" nillable="true" type="tns:FinstatDetailData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFinstatDetailData" nillable="true" type="tns:ArrayOfFinstatDetailData" />
  <xs:complexType name="FinstatDetailData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="AmountType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BoldFont" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataId" type="xs:int" />
      <xs:element minOccurs="0" name="DataSource" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Decimals" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstimateId" type="xs:int" />
      <xs:element minOccurs="0" name="GroupDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Harmonic" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HarmonicFirst" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="HarmonicSecond" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="IsPercentage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PeriodType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PeriodYear" type="xs:int" />
      <xs:element minOccurs="0" name="RootSource" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RootSourceDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SortOrder" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FinstatDetailData" nillable="true" type="tns:FinstatDetailData" />
  <xs:complexType name="ArrayOfBasicData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BasicData" nillable="true" type="tns:BasicData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBasicData" nillable="true" type="tns:ArrayOfBasicData" />
  <xs:complexType name="BasicData">
    <xs:sequence>
      <xs:element minOccurs="0" name="AverageVolume" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Beta" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="BetaSource" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EnterpriseValue" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="MarketCapitalization" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="SharesOutstanding" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="WeekRange52High" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="WeekRange52Low" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BasicData" nillable="true" type="tns:BasicData" />
  <xs:complexType name="ArrayOfTargetPriceCEData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TargetPriceCEData" nillable="true" type="tns:TargetPriceCEData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTargetPriceCEData" nillable="true" type="tns:ArrayOfTargetPriceCEData" />
  <xs:complexType name="TargetPriceCEData">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConsensusRecommendation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrentPrice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrentPriceDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="High" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastUpdate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Low" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MedianTargetPrice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NoOfEstimates" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StandardDeviation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ticker" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TargetPriceCEData" nillable="true" type="tns:TargetPriceCEData" />
  <xs:complexType name="ArrayOfConsensusEstimateMedian">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ConsensusEstimateMedian" nillable="true" type="tns:ConsensusEstimateMedian" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfConsensusEstimateMedian" nillable="true" type="tns:ArrayOfConsensusEstimateMedian" />
  <xs:complexType name="ConsensusEstimateMedian">
    <xs:sequence>
      <xs:element minOccurs="0" name="Actual" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="AmountType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AshmoreEmmAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="DataSource" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataSourceDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstimateId" type="xs:int" />
      <xs:element minOccurs="0" name="High" type="xs:decimal" />
      <xs:element minOccurs="0" name="IssuerId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Low" type="xs:decimal" />
      <xs:element minOccurs="0" name="NumberOfEstimates" type="xs:int" />
      <xs:element minOccurs="0" name="Period" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PeriodType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PeriodYear" type="xs:int" />
      <xs:element minOccurs="0" name="SortOrder" type="xs:int" />
      <xs:element minOccurs="0" name="SourceCurrency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StandardDeviation" type="xs:decimal" />
      <xs:element minOccurs="0" name="Variance" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="YOYGrowth" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConsensusEstimateMedian" nillable="true" type="tns:ConsensusEstimateMedian" />
  <xs:complexType name="ArrayOfConsensusEstimatesValuations">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ConsensusEstimatesValuations" nillable="true" type="tns:ConsensusEstimatesValuations" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfConsensusEstimatesValuations" nillable="true" type="tns:ArrayOfConsensusEstimatesValuations" />
  <xs:complexType name="ConsensusEstimatesValuations">
    <xs:sequence>
      <xs:element minOccurs="0" name="Actual" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Amount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="AmountType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AshmoreEmmAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="DataSource" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataSourceDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstimateId" type="xs:int" />
      <xs:element minOccurs="0" name="High" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="IssuerId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Low" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="NumberOfEstimates" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Period" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PeriodType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PeriodYear" type="xs:int" />
      <xs:element minOccurs="0" name="SortOrder" type="xs:int" />
      <xs:element minOccurs="0" name="SourceCurrency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StandardDeviation" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Variance" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="YOYGrowth" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConsensusEstimatesValuations" nillable="true" type="tns:ConsensusEstimatesValuations" />
  <xs:simpleType name="ScatterGraphContext">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Region" />
      <xs:enumeration value="Country" />
      <xs:enumeration value="Sector" />
      <xs:enumeration value="Industry" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ScatterGraphContext" nillable="true" type="tns:ScatterGraphContext" />
  <xs:complexType name="ArrayOfCOASpecificData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="COASpecificData" nillable="true" type="tns:COASpecificData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCOASpecificData" nillable="true" type="tns:ArrayOfCOASpecificData" />
  <xs:complexType name="COASpecificData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="AmountType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataSource" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Decimals" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GridId" type="xs:int" />
      <xs:element minOccurs="0" name="GroupDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsPercentage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Multiplier" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PeriodType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PeriodYear" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="RootSource" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShowGrid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SortOrder" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="COASpecificData" nillable="true" type="tns:COASpecificData" />
  <xs:complexType name="PortfolioSelectionData">
    <xs:sequence>
      <xs:element minOccurs="0" name="BenchmarkId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsComposite" type="xs:boolean" />
      <xs:element minOccurs="0" name="PortfolioId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PortfolioThemeSubGroupId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PortfolioThemeSubGroupName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PortfolioSelectionData" nillable="true" type="tns:PortfolioSelectionData" />
  <xs:complexType name="ArrayOfArrayOfInvestmentContextDetailsData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfInvestmentContextDetailsData" nillable="true" type="tns:ArrayOfInvestmentContextDetailsData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArrayOfInvestmentContextDetailsData" nillable="true" type="tns:ArrayOfArrayOfInvestmentContextDetailsData" />
  <xs:complexType name="ArrayOfInvestmentContextDetailsData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InvestmentContextDetailsData" nillable="true" type="tns:InvestmentContextDetailsData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInvestmentContextDetailsData" nillable="true" type="tns:ArrayOfInvestmentContextDetailsData" />
  <xs:complexType name="InvestmentContextDetailsData">
    <xs:sequence>
      <xs:element minOccurs="0" name="DividendYield" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="DividendYieldScrubbed" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="EB_EBITDA_CurrentYear" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="EB_EBITDA_CurrentYearScrubbed" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="EB_EBITDA_NextYear" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="EB_EBITDA_NextYearScrubbed" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ForwardPBV" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ForwardPBVScrubbed" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ForwardPE" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ForwardPEScrubbed" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="GicsIndustryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GicsIndustryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GicsSectorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GicsSectorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsoCountryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IssuerId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IssuerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MarketCap" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="MarketCapScrubbed" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="MarketValue" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="MarketValueScrubbed" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PBVCurrentYear" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PBVCurrentYearScrubbed" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PBVNextYear" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PBVNextYearScrubbed" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PECurrentYear" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PECurrentYearScrubbed" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PENextYear" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PENextYearScrubbed" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ROE" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ROEScrubbed" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="children" nillable="true" type="tns:ArrayOfInvestmentContextDetailsData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InvestmentContextDetailsData" nillable="true" type="tns:InvestmentContextDetailsData" />
</xs:schema>