SourceCode/GreenField/GreenField.ServiceCaller/Service References/ExternalResearchDefinitions/ExternalResearchOperations4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GreenField.DataContracts.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GreenField.DataContracts.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfConsensusEstimatesSummaryData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ConsensusEstimatesSummaryData" nillable="true" type="tns:ConsensusEstimatesSummaryData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfConsensusEstimatesSummaryData" nillable="true" type="tns:ArrayOfConsensusEstimatesSummaryData" />
  <xs:complexType name="ConsensusEstimatesSummaryData">
    <xs:sequence>
      <xs:element minOccurs="0" name="NetIncome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="YEAR1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="YEAR2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="YEAR3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="YEAR4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="YEAR5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="currency" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConsensusEstimatesSummaryData" nillable="true" type="tns:ConsensusEstimatesSummaryData" />
  <xs:complexType name="ArrayOfQuarterlyResultsData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QuarterlyResultsData" nillable="true" type="tns:QuarterlyResultsData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQuarterlyResultsData" nillable="true" type="tns:ArrayOfQuarterlyResultsData" />
  <xs:complexType name="QuarterlyResultsData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Annual" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Brokers" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Consensus" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ConsensusPercentage" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ConsensusUpdate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Currency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstimateId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="High" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ISSUER_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Industry" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IssuerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastUpdate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Low" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Q1" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Q2" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Q3" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Q4" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="QuarterlySum" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="QuarterlySumPercentage" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Region" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sector" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="XREF" nillable="true" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QuarterlyResultsData" nillable="true" type="tns:QuarterlyResultsData" />
  <xs:complexType name="ArrayOfPRevenueData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PRevenueData" nillable="true" type="tns:PRevenueData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPRevenueData" nillable="true" type="tns:ArrayOfPRevenueData" />
  <xs:complexType name="PRevenueData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Average" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PRevenueVal" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PeriodEndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PeriodLabel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PeriodType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PeriodYear" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SharesOutstanding" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="StdDevMinus" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="StdDevPlus" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="USDPrice" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PRevenueData" nillable="true" type="tns:PRevenueData" />
  <xs:complexType name="ArrayOfValuationQualityGrowthData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ValuationQualityGrowthData" nillable="true" type="tns:ValuationQualityGrowthData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfValuationQualityGrowthData" nillable="true" type="tns:ArrayOfValuationQualityGrowthData" />
  <xs:complexType name="ValuationQualityGrowthData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Benchmark" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Portfolio" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Relative" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValuationQualityGrowthData" nillable="true" type="tns:ValuationQualityGrowthData" />
  <xs:complexType name="ArrayOfEMSummaryMarketData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EMSummaryMarketData" nillable="true" type="tns:EMSummaryMarketData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEMSummaryMarketData" nillable="true" type="tns:ArrayOfEMSummaryMarketData" />
  <xs:complexType name="EMSummaryMarketData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="BaseTarget" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="BenchmarkWeight" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DYCurYear" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PBVCurYear" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PECurYear" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PECurYearCon" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PENextYear" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PENextYearCon" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ROECurYear" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Region" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USDEarCurYear" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="USDEarCurYearCon" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="USDEarNextYear" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="USDEarNextYearCon" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="YTDReturns" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EMSummaryMarketData" nillable="true" type="tns:EMSummaryMarketData" />
</xs:schema>