SourceCode/GreenField/GreenField.ServiceCaller/Service References/ExternalResearchDefinitions/ExternalResearchOperations.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GreenField.Web.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GreenField.Web.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="IssuerReferenceData">
    <xs:sequence>
      <xs:element minOccurs="0" name="CountryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrencyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrencyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IndustryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IndustryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IssuerId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegionCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SectorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SectorName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IssuerReferenceData" nillable="true" type="tns:IssuerReferenceData" />
</xs:schema>