SourceCode/GreenField/IssuerShares/Greenfield.IssuerShares.Client/Service References/Backend.IssuerShares/IssuerSharesOperations3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GreenField.IssuerShares.Server" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GreenField.IssuerShares.Server" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:24883/Services/IssuerSharesOperations.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Aims.Data.Server" />
  <xs:complexType name="RootModel">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Aims.Data.Server" minOccurs="0" name="Issuer" nillable="true" type="q1:IssuerModel" />
      <xs:element minOccurs="0" name="Items" nillable="true" type="tns:ArrayOfItemModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RootModel" nillable="true" type="tns:RootModel" />
  <xs:complexType name="ArrayOfItemModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ItemModel" nillable="true" type="tns:ItemModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfItemModel" nillable="true" type="tns:ArrayOfItemModel" />
  <xs:complexType name="ItemModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Preferred" type="xs:boolean" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Aims.Data.Server" minOccurs="0" name="Security" nillable="true" type="q2:SecurityModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ItemModel" nillable="true" type="tns:ItemModel" />
  <xs:complexType name="ArrayOfIssuerSecurityShareRecordModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IssuerSecurityShareRecordModel" nillable="true" type="tns:IssuerSecurityShareRecordModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIssuerSecurityShareRecordModel" nillable="true" type="tns:ArrayOfIssuerSecurityShareRecordModel" />
  <xs:complexType name="IssuerSecurityShareRecordModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="IssuerId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecurityId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SecurityTicker" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Shares" nillable="true" type="tns:ArrayOfIssuerShareRecordModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IssuerSecurityShareRecordModel" nillable="true" type="tns:IssuerSecurityShareRecordModel" />
  <xs:complexType name="ArrayOfIssuerShareRecordModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IssuerShareRecordModel" nillable="true" type="tns:IssuerShareRecordModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIssuerShareRecordModel" nillable="true" type="tns:ArrayOfIssuerShareRecordModel" />
  <xs:complexType name="IssuerShareRecordModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ShareRecordModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="IssuerId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="IssuerShareRecordModel" nillable="true" type="tns:IssuerShareRecordModel" />
  <xs:complexType name="ShareRecordModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SecurityId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SharesOutstanding" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ShareRecordModel" nillable="true" type="tns:ShareRecordModel" />
</xs:schema>