SourceCode/GreenField/IssuerShares/Greenfield.IssuerShares.Client/Service References/Backend.IssuerShares/IssuerSharesOperations.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="IssuerSharesOperations" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59430/Services/IssuerSharesOperations.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59430/Services/IssuerSharesOperations.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59430/Services/IssuerSharesOperations.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GreenField.IssuerShares.Server" />
      <xsd:import schemaLocation="http://localhost:59430/Services/IssuerSharesOperations.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Aims.Data.Server" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFacade_GetRootModel_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRootModel" />
  </wsdl:message>
  <wsdl:message name="IFacade_GetRootModel_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRootModelResponse" />
  </wsdl:message>
  <wsdl:message name="IFacade_GetIssuerSecurities_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIssuerSecurities" />
  </wsdl:message>
  <wsdl:message name="IFacade_GetIssuerSecurities_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIssuerSecuritiesResponse" />
  </wsdl:message>
  <wsdl:message name="IFacade_UpdateIssueSharesComposition_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateIssueSharesComposition" />
  </wsdl:message>
  <wsdl:message name="IFacade_UpdateIssueSharesComposition_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateIssueSharesCompositionResponse" />
  </wsdl:message>
  <wsdl:message name="IFacade_GetIssuerSharesBySecurityShortName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIssuerSharesBySecurityShortName" />
  </wsdl:message>
  <wsdl:message name="IFacade_GetIssuerSharesBySecurityShortName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIssuerSharesBySecurityShortNameResponse" />
  </wsdl:message>
  <wsdl:portType name="IFacade">
    <wsdl:operation name="GetRootModel">
      <wsdl:input wsaw:Action="http://tempuri.org/IFacade/GetRootModel" message="tns:IFacade_GetRootModel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFacade/GetRootModelResponse" message="tns:IFacade_GetRootModel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIssuerSecurities">
      <wsdl:input wsaw:Action="http://tempuri.org/IFacade/GetIssuerSecurities" message="tns:IFacade_GetIssuerSecurities_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFacade/GetIssuerSecuritiesResponse" message="tns:IFacade_GetIssuerSecurities_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateIssueSharesComposition">
      <wsdl:input wsaw:Action="http://tempuri.org/IFacade/UpdateIssueSharesComposition" message="tns:IFacade_UpdateIssueSharesComposition_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFacade/UpdateIssueSharesCompositionResponse" message="tns:IFacade_UpdateIssueSharesComposition_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIssuerSharesBySecurityShortName">
      <wsdl:input wsaw:Action="http://tempuri.org/IFacade/GetIssuerSharesBySecurityShortName" message="tns:IFacade_GetIssuerSharesBySecurityShortName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFacade/GetIssuerSharesBySecurityShortNameResponse" message="tns:IFacade_GetIssuerSharesBySecurityShortName_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IssuerSharesOperations" type="tns:IFacade">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRootModel">
      <soap:operation soapAction="http://tempuri.org/IFacade/GetRootModel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIssuerSecurities">
      <soap:operation soapAction="http://tempuri.org/IFacade/GetIssuerSecurities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateIssueSharesComposition">
      <soap:operation soapAction="http://tempuri.org/IFacade/UpdateIssueSharesComposition" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIssuerSharesBySecurityShortName">
      <soap:operation soapAction="http://tempuri.org/IFacade/GetIssuerSharesBySecurityShortName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IssuerSharesOperations">
    <wsdl:port name="IssuerSharesOperations" binding="tns:IssuerSharesOperations">
      <soap:address location="http://localhost:59430/Services/IssuerSharesOperations.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>