SourceCode/GreenField/GreenField.ServiceCaller/Service References/MeetingServiceReference/MeetingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MeetingService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59430/Services/MeetingService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59430/Services/MeetingService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" />
      <xsd:import schemaLocation="http://localhost:59430/Services/MeetingService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59430/Services/MeetingService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GreenField.DataContracts" />
      <xsd:import schemaLocation="http://localhost:59430/Services/MeetingService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/GreenField.DAL" />
      <xsd:import schemaLocation="http://localhost:59430/Services/MeetingService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
      <xsd:import schemaLocation="http://localhost:59430/Services/MeetingService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
      <xsd:import schemaLocation="http://localhost:59430/Services/MeetingService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://localhost:59430/Services/MeetingService.svc?xsd=xsd8" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MeetingService_RetrieveSecurityDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveSecurityDetails" />
  </wsdl:message>
  <wsdl:message name="MeetingService_RetrieveSecurityDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveSecurityDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="MeetingService_RetrieveSecurityDetails_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q1:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="MeetingService_GetMeetings_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMeetings" />
  </wsdl:message>
  <wsdl:message name="MeetingService_GetMeetings_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMeetingsResponse" />
  </wsdl:message>
  <wsdl:message name="MeetingService_GetMeetings_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q2:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="MeetingService_GetMeetingsByDate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMeetingsByDate" />
  </wsdl:message>
  <wsdl:message name="MeetingService_GetMeetingsByDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMeetingsByDateResponse" />
  </wsdl:message>
  <wsdl:message name="MeetingService_GetMeetingsByDate_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q3:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="MeetingService_GetMeetingDates_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMeetingDates" />
  </wsdl:message>
  <wsdl:message name="MeetingService_GetMeetingDates_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMeetingDatesResponse" />
  </wsdl:message>
  <wsdl:message name="MeetingService_GetMeetingDates_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q4:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="MeetingService_CreateMeeting_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateMeeting" />
  </wsdl:message>
  <wsdl:message name="MeetingService_CreateMeeting_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateMeetingResponse" />
  </wsdl:message>
  <wsdl:message name="MeetingService_CreateMeeting_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q5:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="MeetingService_UpdateMeeting_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMeeting" />
  </wsdl:message>
  <wsdl:message name="MeetingService_UpdateMeeting_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMeetingResponse" />
  </wsdl:message>
  <wsdl:message name="MeetingService_UpdateMeeting_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q6:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="MeetingService_GetPresentations_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPresentations" />
  </wsdl:message>
  <wsdl:message name="MeetingService_GetPresentations_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPresentationsResponse" />
  </wsdl:message>
  <wsdl:message name="MeetingService_GetPresentations_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q7:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="MeetingService_GetPresentationsByMeetingID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPresentationsByMeetingID" />
  </wsdl:message>
  <wsdl:message name="MeetingService_GetPresentationsByMeetingID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPresentationsByMeetingIDResponse" />
  </wsdl:message>
  <wsdl:message name="MeetingService_GetPresentationsByMeetingID_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q8:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="MeetingService_GetPresentationsByMeetingDatePresenterStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPresentationsByMeetingDatePresenterStatus" />
  </wsdl:message>
  <wsdl:message name="MeetingService_GetPresentationsByMeetingDatePresenterStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPresentationsByMeetingDatePresenterStatusResponse" />
  </wsdl:message>
  <wsdl:message name="MeetingService_GetPresentationsByMeetingDatePresenterStatus_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q9="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q9:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="MeetingService_GetDistinctPresenters_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDistinctPresenters" />
  </wsdl:message>
  <wsdl:message name="MeetingService_GetDistinctPresenters_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDistinctPresentersResponse" />
  </wsdl:message>
  <wsdl:message name="MeetingService_GetDistinctPresenters_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q10="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q10:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="MeetingService_GetStatusTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStatusTypes" />
  </wsdl:message>
  <wsdl:message name="MeetingService_GetStatusTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStatusTypesResponse" />
  </wsdl:message>
  <wsdl:message name="MeetingService_GetStatusTypes_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q11="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q11:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="MeetingService_UpdateMeetingPresentationMapping_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMeetingPresentationMapping" />
  </wsdl:message>
  <wsdl:message name="MeetingService_UpdateMeetingPresentationMapping_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMeetingPresentationMappingResponse" />
  </wsdl:message>
  <wsdl:message name="MeetingService_UpdateMeetingPresentationMapping_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q12="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q12:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="MeetingService_UpdatePresentation_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePresentation" />
  </wsdl:message>
  <wsdl:message name="MeetingService_UpdatePresentation_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePresentationResponse" />
  </wsdl:message>
  <wsdl:message name="MeetingService_UpdatePresentation_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q13="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q13:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="MeetingService_CreateMeetingPresentationMapping_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateMeetingPresentationMapping" />
  </wsdl:message>
  <wsdl:message name="MeetingService_CreateMeetingPresentationMapping_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateMeetingPresentationMappingResponse" />
  </wsdl:message>
  <wsdl:message name="MeetingService_CreateMeetingPresentationMapping_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q14="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q14:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="MeetingService_CreatePresentation_InputMessage">
    <wsdl:part name="parameters" element="tns:CreatePresentation" />
  </wsdl:message>
  <wsdl:message name="MeetingService_CreatePresentation_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreatePresentationResponse" />
  </wsdl:message>
  <wsdl:message name="MeetingService_CreatePresentation_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q15="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q15:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="MeetingService_CreateVoterInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateVoterInfo" />
  </wsdl:message>
  <wsdl:message name="MeetingService_CreateVoterInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateVoterInfoResponse" />
  </wsdl:message>
  <wsdl:message name="MeetingService_CreateVoterInfo_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q16="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q16:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="MeetingService_CreateFileInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateFileInfo" />
  </wsdl:message>
  <wsdl:message name="MeetingService_CreateFileInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateFileInfoResponse" />
  </wsdl:message>
  <wsdl:message name="MeetingService_CreateFileInfo_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q17="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q17:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="MeetingService_GetFileInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFileInfo" />
  </wsdl:message>
  <wsdl:message name="MeetingService_GetFileInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFileInfoResponse" />
  </wsdl:message>
  <wsdl:message name="MeetingService_GetFileInfo_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q18="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q18:ServiceFault" />
  </wsdl:message>
  <wsdl:portType name="MeetingService">
    <wsdl:operation name="RetrieveSecurityDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/MeetingService/RetrieveSecurityDetails" message="tns:MeetingService_RetrieveSecurityDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/MeetingService/RetrieveSecurityDetailsResponse" message="tns:MeetingService_RetrieveSecurityDetails_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/MeetingService/RetrieveSecurityDetailsServiceFaultFault" name="ServiceFaultFault" message="tns:MeetingService_RetrieveSecurityDetails_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMeetings">
      <wsdl:input wsaw:Action="http://tempuri.org/MeetingService/GetMeetings" message="tns:MeetingService_GetMeetings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/MeetingService/GetMeetingsResponse" message="tns:MeetingService_GetMeetings_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/MeetingService/GetMeetingsServiceFaultFault" name="ServiceFaultFault" message="tns:MeetingService_GetMeetings_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMeetingsByDate">
      <wsdl:input wsaw:Action="http://tempuri.org/MeetingService/GetMeetingsByDate" message="tns:MeetingService_GetMeetingsByDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/MeetingService/GetMeetingsByDateResponse" message="tns:MeetingService_GetMeetingsByDate_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/MeetingService/GetMeetingsByDateServiceFaultFault" name="ServiceFaultFault" message="tns:MeetingService_GetMeetingsByDate_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMeetingDates">
      <wsdl:input wsaw:Action="http://tempuri.org/MeetingService/GetMeetingDates" message="tns:MeetingService_GetMeetingDates_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/MeetingService/GetMeetingDatesResponse" message="tns:MeetingService_GetMeetingDates_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/MeetingService/GetMeetingDatesServiceFaultFault" name="ServiceFaultFault" message="tns:MeetingService_GetMeetingDates_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateMeeting">
      <wsdl:input wsaw:Action="http://tempuri.org/MeetingService/CreateMeeting" message="tns:MeetingService_CreateMeeting_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/MeetingService/CreateMeetingResponse" message="tns:MeetingService_CreateMeeting_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/MeetingService/CreateMeetingServiceFaultFault" name="ServiceFaultFault" message="tns:MeetingService_CreateMeeting_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMeeting">
      <wsdl:input wsaw:Action="http://tempuri.org/MeetingService/UpdateMeeting" message="tns:MeetingService_UpdateMeeting_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/MeetingService/UpdateMeetingResponse" message="tns:MeetingService_UpdateMeeting_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/MeetingService/UpdateMeetingServiceFaultFault" name="ServiceFaultFault" message="tns:MeetingService_UpdateMeeting_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPresentations">
      <wsdl:input wsaw:Action="http://tempuri.org/MeetingService/GetPresentations" message="tns:MeetingService_GetPresentations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/MeetingService/GetPresentationsResponse" message="tns:MeetingService_GetPresentations_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/MeetingService/GetPresentationsServiceFaultFault" name="ServiceFaultFault" message="tns:MeetingService_GetPresentations_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPresentationsByMeetingID">
      <wsdl:input wsaw:Action="http://tempuri.org/MeetingService/GetPresentationsByMeetingID" message="tns:MeetingService_GetPresentationsByMeetingID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/MeetingService/GetPresentationsByMeetingIDResponse" message="tns:MeetingService_GetPresentationsByMeetingID_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/MeetingService/GetPresentationsByMeetingIDServiceFaultFault" name="ServiceFaultFault" message="tns:MeetingService_GetPresentationsByMeetingID_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPresentationsByMeetingDatePresenterStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/MeetingService/GetPresentationsByMeetingDatePresenterStatus" message="tns:MeetingService_GetPresentationsByMeetingDatePresenterStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/MeetingService/GetPresentationsByMeetingDatePresenterStatusResponse" message="tns:MeetingService_GetPresentationsByMeetingDatePresenterStatus_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/MeetingService/GetPresentationsByMeetingDatePresenterStatusServiceFaultFault" name="ServiceFaultFault" message="tns:MeetingService_GetPresentationsByMeetingDatePresenterStatus_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDistinctPresenters">
      <wsdl:input wsaw:Action="http://tempuri.org/MeetingService/GetDistinctPresenters" message="tns:MeetingService_GetDistinctPresenters_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/MeetingService/GetDistinctPresentersResponse" message="tns:MeetingService_GetDistinctPresenters_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/MeetingService/GetDistinctPresentersServiceFaultFault" name="ServiceFaultFault" message="tns:MeetingService_GetDistinctPresenters_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStatusTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/MeetingService/GetStatusTypes" message="tns:MeetingService_GetStatusTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/MeetingService/GetStatusTypesResponse" message="tns:MeetingService_GetStatusTypes_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/MeetingService/GetStatusTypesServiceFaultFault" name="ServiceFaultFault" message="tns:MeetingService_GetStatusTypes_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMeetingPresentationMapping">
      <wsdl:input wsaw:Action="http://tempuri.org/MeetingService/UpdateMeetingPresentationMapping" message="tns:MeetingService_UpdateMeetingPresentationMapping_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/MeetingService/UpdateMeetingPresentationMappingResponse" message="tns:MeetingService_UpdateMeetingPresentationMapping_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/MeetingService/UpdateMeetingPresentationMappingServiceFaultFault" name="ServiceFaultFault" message="tns:MeetingService_UpdateMeetingPresentationMapping_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePresentation">
      <wsdl:input wsaw:Action="http://tempuri.org/MeetingService/UpdatePresentation" message="tns:MeetingService_UpdatePresentation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/MeetingService/UpdatePresentationResponse" message="tns:MeetingService_UpdatePresentation_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/MeetingService/UpdatePresentationServiceFaultFault" name="ServiceFaultFault" message="tns:MeetingService_UpdatePresentation_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateMeetingPresentationMapping">
      <wsdl:input wsaw:Action="http://tempuri.org/MeetingService/CreateMeetingPresentationMapping" message="tns:MeetingService_CreateMeetingPresentationMapping_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/MeetingService/CreateMeetingPresentationMappingResponse" message="tns:MeetingService_CreateMeetingPresentationMapping_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/MeetingService/CreateMeetingPresentationMappingServiceFaultFault" name="ServiceFaultFault" message="tns:MeetingService_CreateMeetingPresentationMapping_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreatePresentation">
      <wsdl:input wsaw:Action="http://tempuri.org/MeetingService/CreatePresentation" message="tns:MeetingService_CreatePresentation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/MeetingService/CreatePresentationResponse" message="tns:MeetingService_CreatePresentation_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/MeetingService/CreatePresentationServiceFaultFault" name="ServiceFaultFault" message="tns:MeetingService_CreatePresentation_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateVoterInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/MeetingService/CreateVoterInfo" message="tns:MeetingService_CreateVoterInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/MeetingService/CreateVoterInfoResponse" message="tns:MeetingService_CreateVoterInfo_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/MeetingService/CreateVoterInfoServiceFaultFault" name="ServiceFaultFault" message="tns:MeetingService_CreateVoterInfo_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateFileInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/MeetingService/CreateFileInfo" message="tns:MeetingService_CreateFileInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/MeetingService/CreateFileInfoResponse" message="tns:MeetingService_CreateFileInfo_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/MeetingService/CreateFileInfoServiceFaultFault" name="ServiceFaultFault" message="tns:MeetingService_CreateFileInfo_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFileInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/MeetingService/GetFileInfo" message="tns:MeetingService_GetFileInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/MeetingService/GetFileInfoResponse" message="tns:MeetingService_GetFileInfo_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/MeetingService/GetFileInfoServiceFaultFault" name="ServiceFaultFault" message="tns:MeetingService_GetFileInfo_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_MeetingService" type="tns:MeetingService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RetrieveSecurityDetails">
      <soap:operation soapAction="http://tempuri.org/MeetingService/RetrieveSecurityDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetMeetings">
      <soap:operation soapAction="http://tempuri.org/MeetingService/GetMeetings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetMeetingsByDate">
      <soap:operation soapAction="http://tempuri.org/MeetingService/GetMeetingsByDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetMeetingDates">
      <soap:operation soapAction="http://tempuri.org/MeetingService/GetMeetingDates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateMeeting">
      <soap:operation soapAction="http://tempuri.org/MeetingService/CreateMeeting" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateMeeting">
      <soap:operation soapAction="http://tempuri.org/MeetingService/UpdateMeeting" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetPresentations">
      <soap:operation soapAction="http://tempuri.org/MeetingService/GetPresentations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetPresentationsByMeetingID">
      <soap:operation soapAction="http://tempuri.org/MeetingService/GetPresentationsByMeetingID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetPresentationsByMeetingDatePresenterStatus">
      <soap:operation soapAction="http://tempuri.org/MeetingService/GetPresentationsByMeetingDatePresenterStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDistinctPresenters">
      <soap:operation soapAction="http://tempuri.org/MeetingService/GetDistinctPresenters" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetStatusTypes">
      <soap:operation soapAction="http://tempuri.org/MeetingService/GetStatusTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateMeetingPresentationMapping">
      <soap:operation soapAction="http://tempuri.org/MeetingService/UpdateMeetingPresentationMapping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdatePresentation">
      <soap:operation soapAction="http://tempuri.org/MeetingService/UpdatePresentation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateMeetingPresentationMapping">
      <soap:operation soapAction="http://tempuri.org/MeetingService/CreateMeetingPresentationMapping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreatePresentation">
      <soap:operation soapAction="http://tempuri.org/MeetingService/CreatePresentation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateVoterInfo">
      <soap:operation soapAction="http://tempuri.org/MeetingService/CreateVoterInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateFileInfo">
      <soap:operation soapAction="http://tempuri.org/MeetingService/CreateFileInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetFileInfo">
      <soap:operation soapAction="http://tempuri.org/MeetingService/GetFileInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MeetingService">
    <wsdl:port name="BasicHttpBinding_MeetingService" binding="tns:BasicHttpBinding_MeetingService">
      <soap:address location="http://localhost:59430/Services/MeetingService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>