SourceCode/GreenField/GreenField.ServiceCaller/Service References/MeetingDefinitions/MeetingOperations6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GreenField.Web.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GreenField.Web.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59430/Services/MeetingOperations.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GreenField.DAL" />
  <xs:complexType name="PresentationAttachedFileStreamData">
    <xs:sequence>
      <xs:element minOccurs="0" name="FileStream" nillable="true" type="xs:base64Binary" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GreenField.DAL" minOccurs="0" name="PresentationAttachedFileData" nillable="true" type="q1:FileMaster" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PresentationAttachedFileStreamData" nillable="true" type="tns:PresentationAttachedFileStreamData" />
  <xs:complexType name="MeetingAttachedFileStreamData">
    <xs:sequence>
      <xs:element minOccurs="0" name="FileStream" nillable="true" type="xs:base64Binary" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GreenField.DAL" minOccurs="0" name="MeetingAttachedFileData" nillable="true" type="q2:FileMaster" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MeetingAttachedFileStreamData" nillable="true" type="tns:MeetingAttachedFileStreamData" />
</xs:schema>