SourceCode/GreenField/GreenField.ServiceCaller/Service References/MeetingDefinitions/MeetingOperations6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PresentationFile">
    <xs:sequence>
      <xs:element minOccurs="0" name="FileStream" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="PresentationId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PresentationFile" nillable="true" type="tns:PresentationFile" />
</xs:schema>