SourceCode/GreenField/GreenField.ServiceCaller/Service References/MeetingDefinitions/MeetingOperations.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MeetingOperations" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59430/Services/MeetingOperations.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59430/Services/MeetingOperations.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" />
      <xsd:import schemaLocation="http://localhost:59430/Services/MeetingOperations.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59430/Services/MeetingOperations.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GreenField.DAL" />
      <xsd:import schemaLocation="http://localhost:59430/Services/MeetingOperations.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
      <xsd:import schemaLocation="http://localhost:59430/Services/MeetingOperations.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/GreenField.DataContracts" />
      <xsd:import schemaLocation="http://localhost:59430/Services/MeetingOperations.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
      <xsd:import schemaLocation="http://localhost:59430/Services/MeetingOperations.svc?xsd=xsd7" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:59430/Services/MeetingOperations.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/GreenField.Web.DataContracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MeetingOperations_RetrievePresentationOverviewData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrievePresentationOverviewData" />
  </wsdl:message>
  <wsdl:message name="MeetingOperations_RetrievePresentationOverviewData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrievePresentationOverviewDataResponse" />
  </wsdl:message>
  <wsdl:message name="MeetingOperations_RetrievePresentationOverviewData_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q1:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="MeetingOperations_CreatePresentation_InputMessage">
    <wsdl:part name="parameters" element="tns:CreatePresentation" />
  </wsdl:message>
  <wsdl:message name="MeetingOperations_CreatePresentation_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreatePresentationResponse" />
  </wsdl:message>
  <wsdl:message name="MeetingOperations_CreatePresentation_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q2:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="MeetingOperations_RetrieveSecurityDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveSecurityDetails" />
  </wsdl:message>
  <wsdl:message name="MeetingOperations_RetrieveSecurityDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveSecurityDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="MeetingOperations_RetrieveSecurityDetails_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q3:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="MeetingOperations_RetrievePresentationAttachedFileDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrievePresentationAttachedFileDetails" />
  </wsdl:message>
  <wsdl:message name="MeetingOperations_RetrievePresentationAttachedFileDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrievePresentationAttachedFileDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="MeetingOperations_RetrievePresentationAttachedFileDetails_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q4:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="MeetingOperations_UpdatePresentationAttachedFileStreamData_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePresentationAttachedFileStreamData" />
  </wsdl:message>
  <wsdl:message name="MeetingOperations_UpdatePresentationAttachedFileStreamData_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePresentationAttachedFileStreamDataResponse" />
  </wsdl:message>
  <wsdl:message name="MeetingOperations_UpdatePresentationAttachedFileStreamData_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q5:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="MeetingOperations_GetMeetingConfigSchedule_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMeetingConfigSchedule" />
  </wsdl:message>
  <wsdl:message name="MeetingOperations_GetMeetingConfigSchedule_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMeetingConfigScheduleResponse" />
  </wsdl:message>
  <wsdl:message name="MeetingOperations_GetMeetingConfigSchedule_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q6:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="MeetingOperations_GetAvailablePresentationDates_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailablePresentationDates" />
  </wsdl:message>
  <wsdl:message name="MeetingOperations_GetAvailablePresentationDates_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailablePresentationDatesResponse" />
  </wsdl:message>
  <wsdl:message name="MeetingOperations_GetAvailablePresentationDates_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q7:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="MeetingOperations_UpdateMeetingConfigSchedule_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMeetingConfigSchedule" />
  </wsdl:message>
  <wsdl:message name="MeetingOperations_UpdateMeetingConfigSchedule_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMeetingConfigScheduleResponse" />
  </wsdl:message>
  <wsdl:message name="MeetingOperations_UpdateMeetingConfigSchedule_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q8:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="MeetingOperations_RetrievePresentationVoterData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrievePresentationVoterData" />
  </wsdl:message>
  <wsdl:message name="MeetingOperations_RetrievePresentationVoterData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrievePresentationVoterDataResponse" />
  </wsdl:message>
  <wsdl:message name="MeetingOperations_RetrievePresentationVoterData_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q9="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q9:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="MeetingOperations_RetrieveSecurityPFVMeasureCurrentPrices_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveSecurityPFVMeasureCurrentPrices" />
  </wsdl:message>
  <wsdl:message name="MeetingOperations_RetrieveSecurityPFVMeasureCurrentPrices_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveSecurityPFVMeasureCurrentPricesResponse" />
  </wsdl:message>
  <wsdl:message name="MeetingOperations_RetrieveSecurityPFVMeasureCurrentPrices_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q10="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q10:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="MeetingOperations_UpdateDecisionEntryDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDecisionEntryDetails" />
  </wsdl:message>
  <wsdl:message name="MeetingOperations_UpdateDecisionEntryDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDecisionEntryDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="MeetingOperations_UpdateDecisionEntryDetails_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q11="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q11:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="MeetingOperations_RetrieveMeetingInfoByPresentationStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveMeetingInfoByPresentationStatus" />
  </wsdl:message>
  <wsdl:message name="MeetingOperations_RetrieveMeetingInfoByPresentationStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveMeetingInfoByPresentationStatusResponse" />
  </wsdl:message>
  <wsdl:message name="MeetingOperations_RetrieveMeetingInfoByPresentationStatus_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q12="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q12:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="MeetingOperations_RetrieveMeetingMinuteDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveMeetingMinuteDetails" />
  </wsdl:message>
  <wsdl:message name="MeetingOperations_RetrieveMeetingMinuteDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveMeetingMinuteDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="MeetingOperations_RetrieveMeetingMinuteDetails_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q13="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q13:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="MeetingOperations_RetrieveMeetingAttachedFileDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveMeetingAttachedFileDetails" />
  </wsdl:message>
  <wsdl:message name="MeetingOperations_RetrieveMeetingAttachedFileDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveMeetingAttachedFileDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="MeetingOperations_RetrieveMeetingAttachedFileDetails_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q14="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q14:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="MeetingOperations_UpdateMeetingMinuteDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMeetingMinuteDetails" />
  </wsdl:message>
  <wsdl:message name="MeetingOperations_UpdateMeetingMinuteDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMeetingMinuteDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="MeetingOperations_UpdateMeetingMinuteDetails_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q15="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q15:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="MeetingOperations_UpdateMeetingAttachedFileStreamData_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMeetingAttachedFileStreamData" />
  </wsdl:message>
  <wsdl:message name="MeetingOperations_UpdateMeetingAttachedFileStreamData_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMeetingAttachedFileStreamDataResponse" />
  </wsdl:message>
  <wsdl:message name="MeetingOperations_UpdateMeetingAttachedFileStreamData_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q16="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q16:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="MeetingOperations_SetMeetingPresentationStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:SetMeetingPresentationStatus" />
  </wsdl:message>
  <wsdl:message name="MeetingOperations_SetMeetingPresentationStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetMeetingPresentationStatusResponse" />
  </wsdl:message>
  <wsdl:message name="MeetingOperations_SetMeetingPresentationStatus_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q17="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q17:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="MeetingOperations_RetrievePresentationComments_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrievePresentationComments" />
  </wsdl:message>
  <wsdl:message name="MeetingOperations_RetrievePresentationComments_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrievePresentationCommentsResponse" />
  </wsdl:message>
  <wsdl:message name="MeetingOperations_RetrievePresentationComments_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q18="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q18:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="MeetingOperations_SetPresentationComments_InputMessage">
    <wsdl:part name="parameters" element="tns:SetPresentationComments" />
  </wsdl:message>
  <wsdl:message name="MeetingOperations_SetPresentationComments_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetPresentationCommentsResponse" />
  </wsdl:message>
  <wsdl:message name="MeetingOperations_SetPresentationComments_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q19="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q19:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="MeetingOperations_UpdatePreMeetingVoteDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePreMeetingVoteDetails" />
  </wsdl:message>
  <wsdl:message name="MeetingOperations_UpdatePreMeetingVoteDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePreMeetingVoteDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="MeetingOperations_UpdatePreMeetingVoteDetails_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q20="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q20:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="MeetingOperations_UpdateMeetingPresentationDate_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMeetingPresentationDate" />
  </wsdl:message>
  <wsdl:message name="MeetingOperations_UpdateMeetingPresentationDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMeetingPresentationDateResponse" />
  </wsdl:message>
  <wsdl:message name="MeetingOperations_UpdateMeetingPresentationDate_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q21="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q21:ServiceFault" />
  </wsdl:message>
  <wsdl:portType name="MeetingOperations">
    <wsdl:operation name="RetrievePresentationOverviewData">
      <wsdl:input wsaw:Action="http://tempuri.org/MeetingOperations/RetrievePresentationOverviewData" message="tns:MeetingOperations_RetrievePresentationOverviewData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/MeetingOperations/RetrievePresentationOverviewDataResponse" message="tns:MeetingOperations_RetrievePresentationOverviewData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/MeetingOperations/RetrievePresentationOverviewDataServiceFaultFault" name="ServiceFaultFault" message="tns:MeetingOperations_RetrievePresentationOverviewData_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreatePresentation">
      <wsdl:input wsaw:Action="http://tempuri.org/MeetingOperations/CreatePresentation" message="tns:MeetingOperations_CreatePresentation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/MeetingOperations/CreatePresentationResponse" message="tns:MeetingOperations_CreatePresentation_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/MeetingOperations/CreatePresentationServiceFaultFault" name="ServiceFaultFault" message="tns:MeetingOperations_CreatePresentation_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveSecurityDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/MeetingOperations/RetrieveSecurityDetails" message="tns:MeetingOperations_RetrieveSecurityDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/MeetingOperations/RetrieveSecurityDetailsResponse" message="tns:MeetingOperations_RetrieveSecurityDetails_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/MeetingOperations/RetrieveSecurityDetailsServiceFaultFault" name="ServiceFaultFault" message="tns:MeetingOperations_RetrieveSecurityDetails_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrievePresentationAttachedFileDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/MeetingOperations/RetrievePresentationAttachedFileDetails" message="tns:MeetingOperations_RetrievePresentationAttachedFileDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/MeetingOperations/RetrievePresentationAttachedFileDetailsResponse" message="tns:MeetingOperations_RetrievePresentationAttachedFileDetails_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/MeetingOperations/RetrievePresentationAttachedFileDetailsServiceFaultFault" name="ServiceFaultFault" message="tns:MeetingOperations_RetrievePresentationAttachedFileDetails_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePresentationAttachedFileStreamData">
      <wsdl:input wsaw:Action="http://tempuri.org/MeetingOperations/UpdatePresentationAttachedFileStreamData" message="tns:MeetingOperations_UpdatePresentationAttachedFileStreamData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/MeetingOperations/UpdatePresentationAttachedFileStreamDataResponse" message="tns:MeetingOperations_UpdatePresentationAttachedFileStreamData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/MeetingOperations/UpdatePresentationAttachedFileStreamDataServiceFaultFault" name="ServiceFaultFault" message="tns:MeetingOperations_UpdatePresentationAttachedFileStreamData_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMeetingConfigSchedule">
      <wsdl:input wsaw:Action="http://tempuri.org/MeetingOperations/GetMeetingConfigSchedule" message="tns:MeetingOperations_GetMeetingConfigSchedule_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/MeetingOperations/GetMeetingConfigScheduleResponse" message="tns:MeetingOperations_GetMeetingConfigSchedule_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/MeetingOperations/GetMeetingConfigScheduleServiceFaultFault" name="ServiceFaultFault" message="tns:MeetingOperations_GetMeetingConfigSchedule_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAvailablePresentationDates">
      <wsdl:input wsaw:Action="http://tempuri.org/MeetingOperations/GetAvailablePresentationDates" message="tns:MeetingOperations_GetAvailablePresentationDates_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/MeetingOperations/GetAvailablePresentationDatesResponse" message="tns:MeetingOperations_GetAvailablePresentationDates_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/MeetingOperations/GetAvailablePresentationDatesServiceFaultFault" name="ServiceFaultFault" message="tns:MeetingOperations_GetAvailablePresentationDates_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMeetingConfigSchedule">
      <wsdl:input wsaw:Action="http://tempuri.org/MeetingOperations/UpdateMeetingConfigSchedule" message="tns:MeetingOperations_UpdateMeetingConfigSchedule_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/MeetingOperations/UpdateMeetingConfigScheduleResponse" message="tns:MeetingOperations_UpdateMeetingConfigSchedule_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/MeetingOperations/UpdateMeetingConfigScheduleServiceFaultFault" name="ServiceFaultFault" message="tns:MeetingOperations_UpdateMeetingConfigSchedule_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrievePresentationVoterData">
      <wsdl:input wsaw:Action="http://tempuri.org/MeetingOperations/RetrievePresentationVoterData" message="tns:MeetingOperations_RetrievePresentationVoterData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/MeetingOperations/RetrievePresentationVoterDataResponse" message="tns:MeetingOperations_RetrievePresentationVoterData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/MeetingOperations/RetrievePresentationVoterDataServiceFaultFault" name="ServiceFaultFault" message="tns:MeetingOperations_RetrievePresentationVoterData_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveSecurityPFVMeasureCurrentPrices">
      <wsdl:input wsaw:Action="http://tempuri.org/MeetingOperations/RetrieveSecurityPFVMeasureCurrentPrices" message="tns:MeetingOperations_RetrieveSecurityPFVMeasureCurrentPrices_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/MeetingOperations/RetrieveSecurityPFVMeasureCurrentPricesResponse" message="tns:MeetingOperations_RetrieveSecurityPFVMeasureCurrentPrices_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/MeetingOperations/RetrieveSecurityPFVMeasureCurrentPricesServiceFaultFault" name="ServiceFaultFault" message="tns:MeetingOperations_RetrieveSecurityPFVMeasureCurrentPrices_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDecisionEntryDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/MeetingOperations/UpdateDecisionEntryDetails" message="tns:MeetingOperations_UpdateDecisionEntryDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/MeetingOperations/UpdateDecisionEntryDetailsResponse" message="tns:MeetingOperations_UpdateDecisionEntryDetails_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/MeetingOperations/UpdateDecisionEntryDetailsServiceFaultFault" name="ServiceFaultFault" message="tns:MeetingOperations_UpdateDecisionEntryDetails_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveMeetingInfoByPresentationStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/MeetingOperations/RetrieveMeetingInfoByPresentationStatus" message="tns:MeetingOperations_RetrieveMeetingInfoByPresentationStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/MeetingOperations/RetrieveMeetingInfoByPresentationStatusResponse" message="tns:MeetingOperations_RetrieveMeetingInfoByPresentationStatus_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/MeetingOperations/RetrieveMeetingInfoByPresentationStatusServiceFaultFault" name="ServiceFaultFault" message="tns:MeetingOperations_RetrieveMeetingInfoByPresentationStatus_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveMeetingMinuteDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/MeetingOperations/RetrieveMeetingMinuteDetails" message="tns:MeetingOperations_RetrieveMeetingMinuteDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/MeetingOperations/RetrieveMeetingMinuteDetailsResponse" message="tns:MeetingOperations_RetrieveMeetingMinuteDetails_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/MeetingOperations/RetrieveMeetingMinuteDetailsServiceFaultFault" name="ServiceFaultFault" message="tns:MeetingOperations_RetrieveMeetingMinuteDetails_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveMeetingAttachedFileDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/MeetingOperations/RetrieveMeetingAttachedFileDetails" message="tns:MeetingOperations_RetrieveMeetingAttachedFileDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/MeetingOperations/RetrieveMeetingAttachedFileDetailsResponse" message="tns:MeetingOperations_RetrieveMeetingAttachedFileDetails_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/MeetingOperations/RetrieveMeetingAttachedFileDetailsServiceFaultFault" name="ServiceFaultFault" message="tns:MeetingOperations_RetrieveMeetingAttachedFileDetails_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMeetingMinuteDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/MeetingOperations/UpdateMeetingMinuteDetails" message="tns:MeetingOperations_UpdateMeetingMinuteDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/MeetingOperations/UpdateMeetingMinuteDetailsResponse" message="tns:MeetingOperations_UpdateMeetingMinuteDetails_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/MeetingOperations/UpdateMeetingMinuteDetailsServiceFaultFault" name="ServiceFaultFault" message="tns:MeetingOperations_UpdateMeetingMinuteDetails_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMeetingAttachedFileStreamData">
      <wsdl:input wsaw:Action="http://tempuri.org/MeetingOperations/UpdateMeetingAttachedFileStreamData" message="tns:MeetingOperations_UpdateMeetingAttachedFileStreamData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/MeetingOperations/UpdateMeetingAttachedFileStreamDataResponse" message="tns:MeetingOperations_UpdateMeetingAttachedFileStreamData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/MeetingOperations/UpdateMeetingAttachedFileStreamDataServiceFaultFault" name="ServiceFaultFault" message="tns:MeetingOperations_UpdateMeetingAttachedFileStreamData_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetMeetingPresentationStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/MeetingOperations/SetMeetingPresentationStatus" message="tns:MeetingOperations_SetMeetingPresentationStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/MeetingOperations/SetMeetingPresentationStatusResponse" message="tns:MeetingOperations_SetMeetingPresentationStatus_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/MeetingOperations/SetMeetingPresentationStatusServiceFaultFault" name="ServiceFaultFault" message="tns:MeetingOperations_SetMeetingPresentationStatus_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrievePresentationComments">
      <wsdl:input wsaw:Action="http://tempuri.org/MeetingOperations/RetrievePresentationComments" message="tns:MeetingOperations_RetrievePresentationComments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/MeetingOperations/RetrievePresentationCommentsResponse" message="tns:MeetingOperations_RetrievePresentationComments_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/MeetingOperations/RetrievePresentationCommentsServiceFaultFault" name="ServiceFaultFault" message="tns:MeetingOperations_RetrievePresentationComments_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetPresentationComments">
      <wsdl:input wsaw:Action="http://tempuri.org/MeetingOperations/SetPresentationComments" message="tns:MeetingOperations_SetPresentationComments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/MeetingOperations/SetPresentationCommentsResponse" message="tns:MeetingOperations_SetPresentationComments_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/MeetingOperations/SetPresentationCommentsServiceFaultFault" name="ServiceFaultFault" message="tns:MeetingOperations_SetPresentationComments_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePreMeetingVoteDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/MeetingOperations/UpdatePreMeetingVoteDetails" message="tns:MeetingOperations_UpdatePreMeetingVoteDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/MeetingOperations/UpdatePreMeetingVoteDetailsResponse" message="tns:MeetingOperations_UpdatePreMeetingVoteDetails_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/MeetingOperations/UpdatePreMeetingVoteDetailsServiceFaultFault" name="ServiceFaultFault" message="tns:MeetingOperations_UpdatePreMeetingVoteDetails_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMeetingPresentationDate">
      <wsdl:input wsaw:Action="http://tempuri.org/MeetingOperations/UpdateMeetingPresentationDate" message="tns:MeetingOperations_UpdateMeetingPresentationDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/MeetingOperations/UpdateMeetingPresentationDateResponse" message="tns:MeetingOperations_UpdateMeetingPresentationDate_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/MeetingOperations/UpdateMeetingPresentationDateServiceFaultFault" name="ServiceFaultFault" message="tns:MeetingOperations_UpdateMeetingPresentationDate_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MeetingOperations" type="tns:MeetingOperations">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RetrievePresentationOverviewData">
      <soap:operation soapAction="http://tempuri.org/MeetingOperations/RetrievePresentationOverviewData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreatePresentation">
      <soap:operation soapAction="http://tempuri.org/MeetingOperations/CreatePresentation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveSecurityDetails">
      <soap:operation soapAction="http://tempuri.org/MeetingOperations/RetrieveSecurityDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrievePresentationAttachedFileDetails">
      <soap:operation soapAction="http://tempuri.org/MeetingOperations/RetrievePresentationAttachedFileDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdatePresentationAttachedFileStreamData">
      <soap:operation soapAction="http://tempuri.org/MeetingOperations/UpdatePresentationAttachedFileStreamData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetMeetingConfigSchedule">
      <soap:operation soapAction="http://tempuri.org/MeetingOperations/GetMeetingConfigSchedule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAvailablePresentationDates">
      <soap:operation soapAction="http://tempuri.org/MeetingOperations/GetAvailablePresentationDates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateMeetingConfigSchedule">
      <soap:operation soapAction="http://tempuri.org/MeetingOperations/UpdateMeetingConfigSchedule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrievePresentationVoterData">
      <soap:operation soapAction="http://tempuri.org/MeetingOperations/RetrievePresentationVoterData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveSecurityPFVMeasureCurrentPrices">
      <soap:operation soapAction="http://tempuri.org/MeetingOperations/RetrieveSecurityPFVMeasureCurrentPrices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateDecisionEntryDetails">
      <soap:operation soapAction="http://tempuri.org/MeetingOperations/UpdateDecisionEntryDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveMeetingInfoByPresentationStatus">
      <soap:operation soapAction="http://tempuri.org/MeetingOperations/RetrieveMeetingInfoByPresentationStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveMeetingMinuteDetails">
      <soap:operation soapAction="http://tempuri.org/MeetingOperations/RetrieveMeetingMinuteDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveMeetingAttachedFileDetails">
      <soap:operation soapAction="http://tempuri.org/MeetingOperations/RetrieveMeetingAttachedFileDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateMeetingMinuteDetails">
      <soap:operation soapAction="http://tempuri.org/MeetingOperations/UpdateMeetingMinuteDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateMeetingAttachedFileStreamData">
      <soap:operation soapAction="http://tempuri.org/MeetingOperations/UpdateMeetingAttachedFileStreamData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SetMeetingPresentationStatus">
      <soap:operation soapAction="http://tempuri.org/MeetingOperations/SetMeetingPresentationStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrievePresentationComments">
      <soap:operation soapAction="http://tempuri.org/MeetingOperations/RetrievePresentationComments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SetPresentationComments">
      <soap:operation soapAction="http://tempuri.org/MeetingOperations/SetPresentationComments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdatePreMeetingVoteDetails">
      <soap:operation soapAction="http://tempuri.org/MeetingOperations/UpdatePreMeetingVoteDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateMeetingPresentationDate">
      <soap:operation soapAction="http://tempuri.org/MeetingOperations/UpdateMeetingPresentationDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MeetingOperations">
    <wsdl:port name="MeetingOperations" binding="tns:MeetingOperations">
      <soap:address location="http://localhost:59430/Services/MeetingOperations.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>