SourceCode/GreenField/GreenField.ServiceCaller/Service References/MeetingDefinitions/MeetingOperations7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GreenField.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GreenField.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMembershipUserInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MembershipUserInfo" nillable="true" type="tns:MembershipUserInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMembershipUserInfo" nillable="true" type="tns:ArrayOfMembershipUserInfo" />
  <xs:complexType name="MembershipUserInfo">
    <xs:sequence>
      <xs:element name="Comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsApproved" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsLockedOut" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsOnline" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastActivityDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastLockOutDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastLogInDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastPassWordChangedDate" type="xs:dateTime" />
      <xs:element name="PasswordQuestion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProviderName" nillable="true" type="xs:string" />
      <xs:element name="ProviderUserKey" nillable="true" type="xs:string" />
      <xs:element name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MembershipUserInfo" nillable="true" type="tns:MembershipUserInfo" />
  <xs:complexType name="EntitySelectionData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Country_Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ISSUER_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ISSUER_PROXY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InstrumentID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IssuerId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LOOK_THRU_FUND" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LongName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Region_Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecurityId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecurityType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShortName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SortOrder" type="xs:int" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdateBBStatus" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EntitySelectionData" nillable="true" type="tns:EntitySelectionData" />
  <xs:complexType name="PortfolioSelectionData">
    <xs:sequence>
      <xs:element minOccurs="0" name="BenchmarkId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsComposite" type="xs:boolean" />
      <xs:element minOccurs="0" name="PortfolioId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PortfolioThemeSubGroupId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PortfolioThemeSubGroupName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PortfolioSelectionData" nillable="true" type="tns:PortfolioSelectionData" />
</xs:schema>