SourceCode/GreenField/GreenField.ServiceCaller/Service References/DashboardDefinitions/DashboardOperations4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GreenField.DAL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GreenField.DAL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59430/Services/DashboardOperations.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
  <xs:complexType name="ArrayOftblDashboardPreference">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tblDashboardPreference" nillable="true" type="tns:tblDashboardPreference" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftblDashboardPreference" nillable="true" type="tns:ArrayOftblDashboardPreference" />
  <xs:complexType name="tblDashboardPreference">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q1:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="GadgetName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="GadgetPosition" type="xs:int" />
          <xs:element minOccurs="0" name="GadgetState" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="GadgetViewClassName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="GadgetViewModelClassName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PreferenceGroupID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PreferenceID" type="xs:int" />
          <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="tblDashboardPreference" nillable="true" type="tns:tblDashboardPreference" />
</xs:schema>