SourceCode/GreenField/GreenField.ServiceCaller/Service References/DashboardDefinitions/DashboardOperations2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59430/Services/DashboardOperations.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GreenField.DAL" />
  <xs:element name="GetDashboardPreferenceByUserName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDashboardPreferenceByUserNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GreenField.DAL" minOccurs="0" name="GetDashboardPreferenceByUserNameResult" nillable="true" type="q1:ArrayOftblDashboardPreference" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDashBoardPreference">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GreenField.DAL" minOccurs="0" name="dashBoardPreference" nillable="true" type="q2:ArrayOftblDashboardPreference" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDashBoardPreferenceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetDashBoardPreferenceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>