SourceCode/GreenField/GreenField.ServiceCaller/Service References/DashboardDefinitions/DashboardOperations.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DashboardOperations" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59430/Services/DashboardOperations.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59430/Services/DashboardOperations.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" />
      <xsd:import schemaLocation="http://localhost:59430/Services/DashboardOperations.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59430/Services/DashboardOperations.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GreenField.DAL" />
      <xsd:import schemaLocation="http://localhost:59430/Services/DashboardOperations.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
      <xsd:import schemaLocation="http://localhost:59430/Services/DashboardOperations.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="DashboardOperations_GetDashboardPreferenceByUserName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDashboardPreferenceByUserName" />
  </wsdl:message>
  <wsdl:message name="DashboardOperations_GetDashboardPreferenceByUserName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDashboardPreferenceByUserNameResponse" />
  </wsdl:message>
  <wsdl:message name="DashboardOperations_GetDashboardPreferenceByUserName_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q1:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="DashboardOperations_SetDashboardPreference_InputMessage">
    <wsdl:part name="parameters" element="tns:SetDashboardPreference" />
  </wsdl:message>
  <wsdl:message name="DashboardOperations_SetDashboardPreference_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetDashboardPreferenceResponse" />
  </wsdl:message>
  <wsdl:message name="DashboardOperations_SetDashboardPreference_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q2:ServiceFault" />
  </wsdl:message>
  <wsdl:portType name="DashboardOperations">
    <wsdl:operation name="GetDashboardPreferenceByUserName">
      <wsdl:input wsaw:Action="http://tempuri.org/DashboardOperations/GetDashboardPreferenceByUserName" message="tns:DashboardOperations_GetDashboardPreferenceByUserName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DashboardOperations/GetDashboardPreferenceByUserNameResponse" message="tns:DashboardOperations_GetDashboardPreferenceByUserName_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/DashboardOperations/GetDashboardPreferenceByUserNameServiceFaultFault" name="ServiceFaultFault" message="tns:DashboardOperations_GetDashboardPreferenceByUserName_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetDashboardPreference">
      <wsdl:input wsaw:Action="http://tempuri.org/DashboardOperations/SetDashboardPreference" message="tns:DashboardOperations_SetDashboardPreference_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DashboardOperations/SetDashboardPreferenceResponse" message="tns:DashboardOperations_SetDashboardPreference_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/DashboardOperations/SetDashboardPreferenceServiceFaultFault" name="ServiceFaultFault" message="tns:DashboardOperations_SetDashboardPreference_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DashboardOperations" type="tns:DashboardOperations">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDashboardPreferenceByUserName">
      <soap:operation soapAction="http://tempuri.org/DashboardOperations/GetDashboardPreferenceByUserName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SetDashboardPreference">
      <soap:operation soapAction="http://tempuri.org/DashboardOperations/SetDashboardPreference" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DashboardOperations">
    <wsdl:port name="DashboardOperations" binding="tns:DashboardOperations">
      <soap:address location="http://localhost:59430/Services/DashboardOperations.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>