SourceCode/GreenField/GreenField.ServiceCaller/Service References/LoginDefinitions/LoginOperations.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LoginOperations" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59430/Services/LoginOperations.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59430/Services/LoginOperations.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59430/Services/LoginOperations.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GreenField.Web.DataContracts" />
      <xsd:import schemaLocation="http://localhost:59430/Services/LoginOperations.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="LoginOperations_ValidateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateUser" />
  </wsdl:message>
  <wsdl:message name="LoginOperations_ValidateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateUserResponse" />
  </wsdl:message>
  <wsdl:message name="LoginOperations_CreateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateUser" />
  </wsdl:message>
  <wsdl:message name="LoginOperations_CreateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateUserResponse" />
  </wsdl:message>
  <wsdl:message name="LoginOperations_ChangePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="LoginOperations_ChangePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="LoginOperations_ResetPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ResetPassword" />
  </wsdl:message>
  <wsdl:message name="LoginOperations_ResetPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResetPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="LoginOperations_UpdateApprovalForUser_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateApprovalForUser" />
  </wsdl:message>
  <wsdl:message name="LoginOperations_UpdateApprovalForUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateApprovalForUserResponse" />
  </wsdl:message>
  <wsdl:message name="LoginOperations_UpdateApprovalForUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateApprovalForUsers" />
  </wsdl:message>
  <wsdl:message name="LoginOperations_UpdateApprovalForUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateApprovalForUsersResponse" />
  </wsdl:message>
  <wsdl:message name="LoginOperations_DeleteUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUser" />
  </wsdl:message>
  <wsdl:message name="LoginOperations_DeleteUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="LoginOperations_DeleteUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUsers" />
  </wsdl:message>
  <wsdl:message name="LoginOperations_DeleteUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUsersResponse" />
  </wsdl:message>
  <wsdl:message name="LoginOperations_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="LoginOperations_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="LoginOperations_GetAllUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsers" />
  </wsdl:message>
  <wsdl:message name="LoginOperations_GetAllUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="LoginOperations_UnlockUser_InputMessage">
    <wsdl:part name="parameters" element="tns:UnlockUser" />
  </wsdl:message>
  <wsdl:message name="LoginOperations_UnlockUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnlockUserResponse" />
  </wsdl:message>
  <wsdl:message name="LoginOperations_UnlockUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:UnlockUsers" />
  </wsdl:message>
  <wsdl:message name="LoginOperations_UnlockUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnlockUsersResponse" />
  </wsdl:message>
  <wsdl:message name="LoginOperations_GetAllRoles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRoles" />
  </wsdl:message>
  <wsdl:message name="LoginOperations_GetAllRoles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRolesResponse" />
  </wsdl:message>
  <wsdl:message name="LoginOperations_CreateRole_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateRole" />
  </wsdl:message>
  <wsdl:message name="LoginOperations_CreateRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateRoleResponse" />
  </wsdl:message>
  <wsdl:message name="LoginOperations_GetRolesForUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRolesForUser" />
  </wsdl:message>
  <wsdl:message name="LoginOperations_GetRolesForUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRolesForUserResponse" />
  </wsdl:message>
  <wsdl:message name="LoginOperations_RemoveUsersFromRoles_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveUsersFromRoles" />
  </wsdl:message>
  <wsdl:message name="LoginOperations_RemoveUsersFromRoles_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveUsersFromRolesResponse" />
  </wsdl:message>
  <wsdl:message name="LoginOperations_AddUsersToRoles_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUsersToRoles" />
  </wsdl:message>
  <wsdl:message name="LoginOperations_AddUsersToRoles_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUsersToRolesResponse" />
  </wsdl:message>
  <wsdl:message name="LoginOperations_UpdateUserRoles_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserRoles" />
  </wsdl:message>
  <wsdl:message name="LoginOperations_UpdateUserRoles_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserRolesResponse" />
  </wsdl:message>
  <wsdl:message name="LoginOperations_DeleteRole_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRole" />
  </wsdl:message>
  <wsdl:message name="LoginOperations_DeleteRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRoleResponse" />
  </wsdl:message>
  <wsdl:portType name="LoginOperations">
    <wsdl:operation name="ValidateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/LoginOperations/ValidateUser" message="tns:LoginOperations_ValidateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/LoginOperations/ValidateUserResponse" message="tns:LoginOperations_ValidateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/LoginOperations/CreateUser" message="tns:LoginOperations_CreateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/LoginOperations/CreateUserResponse" message="tns:LoginOperations_CreateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input wsaw:Action="http://tempuri.org/LoginOperations/ChangePassword" message="tns:LoginOperations_ChangePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/LoginOperations/ChangePasswordResponse" message="tns:LoginOperations_ChangePassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ResetPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/LoginOperations/ResetPassword" message="tns:LoginOperations_ResetPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/LoginOperations/ResetPasswordResponse" message="tns:LoginOperations_ResetPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateApprovalForUser">
      <wsdl:input wsaw:Action="http://tempuri.org/LoginOperations/UpdateApprovalForUser" message="tns:LoginOperations_UpdateApprovalForUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/LoginOperations/UpdateApprovalForUserResponse" message="tns:LoginOperations_UpdateApprovalForUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateApprovalForUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/LoginOperations/UpdateApprovalForUsers" message="tns:LoginOperations_UpdateApprovalForUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/LoginOperations/UpdateApprovalForUsersResponse" message="tns:LoginOperations_UpdateApprovalForUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <wsdl:input wsaw:Action="http://tempuri.org/LoginOperations/DeleteUser" message="tns:LoginOperations_DeleteUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/LoginOperations/DeleteUserResponse" message="tns:LoginOperations_DeleteUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/LoginOperations/DeleteUsers" message="tns:LoginOperations_DeleteUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/LoginOperations/DeleteUsersResponse" message="tns:LoginOperations_DeleteUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/LoginOperations/GetUser" message="tns:LoginOperations_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/LoginOperations/GetUserResponse" message="tns:LoginOperations_GetUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/LoginOperations/GetAllUsers" message="tns:LoginOperations_GetAllUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/LoginOperations/GetAllUsersResponse" message="tns:LoginOperations_GetAllUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnlockUser">
      <wsdl:input wsaw:Action="http://tempuri.org/LoginOperations/UnlockUser" message="tns:LoginOperations_UnlockUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/LoginOperations/UnlockUserResponse" message="tns:LoginOperations_UnlockUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnlockUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/LoginOperations/UnlockUsers" message="tns:LoginOperations_UnlockUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/LoginOperations/UnlockUsersResponse" message="tns:LoginOperations_UnlockUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllRoles">
      <wsdl:input wsaw:Action="http://tempuri.org/LoginOperations/GetAllRoles" message="tns:LoginOperations_GetAllRoles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/LoginOperations/GetAllRolesResponse" message="tns:LoginOperations_GetAllRoles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateRole">
      <wsdl:input wsaw:Action="http://tempuri.org/LoginOperations/CreateRole" message="tns:LoginOperations_CreateRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/LoginOperations/CreateRoleResponse" message="tns:LoginOperations_CreateRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRolesForUser">
      <wsdl:input wsaw:Action="http://tempuri.org/LoginOperations/GetRolesForUser" message="tns:LoginOperations_GetRolesForUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/LoginOperations/GetRolesForUserResponse" message="tns:LoginOperations_GetRolesForUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveUsersFromRoles">
      <wsdl:input wsaw:Action="http://tempuri.org/LoginOperations/RemoveUsersFromRoles" message="tns:LoginOperations_RemoveUsersFromRoles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/LoginOperations/RemoveUsersFromRolesResponse" message="tns:LoginOperations_RemoveUsersFromRoles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUsersToRoles">
      <wsdl:input wsaw:Action="http://tempuri.org/LoginOperations/AddUsersToRoles" message="tns:LoginOperations_AddUsersToRoles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/LoginOperations/AddUsersToRolesResponse" message="tns:LoginOperations_AddUsersToRoles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserRoles">
      <wsdl:input wsaw:Action="http://tempuri.org/LoginOperations/UpdateUserRoles" message="tns:LoginOperations_UpdateUserRoles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/LoginOperations/UpdateUserRolesResponse" message="tns:LoginOperations_UpdateUserRoles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteRole">
      <wsdl:input wsaw:Action="http://tempuri.org/LoginOperations/DeleteRole" message="tns:LoginOperations_DeleteRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/LoginOperations/DeleteRoleResponse" message="tns:LoginOperations_DeleteRole_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_LoginOperations" type="tns:LoginOperations">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidateUser">
      <soap:operation soapAction="http://tempuri.org/LoginOperations/ValidateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <soap:operation soapAction="http://tempuri.org/LoginOperations/CreateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap:operation soapAction="http://tempuri.org/LoginOperations/ChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetPassword">
      <soap:operation soapAction="http://tempuri.org/LoginOperations/ResetPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateApprovalForUser">
      <soap:operation soapAction="http://tempuri.org/LoginOperations/UpdateApprovalForUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateApprovalForUsers">
      <soap:operation soapAction="http://tempuri.org/LoginOperations/UpdateApprovalForUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap:operation soapAction="http://tempuri.org/LoginOperations/DeleteUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUsers">
      <soap:operation soapAction="http://tempuri.org/LoginOperations/DeleteUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="http://tempuri.org/LoginOperations/GetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <soap:operation soapAction="http://tempuri.org/LoginOperations/GetAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnlockUser">
      <soap:operation soapAction="http://tempuri.org/LoginOperations/UnlockUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnlockUsers">
      <soap:operation soapAction="http://tempuri.org/LoginOperations/UnlockUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllRoles">
      <soap:operation soapAction="http://tempuri.org/LoginOperations/GetAllRoles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateRole">
      <soap:operation soapAction="http://tempuri.org/LoginOperations/CreateRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRolesForUser">
      <soap:operation soapAction="http://tempuri.org/LoginOperations/GetRolesForUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveUsersFromRoles">
      <soap:operation soapAction="http://tempuri.org/LoginOperations/RemoveUsersFromRoles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUsersToRoles">
      <soap:operation soapAction="http://tempuri.org/LoginOperations/AddUsersToRoles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserRoles">
      <soap:operation soapAction="http://tempuri.org/LoginOperations/UpdateUserRoles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRole">
      <soap:operation soapAction="http://tempuri.org/LoginOperations/DeleteRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LoginOperations">
    <wsdl:port name="BasicHttpBinding_LoginOperations" binding="tns:BasicHttpBinding_LoginOperations">
      <soap:address location="http://localhost:59430/Services/LoginOperations.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>