SourceCode/GreenField/GreenField.ServiceCaller/Service References/LoggingDefinitions/LoggingOperations.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LoggingOperations" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59430/Services/LoggingOperations.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59430/Services/LoggingOperations.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" />
      <xsd:import schemaLocation="http://localhost:59430/Services/LoggingOperations.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="LoggingOperations_LogToFile_InputMessage">
    <wsdl:part name="parameters" element="tns:LogToFile" />
  </wsdl:message>
  <wsdl:message name="LoggingOperations_LogToFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogToFileResponse" />
  </wsdl:message>
  <wsdl:message name="LoggingOperations_LogToFile_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q1:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="LoggingOperations_GetLoggingLevel_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLoggingLevel" />
  </wsdl:message>
  <wsdl:message name="LoggingOperations_GetLoggingLevel_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLoggingLevelResponse" />
  </wsdl:message>
  <wsdl:message name="LoggingOperations_GetLoggingLevel_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q2:ServiceFault" />
  </wsdl:message>
  <wsdl:portType name="LoggingOperations">
    <wsdl:operation name="LogToFile">
      <wsdl:input wsaw:Action="http://tempuri.org/LoggingOperations/LogToFile" message="tns:LoggingOperations_LogToFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/LoggingOperations/LogToFileResponse" message="tns:LoggingOperations_LogToFile_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/LoggingOperations/LogToFileServiceFaultFault" name="ServiceFaultFault" message="tns:LoggingOperations_LogToFile_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLoggingLevel">
      <wsdl:input wsaw:Action="http://tempuri.org/LoggingOperations/GetLoggingLevel" message="tns:LoggingOperations_GetLoggingLevel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/LoggingOperations/GetLoggingLevelResponse" message="tns:LoggingOperations_GetLoggingLevel_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/LoggingOperations/GetLoggingLevelServiceFaultFault" name="ServiceFaultFault" message="tns:LoggingOperations_GetLoggingLevel_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LoggingOperations" type="tns:LoggingOperations">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LogToFile">
      <soap:operation soapAction="http://tempuri.org/LoggingOperations/LogToFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetLoggingLevel">
      <soap:operation soapAction="http://tempuri.org/LoggingOperations/GetLoggingLevel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LoggingOperations">
    <wsdl:port name="LoggingOperations" binding="tns:LoggingOperations">
      <soap:address location="http://localhost:59430/Services/LoggingOperations.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>