SourceCode/GreenField/GreenField.Web/Service References/DimensionDataLocalService/Schema.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Schema" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/AshmoreWebServices/Services/Schema.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/AshmoreWebServices/Services/Schema.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/AshmoreWebServices/Services/Schema.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost/AshmoreWebServices/Services/Schema.svc?xsd=xsd3" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISchema_GetViews_InputMessage">
    <wsdl:part name="parameters" element="tns:GetViews" />
  </wsdl:message>
  <wsdl:message name="ISchema_GetViews_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetViewsResponse" />
  </wsdl:message>
  <wsdl:message name="ISchema_ListViews_InputMessage">
    <wsdl:part name="parameters" element="tns:ListViews" />
  </wsdl:message>
  <wsdl:message name="ISchema_ListViews_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListViewsResponse" />
  </wsdl:message>
  <wsdl:message name="ISchema_RunView_InputMessage">
    <wsdl:part name="parameters" element="tns:RunView" />
  </wsdl:message>
  <wsdl:message name="ISchema_RunView_OutputMessage">
    <wsdl:part name="parameters" element="tns:RunViewResponse" />
  </wsdl:message>
  <wsdl:portType name="ISchema">
    <wsdl:operation name="GetViews">
      <wsdl:input wsaw:Action="http://tempuri.org/ISchema/GetViews" message="tns:ISchema_GetViews_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISchema/GetViewsResponse" message="tns:ISchema_GetViews_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListViews">
      <wsdl:input wsaw:Action="http://tempuri.org/ISchema/ListViews" message="tns:ISchema_ListViews_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISchema/ListViewsResponse" message="tns:ISchema_ListViews_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RunView">
      <wsdl:input wsaw:Action="http://tempuri.org/ISchema/RunView" message="tns:ISchema_RunView_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISchema/RunViewResponse" message="tns:ISchema_RunView_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISchema" type="tns:ISchema">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetViews">
      <soap:operation soapAction="http://tempuri.org/ISchema/GetViews" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListViews">
      <soap:operation soapAction="http://tempuri.org/ISchema/ListViews" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunView">
      <soap:operation soapAction="http://tempuri.org/ISchema/RunView" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Schema">
    <wsdl:port name="BasicHttpBinding_ISchema" binding="tns:BasicHttpBinding_ISchema">
      <soap:address location="http://localhost/AshmoreWebServices/Services/Schema.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>