SourceCode/GreenField/GreenField.ServiceCaller/Service References/FairValueDefinitions/FairValueOperations2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59430/Services/FairValueOperations.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GreenField.DataContracts" />
  <xs:element name="RetrieveFairValueCompostionSummary">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GreenField.DataContracts" minOccurs="0" name="entitySelectionData" nillable="true" type="q1:EntitySelectionData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveFairValueCompostionSummaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GreenField.DataContracts" minOccurs="0" name="RetrieveFairValueCompostionSummaryResult" nillable="true" type="q2:ArrayOfFairValueCompositionSummaryData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveFairValueCompostionSummaryData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GreenField.DataContracts" minOccurs="0" name="entitySelectionData" nillable="true" type="q3:EntitySelectionData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveFairValueCompostionSummaryDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GreenField.DataContracts" minOccurs="0" name="RetrieveFairValueCompostionSummaryDataResult" nillable="true" type="q4:ArrayOfFairValueCompositionSummaryData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveFairValueDataWithNewUpside">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/GreenField.DataContracts" minOccurs="0" name="entitySelectionData" nillable="true" type="q5:EntitySelectionData" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/GreenField.DataContracts" minOccurs="0" name="editedFairValueData" nillable="true" type="q6:FairValueCompositionSummaryData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveFairValueDataWithNewUpsideResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/GreenField.DataContracts" minOccurs="0" name="RetrieveFairValueDataWithNewUpsideResult" nillable="true" type="q7:FairValueCompositionSummaryData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUpdatedFairValueData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/GreenField.DataContracts" minOccurs="0" name="entitySelectionData" nillable="true" type="q8:EntitySelectionData" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/GreenField.DataContracts" minOccurs="0" name="editedFairValueData" nillable="true" type="q9:ArrayOfFairValueCompositionSummaryData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUpdatedFairValueDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/GreenField.DataContracts" minOccurs="0" name="SaveUpdatedFairValueDataResult" nillable="true" type="q10:ArrayOfFairValueCompositionSummaryData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>