SourceCode/GreenField/GreenField.ServiceCaller/Service References/FairValueDefinitions/FairValueOperations1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://localhost:59430/Services/FairValueOperations.svc?xsd=xsd0" />
      <xsd:import schemaLocation="http://localhost:59430/Services/FairValueOperations.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" />
      <xsd:import schemaLocation="http://localhost:59430/Services/FairValueOperations.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59430/Services/FairValueOperations.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GreenField.DataContracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="FairValueOperations_RetrieveFairValueCompostionSummary_InputMessage">
    <wsdl:part name="parameters" element="RetrieveFairValueCompostionSummary" />
  </wsdl:message>
  <wsdl:message name="FairValueOperations_RetrieveFairValueCompostionSummary_OutputMessage">
    <wsdl:part name="parameters" element="RetrieveFairValueCompostionSummaryResponse" />
  </wsdl:message>
  <wsdl:message name="FairValueOperations_RetrieveFairValueCompostionSummary_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q1:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="FairValueOperations_RetrieveFairValueDataWithNewUpside_InputMessage">
    <wsdl:part name="parameters" element="RetrieveFairValueDataWithNewUpside" />
  </wsdl:message>
  <wsdl:message name="FairValueOperations_RetrieveFairValueDataWithNewUpside_OutputMessage">
    <wsdl:part name="parameters" element="RetrieveFairValueDataWithNewUpsideResponse" />
  </wsdl:message>
  <wsdl:message name="FairValueOperations_RetrieveFairValueDataWithNewUpside_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q2:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="FairValueOperations_SaveUpdatedFairValueData_InputMessage">
    <wsdl:part name="parameters" element="SaveUpdatedFairValueData" />
  </wsdl:message>
  <wsdl:message name="FairValueOperations_SaveUpdatedFairValueData_OutputMessage">
    <wsdl:part name="parameters" element="SaveUpdatedFairValueDataResponse" />
  </wsdl:message>
  <wsdl:message name="FairValueOperations_SaveUpdatedFairValueData_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q3:ServiceFault" />
  </wsdl:message>
  <wsdl:portType name="FairValueOperations">
    <wsdl:operation name="RetrieveFairValueCompostionSummary">
      <wsdl:input wsaw:Action="urn:FairValueOperations/RetrieveFairValueCompostionSummary" message="FairValueOperations_RetrieveFairValueCompostionSummary_InputMessage" />
      <wsdl:output wsaw:Action="urn:FairValueOperations/RetrieveFairValueCompostionSummaryResponse" message="FairValueOperations_RetrieveFairValueCompostionSummary_OutputMessage" />
      <wsdl:fault wsaw:Action="urn:FairValueOperations/RetrieveFairValueCompostionSummaryServiceFaultFault" name="ServiceFaultFault" message="FairValueOperations_RetrieveFairValueCompostionSummary_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveFairValueDataWithNewUpside">
      <wsdl:input wsaw:Action="urn:FairValueOperations/RetrieveFairValueDataWithNewUpside" message="FairValueOperations_RetrieveFairValueDataWithNewUpside_InputMessage" />
      <wsdl:output wsaw:Action="urn:FairValueOperations/RetrieveFairValueDataWithNewUpsideResponse" message="FairValueOperations_RetrieveFairValueDataWithNewUpside_OutputMessage" />
      <wsdl:fault wsaw:Action="urn:FairValueOperations/RetrieveFairValueDataWithNewUpsideServiceFaultFault" name="ServiceFaultFault" message="FairValueOperations_RetrieveFairValueDataWithNewUpside_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveUpdatedFairValueData">
      <wsdl:input wsaw:Action="urn:FairValueOperations/SaveUpdatedFairValueData" message="FairValueOperations_SaveUpdatedFairValueData_InputMessage" />
      <wsdl:output wsaw:Action="urn:FairValueOperations/SaveUpdatedFairValueDataResponse" message="FairValueOperations_SaveUpdatedFairValueData_OutputMessage" />
      <wsdl:fault wsaw:Action="urn:FairValueOperations/SaveUpdatedFairValueDataServiceFaultFault" name="ServiceFaultFault" message="FairValueOperations_SaveUpdatedFairValueData_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>