SourceCode/GreenField/GreenField.ServiceCaller/Service References/FairValueDefinitions/FairValueOperations2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59430/Services/FairValueOperations.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GreenField.DataContracts" />
  <xs:element name="RetrieveFairValueCompostionSummary">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GreenField.DataContracts" minOccurs="0" name="entitySelectionData" nillable="true" type="q1:EntitySelectionData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveFairValueCompostionSummaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GreenField.DataContracts" minOccurs="0" name="RetrieveFairValueCompostionSummaryResult" nillable="true" type="q2:ArrayOfFairValueCompositionSummaryData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>