SourceCode/GreenField/GreenField.ServiceCaller/Service References/FairValueDefinitions/FairValueOperations3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GreenField.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GreenField.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EntitySelectionData">
    <xs:sequence>
      <xs:element minOccurs="0" name="InstrumentID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LongName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecurityType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShortName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SortOrder" type="xs:int" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EntitySelectionData" nillable="true" type="tns:EntitySelectionData" />
  <xs:complexType name="ArrayOfFairValueCompositionSummaryData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FairValueCompositionSummaryData" nillable="true" type="tns:FairValueCompositionSummaryData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFairValueCompositionSummaryData" nillable="true" type="tns:ArrayOfFairValueCompositionSummaryData" />
  <xs:complexType name="FairValueCompositionSummaryData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Buy" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="DataId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IndustryAnalyst" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Measure" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimaryAnalyst" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sell" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Upside" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FairValueCompositionSummaryData" nillable="true" type="tns:FairValueCompositionSummaryData" />
</xs:schema>