SourceCode/GreenField/GreenField.ServiceCaller/Service References/DCFDefinitions/DCFOperations51.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GreenField.DAL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GreenField.DAL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59430/Services/DCFOperations.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
  <xs:complexType name="ArrayOfDCFCashFlowData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DCFCashFlowData" nillable="true" type="tns:DCFCashFlowData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDCFCashFlowData" nillable="true" type="tns:ArrayOfDCFCashFlowData" />
  <xs:complexType name="DCFCashFlowData">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q1:ComplexObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="AMOUNT" type="xs:decimal" />
          <xs:element minOccurs="0" name="DISCOUNTING_FACTOR" type="xs:decimal" />
          <xs:element minOccurs="0" name="PERIOD_YEAR" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DCFCashFlowData" nillable="true" type="tns:DCFCashFlowData" />
</xs:schema>