SourceCode/GreenField/GreenField.ServiceCaller/Service References/DCFDefinitions/DCFOperations2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GreenField.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GreenField.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EntitySelectionData">
    <xs:sequence>
      <xs:element minOccurs="0" name="InstrumentID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LongName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecurityType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShortName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SortOrder" type="xs:int" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EntitySelectionData" nillable="true" type="tns:EntitySelectionData" />
  <xs:complexType name="ArrayOfDCFAnalysisSummaryData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DCFAnalysisSummaryData" nillable="true" type="tns:DCFAnalysisSummaryData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDCFAnalysisSummaryData" nillable="true" type="tns:ArrayOfDCFAnalysisSummaryData" />
  <xs:complexType name="DCFAnalysisSummaryData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Beta" type="xs:decimal" />
      <xs:element minOccurs="0" name="CostOfDebt" type="xs:decimal" />
      <xs:element minOccurs="0" name="CostOfEquity" type="xs:decimal" />
      <xs:element minOccurs="0" name="GrossDebt" type="xs:decimal" />
      <xs:element minOccurs="0" name="IssuerId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MarginalTaxRate" type="xs:decimal" />
      <xs:element minOccurs="0" name="MarketCap" type="xs:decimal" />
      <xs:element minOccurs="0" name="MarketRiskPremium" type="xs:decimal" />
      <xs:element minOccurs="0" name="RiskFreeRate" type="xs:decimal" />
      <xs:element minOccurs="0" name="SecurityId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StockSpecificDiscount" type="xs:decimal" />
      <xs:element minOccurs="0" name="WACC" type="xs:decimal" />
      <xs:element minOccurs="0" name="WeightOfEquity" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DCFAnalysisSummaryData" nillable="true" type="tns:DCFAnalysisSummaryData" />
  <xs:complexType name="ArrayOfDCFTerminalValueCalculationsData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DCFTerminalValueCalculationsData" nillable="true" type="tns:DCFTerminalValueCalculationsData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDCFTerminalValueCalculationsData" nillable="true" type="tns:ArrayOfDCFTerminalValueCalculationsData" />
  <xs:complexType name="DCFTerminalValueCalculationsData">
    <xs:sequence>
      <xs:element minOccurs="0" name="CashFlow2020" type="xs:decimal" />
      <xs:element minOccurs="0" name="IssuerId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LongTermNominalGDPGrowth" type="xs:decimal" />
      <xs:element minOccurs="0" name="SecurityId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SustainableDividendPayoutRatio" type="xs:decimal" />
      <xs:element minOccurs="0" name="SustainableROIC" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TerminalGrowthRate" type="xs:decimal" />
      <xs:element minOccurs="0" name="TerminalValueNominal" type="xs:decimal" />
      <xs:element minOccurs="0" name="TerminalValuePresent" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DCFTerminalValueCalculationsData" nillable="true" type="tns:DCFTerminalValueCalculationsData" />
  <xs:complexType name="ArrayOfFreeCashFlowsData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FreeCashFlowsData" nillable="true" type="tns:FreeCashFlowsData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFreeCashFlowsData" nillable="true" type="tns:ArrayOfFreeCashFlowsData" />
  <xs:complexType name="FreeCashFlowsData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="FieldName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PeriodYear" type="xs:int" />
      <xs:element minOccurs="0" name="ValueY0" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValueY1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValueY2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValueY3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValueY4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValueY5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValueY6" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValueY7" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValueY8" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValueY9" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FreeCashFlowsData" nillable="true" type="tns:FreeCashFlowsData" />
  <xs:complexType name="ArrayOfDCFSummaryData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DCFSummaryData" nillable="true" type="tns:DCFSummaryData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDCFSummaryData" nillable="true" type="tns:ArrayOfDCFSummaryData" />
  <xs:complexType name="DCFSummaryData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cash" type="xs:decimal" />
      <xs:element minOccurs="0" name="DCFvaluePerShare" type="xs:decimal" />
      <xs:element minOccurs="0" name="EquityValue" type="xs:decimal" />
      <xs:element minOccurs="0" name="FVInvestments" type="xs:decimal" />
      <xs:element minOccurs="0" name="FVMinorities" type="xs:decimal" />
      <xs:element minOccurs="0" name="GrossDebt" type="xs:decimal" />
      <xs:element minOccurs="0" name="NumberOfShares" type="xs:decimal" />
      <xs:element minOccurs="0" name="PresentValue" type="xs:decimal" />
      <xs:element minOccurs="0" name="TerminalValue" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalEnterpriseValue" type="xs:decimal" />
      <xs:element minOccurs="0" name="UpsideDownSide" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DCFSummaryData" nillable="true" type="tns:DCFSummaryData" />
</xs:schema>