SourceCode/GreenField/GreenField.ServiceCaller/Service References/DCFDefinitions/DCFOperations.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DCFOperations" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59430/Services/DCFOperations.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59430/Services/DCFOperations.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" />
      <xsd:import schemaLocation="http://localhost:59430/Services/DCFOperations.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59430/Services/DCFOperations.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GreenField.DataContracts" />
      <xsd:import schemaLocation="http://localhost:59430/Services/DCFOperations.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:59430/Services/DCFOperations.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/GreenField.DAL" />
      <xsd:import schemaLocation="http://localhost:59430/Services/DCFOperations.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="DCFOperations_RetrieveDCFAnalysisData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveDCFAnalysisData" />
  </wsdl:message>
  <wsdl:message name="DCFOperations_RetrieveDCFAnalysisData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveDCFAnalysisDataResponse" />
  </wsdl:message>
  <wsdl:message name="DCFOperations_RetrieveDCFAnalysisData_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q1:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="DCFOperations_RetrieveTerminalValueCalculationsData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveTerminalValueCalculationsData" />
  </wsdl:message>
  <wsdl:message name="DCFOperations_RetrieveTerminalValueCalculationsData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveTerminalValueCalculationsDataResponse" />
  </wsdl:message>
  <wsdl:message name="DCFOperations_RetrieveTerminalValueCalculationsData_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q2:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="DCFOperations_RetrieveFreeCashFlowsData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveFreeCashFlowsData" />
  </wsdl:message>
  <wsdl:message name="DCFOperations_RetrieveFreeCashFlowsData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveFreeCashFlowsDataResponse" />
  </wsdl:message>
  <wsdl:message name="DCFOperations_RetrieveFreeCashFlowsData_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q3:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="DCFOperations_RetrieveCashFlows_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveCashFlows" />
  </wsdl:message>
  <wsdl:message name="DCFOperations_RetrieveCashFlows_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveCashFlowsResponse" />
  </wsdl:message>
  <wsdl:message name="DCFOperations_RetrieveCashFlows_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q4:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="DCFOperations_RetrieveSummaryData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveSummaryData" />
  </wsdl:message>
  <wsdl:message name="DCFOperations_RetrieveSummaryData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveSummaryDataResponse" />
  </wsdl:message>
  <wsdl:message name="DCFOperations_RetrieveSummaryData_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q5:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="DCFOperations_RetrieveCurrentPriceData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveCurrentPriceData" />
  </wsdl:message>
  <wsdl:message name="DCFOperations_RetrieveCurrentPriceData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveCurrentPriceDataResponse" />
  </wsdl:message>
  <wsdl:message name="DCFOperations_RetrieveCurrentPriceData_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q6:ServiceFault" />
  </wsdl:message>
  <wsdl:portType name="DCFOperations">
    <wsdl:operation name="RetrieveDCFAnalysisData">
      <wsdl:input wsaw:Action="http://tempuri.org/DCFOperations/RetrieveDCFAnalysisData" message="tns:DCFOperations_RetrieveDCFAnalysisData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DCFOperations/RetrieveDCFAnalysisDataResponse" message="tns:DCFOperations_RetrieveDCFAnalysisData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/DCFOperations/RetrieveDCFAnalysisDataServiceFaultFault" name="ServiceFaultFault" message="tns:DCFOperations_RetrieveDCFAnalysisData_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveTerminalValueCalculationsData">
      <wsdl:input wsaw:Action="http://tempuri.org/DCFOperations/RetrieveTerminalValueCalculationsData" message="tns:DCFOperations_RetrieveTerminalValueCalculationsData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DCFOperations/RetrieveTerminalValueCalculationsDataResponse" message="tns:DCFOperations_RetrieveTerminalValueCalculationsData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/DCFOperations/RetrieveTerminalValueCalculationsDataServiceFaultFault" name="ServiceFaultFault" message="tns:DCFOperations_RetrieveTerminalValueCalculationsData_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveFreeCashFlowsData">
      <wsdl:input wsaw:Action="http://tempuri.org/DCFOperations/RetrieveFreeCashFlowsData" message="tns:DCFOperations_RetrieveFreeCashFlowsData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DCFOperations/RetrieveFreeCashFlowsDataResponse" message="tns:DCFOperations_RetrieveFreeCashFlowsData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/DCFOperations/RetrieveFreeCashFlowsDataServiceFaultFault" name="ServiceFaultFault" message="tns:DCFOperations_RetrieveFreeCashFlowsData_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveCashFlows">
      <wsdl:input wsaw:Action="http://tempuri.org/DCFOperations/RetrieveCashFlows" message="tns:DCFOperations_RetrieveCashFlows_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DCFOperations/RetrieveCashFlowsResponse" message="tns:DCFOperations_RetrieveCashFlows_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/DCFOperations/RetrieveCashFlowsServiceFaultFault" name="ServiceFaultFault" message="tns:DCFOperations_RetrieveCashFlows_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveSummaryData">
      <wsdl:input wsaw:Action="http://tempuri.org/DCFOperations/RetrieveSummaryData" message="tns:DCFOperations_RetrieveSummaryData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DCFOperations/RetrieveSummaryDataResponse" message="tns:DCFOperations_RetrieveSummaryData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/DCFOperations/RetrieveSummaryDataServiceFaultFault" name="ServiceFaultFault" message="tns:DCFOperations_RetrieveSummaryData_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveCurrentPriceData">
      <wsdl:input wsaw:Action="http://tempuri.org/DCFOperations/RetrieveCurrentPriceData" message="tns:DCFOperations_RetrieveCurrentPriceData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DCFOperations/RetrieveCurrentPriceDataResponse" message="tns:DCFOperations_RetrieveCurrentPriceData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/DCFOperations/RetrieveCurrentPriceDataServiceFaultFault" name="ServiceFaultFault" message="tns:DCFOperations_RetrieveCurrentPriceData_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DCFOperations" type="tns:DCFOperations">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RetrieveDCFAnalysisData">
      <soap:operation soapAction="http://tempuri.org/DCFOperations/RetrieveDCFAnalysisData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveTerminalValueCalculationsData">
      <soap:operation soapAction="http://tempuri.org/DCFOperations/RetrieveTerminalValueCalculationsData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveFreeCashFlowsData">
      <soap:operation soapAction="http://tempuri.org/DCFOperations/RetrieveFreeCashFlowsData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveCashFlows">
      <soap:operation soapAction="http://tempuri.org/DCFOperations/RetrieveCashFlows" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveSummaryData">
      <soap:operation soapAction="http://tempuri.org/DCFOperations/RetrieveSummaryData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveCurrentPriceData">
      <soap:operation soapAction="http://tempuri.org/DCFOperations/RetrieveCurrentPriceData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DCFOperations">
    <wsdl:port name="DCFOperations" binding="tns:DCFOperations">
      <soap:address location="http://localhost:59430/Services/DCFOperations.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>