SourceCode/GreenField/GreenField.ServiceCaller/Service References/DCFDefinitions/DCFOperations.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GreenField.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GreenField.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EntitySelectionData">
    <xs:sequence>
      <xs:element minOccurs="0" name="InstrumentID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LongName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecurityType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShortName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SortOrder" type="xs:int" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EntitySelectionData" nillable="true" type="tns:EntitySelectionData" />
  <xs:complexType name="ArrayOfDCFAnalysisSummaryData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DCFAnalysisSummaryData" nillable="true" type="tns:DCFAnalysisSummaryData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDCFAnalysisSummaryData" nillable="true" type="tns:ArrayOfDCFAnalysisSummaryData" />
  <xs:complexType name="DCFAnalysisSummaryData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Beta" type="xs:decimal" />
      <xs:element minOccurs="0" name="CostOfDebt" type="xs:decimal" />
      <xs:element minOccurs="0" name="CostOfEquity" type="xs:decimal" />
      <xs:element minOccurs="0" name="GrossDebt" type="xs:decimal" />
      <xs:element minOccurs="0" name="IssuerId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MarginalTaxRate" type="xs:decimal" />
      <xs:element minOccurs="0" name="MarketCap" type="xs:decimal" />
      <xs:element minOccurs="0" name="MarketRiskPremium" type="xs:decimal" />
      <xs:element minOccurs="0" name="RiskFreeRate" type="xs:decimal" />
      <xs:element minOccurs="0" name="SecurityId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StockSpecificDiscount" type="xs:decimal" />
      <xs:element minOccurs="0" name="WACC" type="xs:decimal" />
      <xs:element minOccurs="0" name="WeightOfEquity" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DCFAnalysisSummaryData" nillable="true" type="tns:DCFAnalysisSummaryData" />
</xs:schema>