SourceCode/GreenField/GreenField.ServiceCaller/Service References/DCFDefinitions/DCFOperations2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GreenField.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GreenField.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59430/Services/DCFOperations.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="EntitySelectionData">
    <xs:sequence>
      <xs:element minOccurs="0" name="InstrumentID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LongName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecurityType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShortName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SortOrder" type="xs:int" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EntitySelectionData" nillable="true" type="tns:EntitySelectionData" />
  <xs:complexType name="ArrayOfDCFAnalysisSummaryData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DCFAnalysisSummaryData" nillable="true" type="tns:DCFAnalysisSummaryData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDCFAnalysisSummaryData" nillable="true" type="tns:ArrayOfDCFAnalysisSummaryData" />
  <xs:complexType name="DCFAnalysisSummaryData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Beta" type="xs:decimal" />
      <xs:element minOccurs="0" name="CostOfDebt" type="xs:decimal" />
      <xs:element minOccurs="0" name="CostOfEquity" type="xs:decimal" />
      <xs:element minOccurs="0" name="GrossDebt" type="xs:decimal" />
      <xs:element minOccurs="0" name="IssuerId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MarginalTaxRate" type="xs:decimal" />
      <xs:element minOccurs="0" name="MarketCap" type="xs:decimal" />
      <xs:element minOccurs="0" name="MarketRiskPremium" type="xs:decimal" />
      <xs:element minOccurs="0" name="RiskFreeRate" type="xs:decimal" />
      <xs:element minOccurs="0" name="SecurityId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StockSpecificDiscount" type="xs:decimal" />
      <xs:element minOccurs="0" name="WACC" type="xs:decimal" />
      <xs:element minOccurs="0" name="WeightOfEquity" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DCFAnalysisSummaryData" nillable="true" type="tns:DCFAnalysisSummaryData" />
  <xs:complexType name="ArrayOfDCFTerminalValueCalculationsData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DCFTerminalValueCalculationsData" nillable="true" type="tns:DCFTerminalValueCalculationsData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDCFTerminalValueCalculationsData" nillable="true" type="tns:ArrayOfDCFTerminalValueCalculationsData" />
  <xs:complexType name="DCFTerminalValueCalculationsData">
    <xs:sequence>
      <xs:element minOccurs="0" name="CashFlow2020" type="xs:decimal" />
      <xs:element minOccurs="0" name="IssuerId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LongTermNominalGDPGrowth" type="xs:decimal" />
      <xs:element minOccurs="0" name="SecurityId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SustainableDividendPayoutRatio" type="xs:decimal" />
      <xs:element minOccurs="0" name="SustainableROIC" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TerminalGrowthRate" type="xs:decimal" />
      <xs:element minOccurs="0" name="TerminalValueNominal" type="xs:decimal" />
      <xs:element minOccurs="0" name="TerminalValuePresent" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DCFTerminalValueCalculationsData" nillable="true" type="tns:DCFTerminalValueCalculationsData" />
  <xs:complexType name="ArrayOfFreeCashFlowsData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FreeCashFlowsData" nillable="true" type="tns:FreeCashFlowsData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFreeCashFlowsData" nillable="true" type="tns:ArrayOfFreeCashFlowsData" />
  <xs:complexType name="FreeCashFlowsData">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Capex" nillable="true" type="q1:ArrayOfdecimal" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ChangeInWC" nillable="true" type="q2:ArrayOfdecimal" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="EBITDA" nillable="true" type="q3:ArrayOfdecimal" />
      <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="EBITDAMargins" nillable="true" type="q4:ArrayOfdecimal" />
      <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="FreeCashFlow" nillable="true" type="q5:ArrayOfdecimal" />
      <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="RevenueGrowth" nillable="true" type="q6:ArrayOfdecimal" />
      <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Taxes" nillable="true" type="q7:ArrayOfdecimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FreeCashFlowsData" nillable="true" type="tns:FreeCashFlowsData" />
</xs:schema>