SourceCode/GreenField/GreenField.ServiceCaller/Service References/TargetingDefinitions/TargetingOperations1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TopDown.FacingClient.ManagingBga" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TopDown.FacingClient.ManagingBga" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RootModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="BgaPortfolioId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TargetingTypeId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RootModel" nillable="true" type="tns:RootModel" />
</xs:schema>