SourceCode/GreenField/GreenField.ServiceCaller/Service References/TargetingDefinitions/TargetingOperations3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TopDown.FacingClient" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TopDown.FacingClient" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BroadGlobalActivePortfolioModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:PortfolioModel">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BroadGlobalActivePortfolioModel" nillable="true" type="tns:BroadGlobalActivePortfolioModel" />
  <xs:complexType name="PortfolioModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PortfolioModel" nillable="true" type="tns:PortfolioModel" />
  <xs:complexType name="ExpressionModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Issues" nillable="true" type="tns:ArrayOfIssueModel" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExpressionModel" nillable="true" type="tns:ExpressionModel" />
  <xs:complexType name="ArrayOfIssueModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IssueModel" nillable="true" type="tns:IssueModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIssueModel" nillable="true" type="tns:ArrayOfIssueModel" />
  <xs:complexType name="IssueModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Issues" nillable="true" type="tns:ArrayOfIssueModel" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IssueModel" nillable="true" type="tns:IssueModel" />
  <xs:complexType name="TargetingTypeModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TargetingTypeModel" nillable="true" type="tns:TargetingTypeModel" />
</xs:schema>