SourceCode/GreenField/GreenField.ServiceCaller/Service References/TargetingDefinitions/TargetingOperations2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59430/Services/TargetingOperations.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TopDown.FacingClient.ManagingBga" />
  <xs:element name="GetBgaModel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="targetingTypeId" type="xs:int" />
        <xs:element minOccurs="0" name="bgaPortfolioId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="benchmarkDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBgaModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TopDown.FacingClient.ManagingBga" minOccurs="0" name="GetBgaModelResult" nillable="true" type="q1:RootModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>