SourceCode/GreenField/GreenField.ServiceCaller/Service References/TargetingDefinitions/TargetingOperations1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TopDown.FacingClient.ManagingBga" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TopDown.FacingClient.ManagingBga" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59430/Services/TargetingOperations.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/TopDown.FacingClient" />
  <xs:complexType name="RootModel">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TopDown.FacingClient" minOccurs="0" name="BroadGlobalActiveProtfolio" nillable="true" type="q1:BroadGlobalActivePortfolioModel" />
      <xs:element minOccurs="0" name="Factors" nillable="true" type="tns:FactorModel" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TopDown.FacingClient" minOccurs="0" name="TargetingType" nillable="true" type="q2:TargetingTypeModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RootModel" nillable="true" type="tns:RootModel" />
  <xs:complexType name="FactorModel">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="FactorModel" nillable="true" type="tns:FactorModel" />
</xs:schema>