SourceCode/GreenField/GreenField.ServiceCaller/Service References/TargetingDefinitions/TargetingOperations2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59430/Services/TargetingOperations.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TopDown.FacingClient.BroadGlobalActive" />
  <xs:import schemaLocation="http://localhost:59430/Services/TargetingOperations.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/TopDown.FacingClient.BroadGlobalActive.Picker" />
  <xs:element name="GetBroadGlobalActiveModel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="targetingTypeId" type="xs:int" />
        <xs:element minOccurs="0" name="bgaPortfolioId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="benchmarkDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBroadGlobalActiveModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TopDown.FacingClient.BroadGlobalActive" minOccurs="0" name="GetBroadGlobalActiveModelResult" nillable="true" type="q1:BgaRootModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTargetingTypePortfolioPicker">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTargetingTypePortfolioPickerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TopDown.FacingClient.BroadGlobalActive.Picker" minOccurs="0" name="GetTargetingTypePortfolioPickerResult" nillable="true" type="q2:ArrayOfBgaTargetingTypePickerModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>