SourceCode/GreenField/GreenField.ServiceCaller/Service References/ProxyDataDefinitions/ProxyDataOperations.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProxyDataOperations" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59430/Services/ProxyDataOperations.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59430/Services/ProxyDataOperations.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59430/Services/ProxyDataOperations.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GreenField.Web.DataContracts" />
      <xsd:import schemaLocation="http://localhost:59430/Services/ProxyDataOperations.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Drawing" />
      <xsd:import schemaLocation="http://localhost:59430/Services/ProxyDataOperations.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ProxyDataOperations_RetrieveSecurityReferenceData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveSecurityReferenceData" />
  </wsdl:message>
  <wsdl:message name="ProxyDataOperations_RetrieveSecurityReferenceData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveSecurityReferenceDataResponse" />
  </wsdl:message>
  <wsdl:message name="ProxyDataOperations_RetrieveSecurityReferenceDataByTicker_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveSecurityReferenceDataByTicker" />
  </wsdl:message>
  <wsdl:message name="ProxyDataOperations_RetrieveSecurityReferenceDataByTicker_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveSecurityReferenceDataByTickerResponse" />
  </wsdl:message>
  <wsdl:message name="ProxyDataOperations_RetrievePricingReferenceData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrievePricingReferenceData" />
  </wsdl:message>
  <wsdl:message name="ProxyDataOperations_RetrievePricingReferenceData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrievePricingReferenceDataResponse" />
  </wsdl:message>
  <wsdl:message name="ProxyDataOperations_RetrieveEntitySelectionData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveEntitySelectionData" />
  </wsdl:message>
  <wsdl:message name="ProxyDataOperations_RetrieveEntitySelectionData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveEntitySelectionDataResponse" />
  </wsdl:message>
  <wsdl:message name="ProxyDataOperations_RetrieveUnrealizedGainLossData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveUnrealizedGainLossData" />
  </wsdl:message>
  <wsdl:message name="ProxyDataOperations_RetrieveUnrealizedGainLossData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveUnrealizedGainLossDataResponse" />
  </wsdl:message>
  <wsdl:portType name="ProxyDataOperations">
    <wsdl:operation name="RetrieveSecurityReferenceData">
      <wsdl:input wsaw:Action="http://tempuri.org/ProxyDataOperations/RetrieveSecurityReferenceData" message="tns:ProxyDataOperations_RetrieveSecurityReferenceData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ProxyDataOperations/RetrieveSecurityReferenceDataResponse" message="tns:ProxyDataOperations_RetrieveSecurityReferenceData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveSecurityReferenceDataByTicker">
      <wsdl:input wsaw:Action="http://tempuri.org/ProxyDataOperations/RetrieveSecurityReferenceDataByTicker" message="tns:ProxyDataOperations_RetrieveSecurityReferenceDataByTicker_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ProxyDataOperations/RetrieveSecurityReferenceDataByTickerResponse" message="tns:ProxyDataOperations_RetrieveSecurityReferenceDataByTicker_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrievePricingReferenceData">
      <wsdl:input wsaw:Action="http://tempuri.org/ProxyDataOperations/RetrievePricingReferenceData" message="tns:ProxyDataOperations_RetrievePricingReferenceData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ProxyDataOperations/RetrievePricingReferenceDataResponse" message="tns:ProxyDataOperations_RetrievePricingReferenceData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveEntitySelectionData">
      <wsdl:input wsaw:Action="http://tempuri.org/ProxyDataOperations/RetrieveEntitySelectionData" message="tns:ProxyDataOperations_RetrieveEntitySelectionData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ProxyDataOperations/RetrieveEntitySelectionDataResponse" message="tns:ProxyDataOperations_RetrieveEntitySelectionData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveUnrealizedGainLossData">
      <wsdl:input wsaw:Action="http://tempuri.org/ProxyDataOperations/RetrieveUnrealizedGainLossData" message="tns:ProxyDataOperations_RetrieveUnrealizedGainLossData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ProxyDataOperations/RetrieveUnrealizedGainLossDataResponse" message="tns:ProxyDataOperations_RetrieveUnrealizedGainLossData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ProxyDataOperations" type="tns:ProxyDataOperations">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RetrieveSecurityReferenceData">
      <soap:operation soapAction="http://tempuri.org/ProxyDataOperations/RetrieveSecurityReferenceData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveSecurityReferenceDataByTicker">
      <soap:operation soapAction="http://tempuri.org/ProxyDataOperations/RetrieveSecurityReferenceDataByTicker" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrievePricingReferenceData">
      <soap:operation soapAction="http://tempuri.org/ProxyDataOperations/RetrievePricingReferenceData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveEntitySelectionData">
      <soap:operation soapAction="http://tempuri.org/ProxyDataOperations/RetrieveEntitySelectionData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveUnrealizedGainLossData">
      <soap:operation soapAction="http://tempuri.org/ProxyDataOperations/RetrieveUnrealizedGainLossData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProxyDataOperations">
    <wsdl:port name="ProxyDataOperations" binding="tns:ProxyDataOperations">
      <soap:address location="http://localhost:59430/Services/ProxyDataOperations.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>