SourceCode/GreenField/GreenField.ServiceCaller/Service References/ProxyDataDefinitions/ProxyDataOperations5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GreenField.Web.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GreenField.Web.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59430/Services/ProxyDataOperations.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GreenField.DAL" />
  <xs:complexType name="ArrayOfHoldingsData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HoldingsData" nillable="true" type="tns:HoldingsData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHoldingsData" nillable="true" type="tns:ArrayOfHoldingsData" />
  <xs:complexType name="HoldingsData">
    <xs:sequence>
      <xs:element minOccurs="0" name="ASHMMORE_EXP_DEF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ASHMORE_EXP_BRK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ASHMORE_EXP_DEF_CCY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BENCHMARKSECTHEMECODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BENCHMARKSECURITY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BM1_BMIK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BM2_BMIK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BM3_BMIK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CNTY_CTYIK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CNTY_NON_EM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CORP_ISSUER_LIMIT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COUNTRYCODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COUNTRYCODEEXP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COUNTRYNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COUNTRYNAMEEXP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COUNTRYZONECODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COUNTRYZONECODEEXP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COUNTRYZONENAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COUNTRYZONENAMEEXP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COUNTRYZONESORTEXP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COUNTRYZONE_SORT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CURR_NON_EM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CURR_QUORISK_BEST" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CURR_QUORISK_NONEM_BEST" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CURR_RISK_CUR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CURR_RISK_NON_EM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DOLDUR_0TO3MODDUR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DOLDUR_0TO3YRS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DOLDUR_3TO5MODDUR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DOLDUR_3TO5YRS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DOLDUR_5TO10MODDUR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DOLDUR_5TO10YRS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DOLDUR_5TO7MODDUR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DOLDUR_5TO7YRS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DOLDUR_7TO10MODDUR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DOLDUR_7TO10YRS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DOLDUR_GT10MODDUR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DOLDUR_GT10YRS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EXP_0TO3MODDUR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EXP_0TO3YRS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EXP_3TO5MODDUR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EXP_3TO5YRS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EXP_5TO10MODDUR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EXP_5TO10YRS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EXP_5TO7MODDUR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EXP_5TO7YRS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EXP_7TO10MODDUR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EXP_7TO10YRS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EXP_GT10MODDUR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EXP_GT10YRS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EXTERNAL_DEBT_SUB_GROUP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HOLK_LEGNO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HOLK_PORIK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HOLK_QUOCUR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HOLK_QUOCUR_PERFCUR_OVERRIDE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HOLK_SECIK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IBI_SPREAD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="INSTRUMENTTYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="INSTRUMENTTYPENAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IRP_INSTYPE_GROUPS_1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IRP_INSTYPE_GROUPS_2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IRP_LEVERAGELIMIT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ISIN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ISSUERNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IXCS_SECNO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IXCS_SECSHORT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IXCT_UNDERLY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LEVERAGE_LIMIT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OWNERSHIPCODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OWNERSHIPNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OWNERSHIP_SORT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PARG_PARGRP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PARG_PARGRPNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PART_PAR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PART_PARIK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PFCD_FROMDATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PFCD_TODATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PFCH_BALBOOKPRI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PFCH_BALBOOKVALPC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PFCH_BALBOOKVALQC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PFCH_BALCOSTPRI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PFCH_BALCOSTVALPC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PFCH_BALCOSTVALQC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PFCH_BALNOMVAL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PFCH_BCOSTYLD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PFCH_UNSETAMTINPC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PFCH_UNSETAMTOUTPC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PFCM_PFCM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PFCP_PERPRLBOOKCURPC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PFCP_PERPRLBOOKSECPC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PFKR_ACR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PFKR_ACRVALPC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PFKR_CLEAN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PFKR_COUDATENEXT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PFKR_COURATEBOOK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PFKR_CURYLD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PFKR_DIRTY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PFKR_DIRTYVALPC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PFKR_DIRTYVALQC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PFKR_DOLDURVALDFPC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PFKR_EXPOSUREPC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PFKR_EXPOSUREPC_SWAP_EXCL_LEG2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PFKR_EXPOSUREPC_SWAP_INCL_LEG2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PFKR_FXRATEQP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PFKR_MAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PFKR_MATDATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PFKR_MODDURDF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PFKR_MODDURUND" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PFKR_MODSPRDUR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PFKR_PFCHOLIK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PFKR_PRICETYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PFKR_PV01" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PFKR_QUOTEDATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PFKR_UPRLBOOKCURPC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PFKR_UPRLBOOKSECPC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PFKR_UPRLCOSTCURPC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PFKR_UPRLCOSTSECPC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PFKR_YLDFIN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PFKR_YLDTOWORST" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PFKR_YTMYLD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PFSC_COMPTYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PF_BENCHMARK1CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PF_BENCHMARK2CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PF_BENCHMARK3CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PF_BM1_BMFC4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PF_BM1_IXCOVERAGE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PF_BM2_BMFC4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PF_BM2_IXCOVERAGE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PF_BM3_BMFC4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PF_BM3_IXCOVERAGE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PORTFOLIOCODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PORTFOLIONAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PORTFOLIOTHEMEGROUP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PORTFOLIOTHEMEGROUPCODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PORTFOLIOTHEMEGROUP_SORT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PORTFOLIOTHEMESUBGROUP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PORTFOLIOTHEMESUBGROUPCODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PORTFOLIOTHEMESUBGROUP_SORT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PORTFOLIO_SORT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SECFC12_MANAGEDBYCODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SECFC12_MANAGEDBYNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SECFC15_PERFORMANCECURRENCY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SECFC15_SECFC15" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SECFC17_QUASISOVGUARCODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SECFC17_QUASISOVGUARNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SECFC18_SECURITYLIQUIDITYCODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SECFC18_SECURITYLIQUIDITYNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SECFC18_SECURITYLIQUIDITYSORT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SECFC19_ORDERREASON" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SECFC19_ORDERREASONSORT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SECFC20_IRPLOOKTHRUPOSS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SECFC43_SEC_LIQUID_IL_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SECFC43_SEC_LIQUID_IL_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SECFC43_SEC_LIQUID_IL_SORT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SECFC4_NON_PERFORMING" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SECFC5_OWNERSHIP_PCENT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SECFC83_SECURITY_TRS_CPARTY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SECFC97_IS_PIK_PPN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SECT_SECTYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SECT_SORT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SECURITYTHEMECODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SECURITYTHEMENAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SECURITYTHEME_SORT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SEC_DEFQUOCUR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SEC_INSTYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SEC_INSTYPE_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SEC_ISSVOL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SEC_ISSVOLOUT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SEC_ISSVOL_BEST" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SEC_SECFC2IK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SEC_SECFC78_ZSPREAD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SEC_SECFC88_LIQUIDITY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SEC_SECFC89_BETA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SEC_SECFC90_CURRENCYOFRISK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SEC_SECNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SEC_SECNAMEROW1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SEC_SECSHORT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SIDS_IDENT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ST_BENCHMARK1CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ST_BENCHMARK2CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ST_BENCHMARK3CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ST_BM1_BMFC4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ST_BM1_IXCOVERAGE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ST_BM2_BMFC4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ST_BM2_IXCOVERAGE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ST_BM3_BMFC4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ST_BM3_IXCOVERAGE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TOTAL_CORPORATE_HOUSE_LIMIT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TOTAL_CORPORATE_RESTRICT_LIMIT" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HoldingsData" nillable="true" type="tns:HoldingsData" />
  <xs:complexType name="ArrayOfPerformanceData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PerformanceData" nillable="true" type="tns:PerformanceData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPerformanceData" nillable="true" type="tns:ArrayOfPerformanceData" />
  <xs:complexType name="PerformanceData">
    <xs:sequence>
      <xs:element minOccurs="0" name="A_PERFREP_BM1WEIGHT_TO_TOP_EOD" type="xs:decimal" />
      <xs:element minOccurs="0" name="A_PERFREP_BM1WEIGHT_TO_TOP_SOD" type="xs:decimal" />
      <xs:element minOccurs="0" name="A_PERFREP_TO_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CONTRIBRETBM1CURRRCMTD" type="xs:decimal" />
      <xs:element minOccurs="0" name="CONTRIBRETBM1CURRTOPRCMTD" type="xs:decimal" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IRP_TWRBM1CURRMTDRC" type="xs:decimal" />
      <xs:element minOccurs="0" name="PERFORMANCECURRENCYCODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PORTFOLIOCODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QUOTATIONCURRENCYCODE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PerformanceData" nillable="true" type="tns:PerformanceData" />
  <xs:complexType name="ArrayOfReferenceData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReferenceData" nillable="true" type="tns:ReferenceData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReferenceData" nillable="true" type="tns:ArrayOfReferenceData" />
  <xs:complexType name="ReferenceData">
    <xs:sequence>
      <xs:element minOccurs="0" name="ASHMMORE_EXP_DEF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ASHMORE_EXP_BRK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ASHMORE_EXP_DEF_CCY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BENCHMARKSECTHEMECODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BENCHMARKSECURITY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BM1_BMIK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BM2_BMIK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BM3_BMIK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CNTY_CTYIK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CNTY_NON_EM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CORP_ISSUER_LIMIT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COUNTRYCODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COUNTRYCODEEXP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COUNTRYNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COUNTRYNAMEEXP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COUNTRYZONECODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COUNTRYZONECODEEXP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COUNTRYZONENAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COUNTRYZONENAMEEXP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COUNTRYZONESORTEXP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COUNTRYZONE_SORT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CURR_NON_EM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CURR_QT_CUR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CURR_QUORISK_BEST" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CURR_QUORISK_NONEM_BEST" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CURR_RISK_CUR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CURR_RISK_NON_EM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DOLDUR_0TO3MODDUR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DOLDUR_0TO3YRS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DOLDUR_3TO5MODDUR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DOLDUR_3TO5YRS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DOLDUR_5TO10MODDUR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DOLDUR_5TO10YRS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DOLDUR_5TO7MODDUR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DOLDUR_5TO7YRS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DOLDUR_7TO10MODDUR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DOLDUR_7TO10YRS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DOLDUR_GT10MODDUR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DOLDUR_GT10YRS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EXP_0TO3MODDUR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EXP_0TO3YRS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EXP_3TO5MODDUR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EXP_3TO5YRS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EXP_5TO10MODDUR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EXP_5TO10YRS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EXP_5TO7MODDUR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EXP_5TO7YRS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EXP_7TO10MODDUR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EXP_7TO10YRS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EXP_GT10MODDUR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EXP_GT10YRS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EXTERNAL_DEBT_SUB_GROUP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HOLK_LEGNO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HOLK_PORIK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HOLK_QUOCUR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HOLK_QUOCUR_PERFCUR_OVERRIDE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HOLK_SECIK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IBI_SPREAD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="INSTRUMENTTYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="INSTRUMENTTYPENAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IRP_INSTYPE_GROUPS_1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IRP_INSTYPE_GROUPS_2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IRP_LEVERAGELIMIT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ISIN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ISSUERNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IXCS_SECNO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IXCS_SECSHORT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IXCT_UNDERLY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LEVERAGE_LIMIT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OWNERSHIPCODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OWNERSHIPNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OWNERSHIP_SORT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PARG_PARGRP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PARG_PARGRPNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PART_PAR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PART_PARIK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PFCD_FROMDATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PFCD_TODATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PFCH_BALBOOKPRI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PFCH_BALBOOKVALPC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PFCH_BALBOOKVALQC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PFCH_BALCOSTPRI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PFCH_BALCOSTVALPC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PFCH_BALCOSTVALQC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PFCH_BALNOMVAL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PFCH_BCOSTYLD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PFCH_UNSETAMTINPC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PFCH_UNSETAMTOUTPC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PFCM_PFCM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PFCP_PERPRLBOOKCURPC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PFCP_PERPRLBOOKSECPC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PFKR_ACR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PFKR_ACRVALPC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PFKR_CLEAN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PFKR_COUDATENEXT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PFKR_COURATEBOOK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PFKR_CURYLD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PFKR_DIRTY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PFKR_DIRTYVALPC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PFKR_DIRTYVALQC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PFKR_DOLDURVALDFPC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PFKR_EXPOSUREPC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PFKR_EXPOSUREPC_SWAP_EXCL_LEG2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PFKR_EXPOSUREPC_SWAP_INCL_LEG2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PFKR_FXRATEQP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PFKR_MAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PFKR_MATDATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PFKR_MODDURDF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PFKR_MODDURUND" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PFKR_MODSPRDUR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PFKR_PFCHOLIK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PFKR_PRICETYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PFKR_PV01" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PFKR_QUOTEDATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PFKR_UPRLBOOKCURPC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PFKR_UPRLBOOKSECPC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PFKR_UPRLCOSTCURPC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PFKR_UPRLCOSTSECPC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PFKR_YLDFIN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PFKR_YLDTOWORST" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PFKR_YTMYLD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PFSC_COMPTYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PF_BENCHMARK1CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PF_BENCHMARK2CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PF_BENCHMARK3CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PF_BM1_BMFC4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PF_BM1_IXCOVERAGE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PF_BM2_BMFC4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PF_BM2_IXCOVERAGE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PF_BM3_BMFC4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PF_BM3_IXCOVERAGE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PORTFOLIOCODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PORTFOLIONAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PORTFOLIOTHEMEGROUP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PORTFOLIOTHEMEGROUPCODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PORTFOLIOTHEMEGROUP_SORT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PORTFOLIOTHEMESUBGROUP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PORTFOLIOTHEMESUBGROUPCODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PORTFOLIOTHEMESUBGROUP_SORT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PORTFOLIO_SORT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SECFC12_MANAGEDBYCODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SECFC12_MANAGEDBYNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SECFC15_PERFORMANCECURRENCY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SECFC15_SECFC15" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SECFC17_QUASISOVGUARCODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SECFC17_QUASISOVGUARNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SECFC18_SECFC18IK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SECFC18_SECURITYLIQUIDITYCODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SECFC18_SECURITYLIQUIDITYNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SECFC18_SECURITYLIQUIDITYSORT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SECFC19_ORDERREASON" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SECFC19_ORDERREASONSORT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SECFC19_SECFC19IK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SECFC20_IRPLOOKTHRUPOSS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SECFC20_SECFC20IK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SECFC2_SECFC2SHORT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SECFC43_SEC_LIQUID_IL_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SECFC43_SEC_LIQUID_IL_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SECFC43_SEC_LIQUID_IL_SORT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SECFC4_NON_PERFORMING" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SECFC5_OWNERSHIP_PCENT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SECFC83_SECURITY_TRS_CPARTY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SECFC97_IS_PIK_PPN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SECT_SECTYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SECT_SORT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SECURITYTHEMECODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SECURITYTHEMENAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SECURITYTHEME_SORT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SEC_DEFQUOCUR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SEC_INSTYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SEC_INSTYPE_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SEC_ISSVOL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SEC_ISSVOLOUT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SEC_ISSVOL_BEST" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SEC_QUOCUR_PERFCUR_OVERRIDE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SEC_SECFC2IK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SEC_SECFC78_ZSPREAD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SEC_SECFC88_LIQUIDITY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SEC_SECFC89_BETA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SEC_SECFC90_CURRENCYOFRISK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SEC_SECIK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SEC_SECNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SEC_SECNAMEROW1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SEC_SECSHORT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SEC_TRS_UNDERLY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SIDS_IDENT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ST_BENCHMARK1CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ST_BENCHMARK2CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ST_BENCHMARK3CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ST_BM1_BMFC4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ST_BM1_IXCOVERAGE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ST_BM2_BMFC4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ST_BM2_IXCOVERAGE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ST_BM3_BMFC4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ST_BM3_IXCOVERAGE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TOTAL_CORPORATE_HOUSE_LIMIT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TOTAL_CORPORATE_RESTRICT_LIMIT" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReferenceData" nillable="true" type="tns:ReferenceData" />
  <xs:complexType name="ArrayOfAggregatedData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AggregatedData" nillable="true" type="tns:AggregatedData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAggregatedData" nillable="true" type="tns:ArrayOfAggregatedData" />
  <xs:complexType name="AggregatedData">
    <xs:sequence>
      <xs:element minOccurs="0" name="COMPANY_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COUNTRYCODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COUNTRYNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COUNTRYZONENAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CURR_QUORISK_BEST" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ISIN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NET_INCOME_ACT_2009" nillable="true" type="xs:float" />
      <xs:element minOccurs="0" name="NET_INCOME_ACT_2010" nillable="true" type="xs:float" />
      <xs:element minOccurs="0" name="NET_INCOME_EST_2011" nillable="true" type="xs:float" />
      <xs:element minOccurs="0" name="NET_INCOME_EST_2012" nillable="true" type="xs:float" />
      <xs:element minOccurs="0" name="NET_INCOME_EST_2013" nillable="true" type="xs:float" />
      <xs:element minOccurs="0" name="PFCD_FROMDATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PFCH_BALBOOKVALPC" type="xs:double" />
      <xs:element minOccurs="0" name="PFKR_FXRATEQP" type="xs:double" />
      <xs:element minOccurs="0" name="PORTFOLIOCODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PORTFOLIONAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PORTFOLIOTHEMEGROUPCODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SEC_INSTYPE_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SEC_SECNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SEC_SECSHORT" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AggregatedData" nillable="true" type="tns:AggregatedData" />
  <xs:complexType name="ArrayOfSecurityOverviewData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SecurityOverviewData" nillable="true" type="tns:SecurityOverviewData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSecurityOverviewData" nillable="true" type="tns:ArrayOfSecurityOverviewData" />
  <xs:complexType name="SecurityOverviewData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Currency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FiscalYearEnd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Industry" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IssueName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimaryAnalyst" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sector" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubIndustry" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ticker" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Website" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SecurityOverviewData" nillable="true" type="tns:SecurityOverviewData" />
  <xs:complexType name="ArrayOfEntitySelectionData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EntitySelectionData" nillable="true" type="tns:EntitySelectionData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEntitySelectionData" nillable="true" type="tns:ArrayOfEntitySelectionData" />
  <xs:complexType name="EntitySelectionData">
    <xs:sequence>
      <xs:element minOccurs="0" name="InstrumentID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LongName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecurityType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShortName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EntitySelectionData" nillable="true" type="tns:EntitySelectionData" />
  <xs:complexType name="ArrayOfPricingReferenceData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PricingReferenceData" nillable="true" type="tns:PricingReferenceData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPricingReferenceData" nillable="true" type="tns:ArrayOfPricingReferenceData" />
  <xs:complexType name="PricingReferenceData">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdjustedDollarPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="DailyClosingPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="DailyGrossReturn" type="xs:decimal" />
      <xs:element minOccurs="0" name="DailyPriceReturn" type="xs:decimal" />
      <xs:element minOccurs="0" name="DailySpotFX" type="xs:decimal" />
      <xs:element minOccurs="0" name="FromDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IndexedPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="InstrumentID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IssueName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ticker" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Volume" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PricingReferenceData" nillable="true" type="tns:PricingReferenceData" />
  <xs:complexType name="ArrayOfFundSelectionData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FundSelectionData" nillable="true" type="tns:FundSelectionData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFundSelectionData" nillable="true" type="tns:ArrayOfFundSelectionData" />
  <xs:complexType name="FundSelectionData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FundSelectionData" nillable="true" type="tns:FundSelectionData" />
  <xs:complexType name="ArrayOfBenchmarkSelectionData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BenchmarkSelectionData" nillable="true" type="tns:BenchmarkSelectionData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBenchmarkSelectionData" nillable="true" type="tns:ArrayOfBenchmarkSelectionData" />
  <xs:complexType name="BenchmarkSelectionData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BenchmarkSelectionData" nillable="true" type="tns:BenchmarkSelectionData" />
  <xs:complexType name="MarketCapitalizationData">
    <xs:sequence>
      <xs:element minOccurs="0" name="BenchmarkLargeShare" type="xs:double" />
      <xs:element minOccurs="0" name="BenchmarkMediumShare" type="xs:double" />
      <xs:element minOccurs="0" name="BenchmarkMegaShare" type="xs:double" />
      <xs:element minOccurs="0" name="BenchmarkMicroShare" type="xs:double" />
      <xs:element minOccurs="0" name="BenchmarkSmallShare" type="xs:double" />
      <xs:element minOccurs="0" name="BenchmarkWeightedAverage" type="xs:long" />
      <xs:element minOccurs="0" name="BenchmarkWeightedMedian" type="xs:long" />
      <xs:element minOccurs="0" name="LargeLowerLimit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MediumLowerLimit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MegaLowerLimit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PortfolioLargeShare" type="xs:double" />
      <xs:element minOccurs="0" name="PortfolioMediumShare" type="xs:double" />
      <xs:element minOccurs="0" name="PortfolioMegaShare" type="xs:double" />
      <xs:element minOccurs="0" name="PortfolioMicroShare" type="xs:double" />
      <xs:element minOccurs="0" name="PortfolioSmallShare" type="xs:double" />
      <xs:element minOccurs="0" name="PortfolioWeightedAverage" type="xs:long" />
      <xs:element minOccurs="0" name="PortfolioWeightedMedian" type="xs:long" />
      <xs:element minOccurs="0" name="SmallLowerLimit" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MarketCapitalizationData" nillable="true" type="tns:MarketCapitalizationData" />
  <xs:complexType name="ArrayOfAssetAllocationData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AssetAllocationData" nillable="true" type="tns:AssetAllocationData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAssetAllocationData" nillable="true" type="tns:ArrayOfAssetAllocationData" />
  <xs:complexType name="AssetAllocationData">
    <xs:sequence>
      <xs:element minOccurs="0" name="BenchmarkShare" type="xs:double" />
      <xs:element minOccurs="0" name="BetShare" type="xs:double" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModelShare" type="xs:double" />
      <xs:element minOccurs="0" name="PortfolioShare" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AssetAllocationData" nillable="true" type="tns:AssetAllocationData" />
  <xs:complexType name="ArrayOfSectorBreakdownData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SectorBreakdownData" nillable="true" type="tns:SectorBreakdownData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSectorBreakdownData" nillable="true" type="tns:ArrayOfSectorBreakdownData" />
  <xs:complexType name="SectorBreakdownData">
    <xs:sequence>
      <xs:element minOccurs="0" name="BenchmarkShare" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="BetShare" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Industry" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PortfolioShare" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Sector" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Security" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SectorBreakdownData" nillable="true" type="tns:SectorBreakdownData" />
  <xs:complexType name="ArrayOfRegionBreakdownData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RegionBreakdownData" nillable="true" type="tns:RegionBreakdownData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRegionBreakdownData" nillable="true" type="tns:ArrayOfRegionBreakdownData" />
  <xs:complexType name="RegionBreakdownData">
    <xs:sequence>
      <xs:element minOccurs="0" name="BenchmarkShare" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="BetShare" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PortfolioShare" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Region" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Security" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RegionBreakdownData" nillable="true" type="tns:RegionBreakdownData" />
  <xs:complexType name="ArrayOfTopHoldingsData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TopHoldingsData" nillable="true" type="tns:TopHoldingsData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTopHoldingsData" nillable="true" type="tns:ArrayOfTopHoldingsData" />
  <xs:complexType name="TopHoldingsData">
    <xs:sequence>
      <xs:element minOccurs="0" name="BenchmarkShare" type="xs:double" />
      <xs:element minOccurs="0" name="BetShare" type="xs:double" />
      <xs:element minOccurs="0" name="Holding" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MarketValue" type="xs:long" />
      <xs:element minOccurs="0" name="PortfolioShare" type="xs:double" />
      <xs:element minOccurs="0" name="Ticker" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TopHoldingsData" nillable="true" type="tns:TopHoldingsData" />
  <xs:complexType name="ArrayOfIndexConstituentsData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IndexConstituentsData" nillable="true" type="tns:IndexConstituentsData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIndexConstituentsData" nillable="true" type="tns:ArrayOfIndexConstituentsData" />
  <xs:complexType name="IndexConstituentsData">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConstituentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DailyReturnUSD" type="xs:double" />
      <xs:element minOccurs="0" name="FXPriceCurrency" type="xs:double" />
      <xs:element minOccurs="0" name="ForeignInclusionFactor" type="xs:double" />
      <xs:element minOccurs="0" name="Industry" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:double" />
      <xs:element minOccurs="0" name="PriceCurrency" type="xs:double" />
      <xs:element minOccurs="0" name="Region" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sector" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Shares" type="xs:long" />
      <xs:element minOccurs="0" name="SubIndustry" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ticker" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Weight" type="xs:double" />
      <xs:element minOccurs="0" name="WeightCountry" type="xs:double" />
      <xs:element minOccurs="0" name="WeightIndustry" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IndexConstituentsData" nillable="true" type="tns:IndexConstituentsData" />
  <xs:complexType name="ArrayOfHoldingsPercentageData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HoldingsPercentageData" nillable="true" type="tns:HoldingsPercentageData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHoldingsPercentageData" nillable="true" type="tns:ArrayOfHoldingsPercentageData" />
  <xs:complexType name="HoldingsPercentageData">
    <xs:sequence>
      <xs:element minOccurs="0" name="SegmentHoldingsShare" type="xs:int" />
      <xs:element minOccurs="0" name="SegmentName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HoldingsPercentageData" nillable="true" type="tns:HoldingsPercentageData" />
  <xs:complexType name="ArrayOfTopBenchmarkSecuritiesData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TopBenchmarkSecuritiesData" nillable="true" type="tns:TopBenchmarkSecuritiesData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTopBenchmarkSecuritiesData" nillable="true" type="tns:ArrayOfTopBenchmarkSecuritiesData" />
  <xs:complexType name="TopBenchmarkSecuritiesData">
    <xs:sequence>
      <xs:element minOccurs="0" name="IssuerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MTD" type="xs:double" />
      <xs:element minOccurs="0" name="PreviousYear" type="xs:double" />
      <xs:element minOccurs="0" name="QTD" type="xs:double" />
      <xs:element minOccurs="0" name="SecondPreviousYear" type="xs:double" />
      <xs:element minOccurs="0" name="ThirdPreviousYear" type="xs:double" />
      <xs:element minOccurs="0" name="Weight" type="xs:double" />
      <xs:element minOccurs="0" name="YTD" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TopBenchmarkSecuritiesData" nillable="true" type="tns:TopBenchmarkSecuritiesData" />
  <xs:complexType name="ArrayOfPortfolioRiskReturnData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PortfolioRiskReturnData" nillable="true" type="tns:PortfolioRiskReturnData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPortfolioRiskReturnData" nillable="true" type="tns:ArrayOfPortfolioRiskReturnData" />
  <xs:complexType name="PortfolioRiskReturnData">
    <xs:sequence>
      <xs:element minOccurs="0" name="BenchMarkValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataPointName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PortfolioValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PortfolioRiskReturnData" nillable="true" type="tns:PortfolioRiskReturnData" />
  <xs:complexType name="ArrayOfUnrealizedGainLossData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UnrealizedGainLossData" nillable="true" type="tns:UnrealizedGainLossData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUnrealizedGainLossData" nillable="true" type="tns:ArrayOfUnrealizedGainLossData" />
  <xs:complexType name="UnrealizedGainLossData">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdjustedPrice" type="xs:double" />
      <xs:element minOccurs="0" name="Cost" type="xs:decimal" />
      <xs:element minOccurs="0" name="DailyClosingPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="DailyGrossReturn" type="xs:decimal" />
      <xs:element minOccurs="0" name="DailyPriceReturn" type="xs:decimal" />
      <xs:element minOccurs="0" name="DailySpotFX" type="xs:decimal" />
      <xs:element minOccurs="0" name="FromDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="InstrumentID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IssueName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MovingAverage" type="xs:double" />
      <xs:element minOccurs="0" name="NinetyDayWtAvg" type="xs:double" />
      <xs:element minOccurs="0" name="Ticker" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnrealizedGainLoss" type="xs:double" />
      <xs:element minOccurs="0" name="Volume" type="xs:decimal" />
      <xs:element minOccurs="0" name="WtAvgCost" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UnrealizedGainLossData" nillable="true" type="tns:UnrealizedGainLossData" />
  <xs:complexType name="ArrayOfMorningSnapshotData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MorningSnapshotData" nillable="true" type="tns:MorningSnapshotData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMorningSnapshotData" nillable="true" type="tns:ArrayOfMorningSnapshotData" />
  <xs:complexType name="MorningSnapshotData">
    <xs:sequence>
      <xs:element minOccurs="0" name="DTD" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="IIIPreviousYearPrice" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="IIPreviousYearPrice" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="MTD" nillable="true" type="xs:double" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GreenField.DAL" minOccurs="0" name="MorningSnapshotPreferenceInfo" nillable="true" type="q1:UserBenchmarkPreference" />
      <xs:element minOccurs="0" name="PreviousYearPrice" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="QTD" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="WTD" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="YTD" nillable="true" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MorningSnapshotData" nillable="true" type="tns:MorningSnapshotData" />
</xs:schema>