SourceCode/GreenField/GreenField.ServiceCaller/Service References/ProxyDataDefinitions/ProxyDataOperations.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProxyDataOperations" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59430/Services/ProxyDataOperations.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59430/Services/ProxyDataOperations.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59430/Services/ProxyDataOperations.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GreenField.Web.DataContracts" />
      <xsd:import schemaLocation="http://localhost:59430/Services/ProxyDataOperations.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Drawing" />
      <xsd:import schemaLocation="http://localhost:59430/Services/ProxyDataOperations.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://localhost:59430/Services/ProxyDataOperations.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:59430/Services/ProxyDataOperations.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/GreenField.DAL" />
      <xsd:import schemaLocation="http://localhost:59430/Services/ProxyDataOperations.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ProxyDataOperations_RetrieveSecurityReferenceData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveSecurityReferenceData" />
  </wsdl:message>
  <wsdl:message name="ProxyDataOperations_RetrieveSecurityReferenceData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveSecurityReferenceDataResponse" />
  </wsdl:message>
  <wsdl:message name="ProxyDataOperations_RetrieveSecurityReferenceDataByTicker_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveSecurityReferenceDataByTicker" />
  </wsdl:message>
  <wsdl:message name="ProxyDataOperations_RetrieveSecurityReferenceDataByTicker_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveSecurityReferenceDataByTickerResponse" />
  </wsdl:message>
  <wsdl:message name="ProxyDataOperations_RetrievePricingReferenceData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrievePricingReferenceData" />
  </wsdl:message>
  <wsdl:message name="ProxyDataOperations_RetrievePricingReferenceData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrievePricingReferenceDataResponse" />
  </wsdl:message>
  <wsdl:message name="ProxyDataOperations_RetrieveEntitySelectionData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveEntitySelectionData" />
  </wsdl:message>
  <wsdl:message name="ProxyDataOperations_RetrieveEntitySelectionData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveEntitySelectionDataResponse" />
  </wsdl:message>
  <wsdl:message name="ProxyDataOperations_RetrieveFundSelectionData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveFundSelectionData" />
  </wsdl:message>
  <wsdl:message name="ProxyDataOperations_RetrieveFundSelectionData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveFundSelectionDataResponse" />
  </wsdl:message>
  <wsdl:message name="ProxyDataOperations_RetrieveBenchmarkSelectionData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveBenchmarkSelectionData" />
  </wsdl:message>
  <wsdl:message name="ProxyDataOperations_RetrieveBenchmarkSelectionData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveBenchmarkSelectionDataResponse" />
  </wsdl:message>
  <wsdl:message name="ProxyDataOperations_RetrieveMarketCapitalizationData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveMarketCapitalizationData" />
  </wsdl:message>
  <wsdl:message name="ProxyDataOperations_RetrieveMarketCapitalizationData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveMarketCapitalizationDataResponse" />
  </wsdl:message>
  <wsdl:message name="ProxyDataOperations_RetrieveAssetAllocationData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveAssetAllocationData" />
  </wsdl:message>
  <wsdl:message name="ProxyDataOperations_RetrieveAssetAllocationData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveAssetAllocationDataResponse" />
  </wsdl:message>
  <wsdl:message name="ProxyDataOperations_RetrieveSectorBreakdownData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveSectorBreakdownData" />
  </wsdl:message>
  <wsdl:message name="ProxyDataOperations_RetrieveSectorBreakdownData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveSectorBreakdownDataResponse" />
  </wsdl:message>
  <wsdl:message name="ProxyDataOperations_RetrieveRegionBreakdownData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveRegionBreakdownData" />
  </wsdl:message>
  <wsdl:message name="ProxyDataOperations_RetrieveRegionBreakdownData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveRegionBreakdownDataResponse" />
  </wsdl:message>
  <wsdl:message name="ProxyDataOperations_RetrieveTopHoldingsData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveTopHoldingsData" />
  </wsdl:message>
  <wsdl:message name="ProxyDataOperations_RetrieveTopHoldingsData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveTopHoldingsDataResponse" />
  </wsdl:message>
  <wsdl:message name="ProxyDataOperations_RetrieveIndexConstituentsData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveIndexConstituentsData" />
  </wsdl:message>
  <wsdl:message name="ProxyDataOperations_RetrieveIndexConstituentsData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveIndexConstituentsDataResponse" />
  </wsdl:message>
  <wsdl:message name="ProxyDataOperations_RetrieveValuesForFilters_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveValuesForFilters" />
  </wsdl:message>
  <wsdl:message name="ProxyDataOperations_RetrieveValuesForFilters_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveValuesForFiltersResponse" />
  </wsdl:message>
  <wsdl:message name="ProxyDataOperations_RetrieveMarketSnapshotSelectionData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveMarketSnapshotSelectionData" />
  </wsdl:message>
  <wsdl:message name="ProxyDataOperations_RetrieveMarketSnapshotSelectionData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveMarketSnapshotSelectionDataResponse" />
  </wsdl:message>
  <wsdl:message name="ProxyDataOperations_RetrieveMarketSnapshotPreference_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveMarketSnapshotPreference" />
  </wsdl:message>
  <wsdl:message name="ProxyDataOperations_RetrieveMarketSnapshotPreference_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveMarketSnapshotPreferenceResponse" />
  </wsdl:message>
  <wsdl:message name="ProxyDataOperations_RetrieveMarketPerformanceSnapshotData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveMarketPerformanceSnapshotData" />
  </wsdl:message>
  <wsdl:message name="ProxyDataOperations_RetrieveMarketPerformanceSnapshotData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveMarketPerformanceSnapshotDataResponse" />
  </wsdl:message>
  <wsdl:message name="ProxyDataOperations_AddMarketSnapshotPerformance_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMarketSnapshotPerformance" />
  </wsdl:message>
  <wsdl:message name="ProxyDataOperations_AddMarketSnapshotPerformance_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddMarketSnapshotPerformanceResponse" />
  </wsdl:message>
  <wsdl:message name="ProxyDataOperations_UpdateMarketSnapshotPerformance_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMarketSnapshotPerformance" />
  </wsdl:message>
  <wsdl:message name="ProxyDataOperations_UpdateMarketSnapshotPerformance_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMarketSnapshotPerformanceResponse" />
  </wsdl:message>
  <wsdl:message name="ProxyDataOperations_AddMarketSnapshotGroupPreference_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMarketSnapshotGroupPreference" />
  </wsdl:message>
  <wsdl:message name="ProxyDataOperations_AddMarketSnapshotGroupPreference_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddMarketSnapshotGroupPreferenceResponse" />
  </wsdl:message>
  <wsdl:message name="ProxyDataOperations_RemoveMarketSnapshotGroupPreference_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveMarketSnapshotGroupPreference" />
  </wsdl:message>
  <wsdl:message name="ProxyDataOperations_RemoveMarketSnapshotGroupPreference_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveMarketSnapshotGroupPreferenceResponse" />
  </wsdl:message>
  <wsdl:message name="ProxyDataOperations_AddMarketSnapshotEntityPreference_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMarketSnapshotEntityPreference" />
  </wsdl:message>
  <wsdl:message name="ProxyDataOperations_AddMarketSnapshotEntityPreference_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddMarketSnapshotEntityPreferenceResponse" />
  </wsdl:message>
  <wsdl:message name="ProxyDataOperations_RemoveMarketSnapshotEntityPreference_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveMarketSnapshotEntityPreference" />
  </wsdl:message>
  <wsdl:message name="ProxyDataOperations_RemoveMarketSnapshotEntityPreference_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveMarketSnapshotEntityPreferenceResponse" />
  </wsdl:message>
  <wsdl:message name="ProxyDataOperations_RetrieveRelativePerformanceSectorData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveRelativePerformanceSectorData" />
  </wsdl:message>
  <wsdl:message name="ProxyDataOperations_RetrieveRelativePerformanceSectorData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveRelativePerformanceSectorDataResponse" />
  </wsdl:message>
  <wsdl:message name="ProxyDataOperations_RetrieveRelativePerformanceCountryActivePositionData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveRelativePerformanceCountryActivePositionData" />
  </wsdl:message>
  <wsdl:message name="ProxyDataOperations_RetrieveRelativePerformanceCountryActivePositionData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveRelativePerformanceCountryActivePositionDataResponse" />
  </wsdl:message>
  <wsdl:message name="ProxyDataOperations_RetrieveRelativePerformanceSectorActivePositionData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveRelativePerformanceSectorActivePositionData" />
  </wsdl:message>
  <wsdl:message name="ProxyDataOperations_RetrieveRelativePerformanceSectorActivePositionData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveRelativePerformanceSectorActivePositionDataResponse" />
  </wsdl:message>
  <wsdl:message name="ProxyDataOperations_RetrieveRelativePerformanceSecurityActivePositionData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveRelativePerformanceSecurityActivePositionData" />
  </wsdl:message>
  <wsdl:message name="ProxyDataOperations_RetrieveRelativePerformanceSecurityActivePositionData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveRelativePerformanceSecurityActivePositionDataResponse" />
  </wsdl:message>
  <wsdl:message name="ProxyDataOperations_RetrieveRelativePerformanceSecurityData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveRelativePerformanceSecurityData" />
  </wsdl:message>
  <wsdl:message name="ProxyDataOperations_RetrieveRelativePerformanceSecurityData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveRelativePerformanceSecurityDataResponse" />
  </wsdl:message>
  <wsdl:message name="ProxyDataOperations_RetrieveRelativePerformanceData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveRelativePerformanceData" />
  </wsdl:message>
  <wsdl:message name="ProxyDataOperations_RetrieveRelativePerformanceData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveRelativePerformanceDataResponse" />
  </wsdl:message>
  <wsdl:message name="ProxyDataOperations_RetrievePerformanceGraphData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrievePerformanceGraphData" />
  </wsdl:message>
  <wsdl:message name="ProxyDataOperations_RetrievePerformanceGraphData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrievePerformanceGraphDataResponse" />
  </wsdl:message>
  <wsdl:message name="ProxyDataOperations_RetrievePerformanceGridData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrievePerformanceGridData" />
  </wsdl:message>
  <wsdl:message name="ProxyDataOperations_RetrievePerformanceGridData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrievePerformanceGridDataResponse" />
  </wsdl:message>
  <wsdl:message name="ProxyDataOperations_RetrieveAttributionData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveAttributionData" />
  </wsdl:message>
  <wsdl:message name="ProxyDataOperations_RetrieveAttributionData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveAttributionDataResponse" />
  </wsdl:message>
  <wsdl:message name="ProxyDataOperations_RetrieveUnrealizedGainLossData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveUnrealizedGainLossData" />
  </wsdl:message>
  <wsdl:message name="ProxyDataOperations_RetrieveUnrealizedGainLossData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveUnrealizedGainLossDataResponse" />
  </wsdl:message>
  <wsdl:message name="ProxyDataOperations_RetrieveHoldingsPercentageData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveHoldingsPercentageData" />
  </wsdl:message>
  <wsdl:message name="ProxyDataOperations_RetrieveHoldingsPercentageData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveHoldingsPercentageDataResponse" />
  </wsdl:message>
  <wsdl:message name="ProxyDataOperations_RetrieveHoldingsPercentageDataForRegion_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveHoldingsPercentageDataForRegion" />
  </wsdl:message>
  <wsdl:message name="ProxyDataOperations_RetrieveHoldingsPercentageDataForRegion_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveHoldingsPercentageDataForRegionResponse" />
  </wsdl:message>
  <wsdl:message name="ProxyDataOperations_RetrieveTopBenchmarkSecuritiesData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveTopBenchmarkSecuritiesData" />
  </wsdl:message>
  <wsdl:message name="ProxyDataOperations_RetrieveTopBenchmarkSecuritiesData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveTopBenchmarkSecuritiesDataResponse" />
  </wsdl:message>
  <wsdl:message name="ProxyDataOperations_RetrievePortfolioRiskReturnData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrievePortfolioRiskReturnData" />
  </wsdl:message>
  <wsdl:message name="ProxyDataOperations_RetrievePortfolioRiskReturnData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrievePortfolioRiskReturnDataResponse" />
  </wsdl:message>
  <wsdl:message name="ProxyDataOperations_RetrieveHeatMapData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveHeatMapData" />
  </wsdl:message>
  <wsdl:message name="ProxyDataOperations_RetrieveHeatMapData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveHeatMapDataResponse" />
  </wsdl:message>
  <wsdl:portType name="ProxyDataOperations">
    <wsdl:operation name="RetrieveSecurityReferenceData">
      <wsdl:input wsaw:Action="http://tempuri.org/ProxyDataOperations/RetrieveSecurityReferenceData" message="tns:ProxyDataOperations_RetrieveSecurityReferenceData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ProxyDataOperations/RetrieveSecurityReferenceDataResponse" message="tns:ProxyDataOperations_RetrieveSecurityReferenceData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveSecurityReferenceDataByTicker">
      <wsdl:input wsaw:Action="http://tempuri.org/ProxyDataOperations/RetrieveSecurityReferenceDataByTicker" message="tns:ProxyDataOperations_RetrieveSecurityReferenceDataByTicker_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ProxyDataOperations/RetrieveSecurityReferenceDataByTickerResponse" message="tns:ProxyDataOperations_RetrieveSecurityReferenceDataByTicker_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrievePricingReferenceData">
      <wsdl:input wsaw:Action="http://tempuri.org/ProxyDataOperations/RetrievePricingReferenceData" message="tns:ProxyDataOperations_RetrievePricingReferenceData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ProxyDataOperations/RetrievePricingReferenceDataResponse" message="tns:ProxyDataOperations_RetrievePricingReferenceData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveEntitySelectionData">
      <wsdl:input wsaw:Action="http://tempuri.org/ProxyDataOperations/RetrieveEntitySelectionData" message="tns:ProxyDataOperations_RetrieveEntitySelectionData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ProxyDataOperations/RetrieveEntitySelectionDataResponse" message="tns:ProxyDataOperations_RetrieveEntitySelectionData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveFundSelectionData">
      <wsdl:input wsaw:Action="http://tempuri.org/ProxyDataOperations/RetrieveFundSelectionData" message="tns:ProxyDataOperations_RetrieveFundSelectionData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ProxyDataOperations/RetrieveFundSelectionDataResponse" message="tns:ProxyDataOperations_RetrieveFundSelectionData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveBenchmarkSelectionData">
      <wsdl:input wsaw:Action="http://tempuri.org/ProxyDataOperations/RetrieveBenchmarkSelectionData" message="tns:ProxyDataOperations_RetrieveBenchmarkSelectionData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ProxyDataOperations/RetrieveBenchmarkSelectionDataResponse" message="tns:ProxyDataOperations_RetrieveBenchmarkSelectionData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveMarketCapitalizationData">
      <wsdl:input wsaw:Action="http://tempuri.org/ProxyDataOperations/RetrieveMarketCapitalizationData" message="tns:ProxyDataOperations_RetrieveMarketCapitalizationData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ProxyDataOperations/RetrieveMarketCapitalizationDataResponse" message="tns:ProxyDataOperations_RetrieveMarketCapitalizationData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveAssetAllocationData">
      <wsdl:input wsaw:Action="http://tempuri.org/ProxyDataOperations/RetrieveAssetAllocationData" message="tns:ProxyDataOperations_RetrieveAssetAllocationData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ProxyDataOperations/RetrieveAssetAllocationDataResponse" message="tns:ProxyDataOperations_RetrieveAssetAllocationData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveSectorBreakdownData">
      <wsdl:input wsaw:Action="http://tempuri.org/ProxyDataOperations/RetrieveSectorBreakdownData" message="tns:ProxyDataOperations_RetrieveSectorBreakdownData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ProxyDataOperations/RetrieveSectorBreakdownDataResponse" message="tns:ProxyDataOperations_RetrieveSectorBreakdownData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveRegionBreakdownData">
      <wsdl:input wsaw:Action="http://tempuri.org/ProxyDataOperations/RetrieveRegionBreakdownData" message="tns:ProxyDataOperations_RetrieveRegionBreakdownData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ProxyDataOperations/RetrieveRegionBreakdownDataResponse" message="tns:ProxyDataOperations_RetrieveRegionBreakdownData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveTopHoldingsData">
      <wsdl:input wsaw:Action="http://tempuri.org/ProxyDataOperations/RetrieveTopHoldingsData" message="tns:ProxyDataOperations_RetrieveTopHoldingsData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ProxyDataOperations/RetrieveTopHoldingsDataResponse" message="tns:ProxyDataOperations_RetrieveTopHoldingsData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveIndexConstituentsData">
      <wsdl:input wsaw:Action="http://tempuri.org/ProxyDataOperations/RetrieveIndexConstituentsData" message="tns:ProxyDataOperations_RetrieveIndexConstituentsData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ProxyDataOperations/RetrieveIndexConstituentsDataResponse" message="tns:ProxyDataOperations_RetrieveIndexConstituentsData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveValuesForFilters">
      <wsdl:input wsaw:Action="http://tempuri.org/ProxyDataOperations/RetrieveValuesForFilters" message="tns:ProxyDataOperations_RetrieveValuesForFilters_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ProxyDataOperations/RetrieveValuesForFiltersResponse" message="tns:ProxyDataOperations_RetrieveValuesForFilters_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveMarketSnapshotSelectionData">
      <wsdl:input wsaw:Action="http://tempuri.org/ProxyDataOperations/RetrieveMarketSnapshotSelectionData" message="tns:ProxyDataOperations_RetrieveMarketSnapshotSelectionData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ProxyDataOperations/RetrieveMarketSnapshotSelectionDataResponse" message="tns:ProxyDataOperations_RetrieveMarketSnapshotSelectionData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveMarketSnapshotPreference">
      <wsdl:input wsaw:Action="http://tempuri.org/ProxyDataOperations/RetrieveMarketSnapshotPreference" message="tns:ProxyDataOperations_RetrieveMarketSnapshotPreference_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ProxyDataOperations/RetrieveMarketSnapshotPreferenceResponse" message="tns:ProxyDataOperations_RetrieveMarketSnapshotPreference_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveMarketPerformanceSnapshotData">
      <wsdl:input wsaw:Action="http://tempuri.org/ProxyDataOperations/RetrieveMarketPerformanceSnapshotData" message="tns:ProxyDataOperations_RetrieveMarketPerformanceSnapshotData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ProxyDataOperations/RetrieveMarketPerformanceSnapshotDataResponse" message="tns:ProxyDataOperations_RetrieveMarketPerformanceSnapshotData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddMarketSnapshotPerformance">
      <wsdl:input wsaw:Action="http://tempuri.org/ProxyDataOperations/AddMarketSnapshotPerformance" message="tns:ProxyDataOperations_AddMarketSnapshotPerformance_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ProxyDataOperations/AddMarketSnapshotPerformanceResponse" message="tns:ProxyDataOperations_AddMarketSnapshotPerformance_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMarketSnapshotPerformance">
      <wsdl:input wsaw:Action="http://tempuri.org/ProxyDataOperations/UpdateMarketSnapshotPerformance" message="tns:ProxyDataOperations_UpdateMarketSnapshotPerformance_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ProxyDataOperations/UpdateMarketSnapshotPerformanceResponse" message="tns:ProxyDataOperations_UpdateMarketSnapshotPerformance_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddMarketSnapshotGroupPreference">
      <wsdl:input wsaw:Action="http://tempuri.org/ProxyDataOperations/AddMarketSnapshotGroupPreference" message="tns:ProxyDataOperations_AddMarketSnapshotGroupPreference_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ProxyDataOperations/AddMarketSnapshotGroupPreferenceResponse" message="tns:ProxyDataOperations_AddMarketSnapshotGroupPreference_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveMarketSnapshotGroupPreference">
      <wsdl:input wsaw:Action="http://tempuri.org/ProxyDataOperations/RemoveMarketSnapshotGroupPreference" message="tns:ProxyDataOperations_RemoveMarketSnapshotGroupPreference_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ProxyDataOperations/RemoveMarketSnapshotGroupPreferenceResponse" message="tns:ProxyDataOperations_RemoveMarketSnapshotGroupPreference_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddMarketSnapshotEntityPreference">
      <wsdl:input wsaw:Action="http://tempuri.org/ProxyDataOperations/AddMarketSnapshotEntityPreference" message="tns:ProxyDataOperations_AddMarketSnapshotEntityPreference_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ProxyDataOperations/AddMarketSnapshotEntityPreferenceResponse" message="tns:ProxyDataOperations_AddMarketSnapshotEntityPreference_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveMarketSnapshotEntityPreference">
      <wsdl:input wsaw:Action="http://tempuri.org/ProxyDataOperations/RemoveMarketSnapshotEntityPreference" message="tns:ProxyDataOperations_RemoveMarketSnapshotEntityPreference_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ProxyDataOperations/RemoveMarketSnapshotEntityPreferenceResponse" message="tns:ProxyDataOperations_RemoveMarketSnapshotEntityPreference_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveRelativePerformanceSectorData">
      <wsdl:input wsaw:Action="http://tempuri.org/ProxyDataOperations/RetrieveRelativePerformanceSectorData" message="tns:ProxyDataOperations_RetrieveRelativePerformanceSectorData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ProxyDataOperations/RetrieveRelativePerformanceSectorDataResponse" message="tns:ProxyDataOperations_RetrieveRelativePerformanceSectorData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveRelativePerformanceCountryActivePositionData">
      <wsdl:input wsaw:Action="http://tempuri.org/ProxyDataOperations/RetrieveRelativePerformanceCountryActivePositionData" message="tns:ProxyDataOperations_RetrieveRelativePerformanceCountryActivePositionData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ProxyDataOperations/RetrieveRelativePerformanceCountryActivePositionDataResponse" message="tns:ProxyDataOperations_RetrieveRelativePerformanceCountryActivePositionData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveRelativePerformanceSectorActivePositionData">
      <wsdl:input wsaw:Action="http://tempuri.org/ProxyDataOperations/RetrieveRelativePerformanceSectorActivePositionData" message="tns:ProxyDataOperations_RetrieveRelativePerformanceSectorActivePositionData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ProxyDataOperations/RetrieveRelativePerformanceSectorActivePositionDataResponse" message="tns:ProxyDataOperations_RetrieveRelativePerformanceSectorActivePositionData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveRelativePerformanceSecurityActivePositionData">
      <wsdl:input wsaw:Action="http://tempuri.org/ProxyDataOperations/RetrieveRelativePerformanceSecurityActivePositionData" message="tns:ProxyDataOperations_RetrieveRelativePerformanceSecurityActivePositionData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ProxyDataOperations/RetrieveRelativePerformanceSecurityActivePositionDataResponse" message="tns:ProxyDataOperations_RetrieveRelativePerformanceSecurityActivePositionData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveRelativePerformanceSecurityData">
      <wsdl:input wsaw:Action="http://tempuri.org/ProxyDataOperations/RetrieveRelativePerformanceSecurityData" message="tns:ProxyDataOperations_RetrieveRelativePerformanceSecurityData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ProxyDataOperations/RetrieveRelativePerformanceSecurityDataResponse" message="tns:ProxyDataOperations_RetrieveRelativePerformanceSecurityData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveRelativePerformanceData">
      <wsdl:input wsaw:Action="http://tempuri.org/ProxyDataOperations/RetrieveRelativePerformanceData" message="tns:ProxyDataOperations_RetrieveRelativePerformanceData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ProxyDataOperations/RetrieveRelativePerformanceDataResponse" message="tns:ProxyDataOperations_RetrieveRelativePerformanceData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrievePerformanceGraphData">
      <wsdl:input wsaw:Action="http://tempuri.org/ProxyDataOperations/RetrievePerformanceGraphData" message="tns:ProxyDataOperations_RetrievePerformanceGraphData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ProxyDataOperations/RetrievePerformanceGraphDataResponse" message="tns:ProxyDataOperations_RetrievePerformanceGraphData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrievePerformanceGridData">
      <wsdl:input wsaw:Action="http://tempuri.org/ProxyDataOperations/RetrievePerformanceGridData" message="tns:ProxyDataOperations_RetrievePerformanceGridData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ProxyDataOperations/RetrievePerformanceGridDataResponse" message="tns:ProxyDataOperations_RetrievePerformanceGridData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveAttributionData">
      <wsdl:input wsaw:Action="http://tempuri.org/ProxyDataOperations/RetrieveAttributionData" message="tns:ProxyDataOperations_RetrieveAttributionData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ProxyDataOperations/RetrieveAttributionDataResponse" message="tns:ProxyDataOperations_RetrieveAttributionData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveUnrealizedGainLossData">
      <wsdl:input wsaw:Action="http://tempuri.org/ProxyDataOperations/RetrieveUnrealizedGainLossData" message="tns:ProxyDataOperations_RetrieveUnrealizedGainLossData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ProxyDataOperations/RetrieveUnrealizedGainLossDataResponse" message="tns:ProxyDataOperations_RetrieveUnrealizedGainLossData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveHoldingsPercentageData">
      <wsdl:input wsaw:Action="http://tempuri.org/ProxyDataOperations/RetrieveHoldingsPercentageData" message="tns:ProxyDataOperations_RetrieveHoldingsPercentageData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ProxyDataOperations/RetrieveHoldingsPercentageDataResponse" message="tns:ProxyDataOperations_RetrieveHoldingsPercentageData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveHoldingsPercentageDataForRegion">
      <wsdl:input wsaw:Action="http://tempuri.org/ProxyDataOperations/RetrieveHoldingsPercentageDataForRegion" message="tns:ProxyDataOperations_RetrieveHoldingsPercentageDataForRegion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ProxyDataOperations/RetrieveHoldingsPercentageDataForRegionResponse" message="tns:ProxyDataOperations_RetrieveHoldingsPercentageDataForRegion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveTopBenchmarkSecuritiesData">
      <wsdl:input wsaw:Action="http://tempuri.org/ProxyDataOperations/RetrieveTopBenchmarkSecuritiesData" message="tns:ProxyDataOperations_RetrieveTopBenchmarkSecuritiesData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ProxyDataOperations/RetrieveTopBenchmarkSecuritiesDataResponse" message="tns:ProxyDataOperations_RetrieveTopBenchmarkSecuritiesData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrievePortfolioRiskReturnData">
      <wsdl:input wsaw:Action="http://tempuri.org/ProxyDataOperations/RetrievePortfolioRiskReturnData" message="tns:ProxyDataOperations_RetrievePortfolioRiskReturnData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ProxyDataOperations/RetrievePortfolioRiskReturnDataResponse" message="tns:ProxyDataOperations_RetrievePortfolioRiskReturnData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveHeatMapData">
      <wsdl:input wsaw:Action="http://tempuri.org/ProxyDataOperations/RetrieveHeatMapData" message="tns:ProxyDataOperations_RetrieveHeatMapData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ProxyDataOperations/RetrieveHeatMapDataResponse" message="tns:ProxyDataOperations_RetrieveHeatMapData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ProxyDataOperations" type="tns:ProxyDataOperations">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RetrieveSecurityReferenceData">
      <soap:operation soapAction="http://tempuri.org/ProxyDataOperations/RetrieveSecurityReferenceData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveSecurityReferenceDataByTicker">
      <soap:operation soapAction="http://tempuri.org/ProxyDataOperations/RetrieveSecurityReferenceDataByTicker" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrievePricingReferenceData">
      <soap:operation soapAction="http://tempuri.org/ProxyDataOperations/RetrievePricingReferenceData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveEntitySelectionData">
      <soap:operation soapAction="http://tempuri.org/ProxyDataOperations/RetrieveEntitySelectionData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveFundSelectionData">
      <soap:operation soapAction="http://tempuri.org/ProxyDataOperations/RetrieveFundSelectionData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveBenchmarkSelectionData">
      <soap:operation soapAction="http://tempuri.org/ProxyDataOperations/RetrieveBenchmarkSelectionData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveMarketCapitalizationData">
      <soap:operation soapAction="http://tempuri.org/ProxyDataOperations/RetrieveMarketCapitalizationData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveAssetAllocationData">
      <soap:operation soapAction="http://tempuri.org/ProxyDataOperations/RetrieveAssetAllocationData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveSectorBreakdownData">
      <soap:operation soapAction="http://tempuri.org/ProxyDataOperations/RetrieveSectorBreakdownData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveRegionBreakdownData">
      <soap:operation soapAction="http://tempuri.org/ProxyDataOperations/RetrieveRegionBreakdownData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveTopHoldingsData">
      <soap:operation soapAction="http://tempuri.org/ProxyDataOperations/RetrieveTopHoldingsData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveIndexConstituentsData">
      <soap:operation soapAction="http://tempuri.org/ProxyDataOperations/RetrieveIndexConstituentsData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveValuesForFilters">
      <soap:operation soapAction="http://tempuri.org/ProxyDataOperations/RetrieveValuesForFilters" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveMarketSnapshotSelectionData">
      <soap:operation soapAction="http://tempuri.org/ProxyDataOperations/RetrieveMarketSnapshotSelectionData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveMarketSnapshotPreference">
      <soap:operation soapAction="http://tempuri.org/ProxyDataOperations/RetrieveMarketSnapshotPreference" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveMarketPerformanceSnapshotData">
      <soap:operation soapAction="http://tempuri.org/ProxyDataOperations/RetrieveMarketPerformanceSnapshotData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMarketSnapshotPerformance">
      <soap:operation soapAction="http://tempuri.org/ProxyDataOperations/AddMarketSnapshotPerformance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMarketSnapshotPerformance">
      <soap:operation soapAction="http://tempuri.org/ProxyDataOperations/UpdateMarketSnapshotPerformance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMarketSnapshotGroupPreference">
      <soap:operation soapAction="http://tempuri.org/ProxyDataOperations/AddMarketSnapshotGroupPreference" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveMarketSnapshotGroupPreference">
      <soap:operation soapAction="http://tempuri.org/ProxyDataOperations/RemoveMarketSnapshotGroupPreference" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMarketSnapshotEntityPreference">
      <soap:operation soapAction="http://tempuri.org/ProxyDataOperations/AddMarketSnapshotEntityPreference" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveMarketSnapshotEntityPreference">
      <soap:operation soapAction="http://tempuri.org/ProxyDataOperations/RemoveMarketSnapshotEntityPreference" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveRelativePerformanceSectorData">
      <soap:operation soapAction="http://tempuri.org/ProxyDataOperations/RetrieveRelativePerformanceSectorData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveRelativePerformanceCountryActivePositionData">
      <soap:operation soapAction="http://tempuri.org/ProxyDataOperations/RetrieveRelativePerformanceCountryActivePositionData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveRelativePerformanceSectorActivePositionData">
      <soap:operation soapAction="http://tempuri.org/ProxyDataOperations/RetrieveRelativePerformanceSectorActivePositionData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveRelativePerformanceSecurityActivePositionData">
      <soap:operation soapAction="http://tempuri.org/ProxyDataOperations/RetrieveRelativePerformanceSecurityActivePositionData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveRelativePerformanceSecurityData">
      <soap:operation soapAction="http://tempuri.org/ProxyDataOperations/RetrieveRelativePerformanceSecurityData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveRelativePerformanceData">
      <soap:operation soapAction="http://tempuri.org/ProxyDataOperations/RetrieveRelativePerformanceData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrievePerformanceGraphData">
      <soap:operation soapAction="http://tempuri.org/ProxyDataOperations/RetrievePerformanceGraphData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrievePerformanceGridData">
      <soap:operation soapAction="http://tempuri.org/ProxyDataOperations/RetrievePerformanceGridData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveAttributionData">
      <soap:operation soapAction="http://tempuri.org/ProxyDataOperations/RetrieveAttributionData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveUnrealizedGainLossData">
      <soap:operation soapAction="http://tempuri.org/ProxyDataOperations/RetrieveUnrealizedGainLossData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveHoldingsPercentageData">
      <soap:operation soapAction="http://tempuri.org/ProxyDataOperations/RetrieveHoldingsPercentageData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveHoldingsPercentageDataForRegion">
      <soap:operation soapAction="http://tempuri.org/ProxyDataOperations/RetrieveHoldingsPercentageDataForRegion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveTopBenchmarkSecuritiesData">
      <soap:operation soapAction="http://tempuri.org/ProxyDataOperations/RetrieveTopBenchmarkSecuritiesData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrievePortfolioRiskReturnData">
      <soap:operation soapAction="http://tempuri.org/ProxyDataOperations/RetrievePortfolioRiskReturnData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveHeatMapData">
      <soap:operation soapAction="http://tempuri.org/ProxyDataOperations/RetrieveHeatMapData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProxyDataOperations">
    <wsdl:port name="BasicHttpBinding_ProxyDataOperations" binding="tns:BasicHttpBinding_ProxyDataOperations">
      <soap:address location="http://localhost:59430/Services/ProxyDataOperations.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>