SourceCode/GreenField/GreenField.ServiceCaller/Service References/ProxyDataDefinitions/ProxyDataOperations4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GreenField.DAL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GreenField.DAL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59430/Services/ProxyDataOperations.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
  <xs:complexType name="ArrayOfUserBenchmarkPreference">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserBenchmarkPreference" nillable="true" type="tns:UserBenchmarkPreference" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserBenchmarkPreference" nillable="true" type="tns:ArrayOfUserBenchmarkPreference" />
  <xs:complexType name="UserBenchmarkPreference">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q1:ComplexObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="BenchmarkName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BenchmarkOrder" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="BenchmarkReturnType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="GroupName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="GroupOrder" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UserBenchmarkPreference" nillable="true" type="tns:UserBenchmarkPreference" />
</xs:schema>