SourceCode/GreenField/GreenField.ServiceCaller/Service References/BenchmarkHoldingsDefinitions/BenchmarkHoldingsOperations.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BenchmarkHoldingsOperations" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59430/Services/BenchmarkHoldingsOperations.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59430/Services/BenchmarkHoldingsOperations.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59430/Services/BenchmarkHoldingsOperations.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GreenField.Web.DataContracts" />
      <xsd:import schemaLocation="http://localhost:59430/Services/BenchmarkHoldingsOperations.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" />
      <xsd:import schemaLocation="http://localhost:59430/Services/BenchmarkHoldingsOperations.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="BenchmarkHoldingsOperations_Temp_InputMessage">
    <wsdl:part name="parameters" element="tns:Temp" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_Temp_OutputMessage">
    <wsdl:part name="parameters" element="tns:TempResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrievePortfolioSelectionData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrievePortfolioSelectionData" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrievePortfolioSelectionData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrievePortfolioSelectionDataResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrievePortfolioSelectionData_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q1:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrieveBenchmarkSelectionData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveBenchmarkSelectionData" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrieveBenchmarkSelectionData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveBenchmarkSelectionDataResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrieveBenchmarkSelectionData_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q2:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrieveSectorBreakdownData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveSectorBreakdownData" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrieveSectorBreakdownData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveSectorBreakdownDataResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrieveSectorBreakdownData_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q3:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrieveRegionBreakdownData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveRegionBreakdownData" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrieveRegionBreakdownData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveRegionBreakdownDataResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrieveRegionBreakdownData_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q4:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrieveTopHoldingsData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveTopHoldingsData" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrieveTopHoldingsData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveTopHoldingsDataResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrieveTopHoldingsData_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q5:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrieveIndexConstituentsData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveIndexConstituentsData" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrieveIndexConstituentsData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveIndexConstituentsDataResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrieveIndexConstituentsData_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q6:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrieveFilterSelectionData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveFilterSelectionData" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrieveFilterSelectionData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveFilterSelectionDataResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrieveFilterSelectionData_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q7:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrievePortfolioDetailsData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrievePortfolioDetailsData" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrievePortfolioDetailsData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrievePortfolioDetailsDataResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrievePortfolioDetailsData_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q8:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrieveBenchmarkChartReturnData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveBenchmarkChartReturnData" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrieveBenchmarkChartReturnData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveBenchmarkChartReturnDataResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrieveBenchmarkChartReturnData_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q9="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q9:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrieveBenchmarkGridReturnData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveBenchmarkGridReturnData" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrieveBenchmarkGridReturnData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveBenchmarkGridReturnDataResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrieveBenchmarkGridReturnData_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q10="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q10:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrieveAssetAllocationData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveAssetAllocationData" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrieveAssetAllocationData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveAssetAllocationDataResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrieveHoldingsPercentageData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveHoldingsPercentageData" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrieveHoldingsPercentageData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveHoldingsPercentageDataResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrieveHoldingsPercentageData_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q11="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q11:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrieveHoldingsPercentageDataForRegion_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveHoldingsPercentageDataForRegion" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrieveHoldingsPercentageDataForRegion_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveHoldingsPercentageDataForRegionResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrieveHoldingsPercentageDataForRegion_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q12="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q12:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrieveTopBenchmarkSecuritiesData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveTopBenchmarkSecuritiesData" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrieveTopBenchmarkSecuritiesData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveTopBenchmarkSecuritiesDataResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrieveTopBenchmarkSecuritiesData_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q13="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q13:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrieveMarketCapitalizationData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveMarketCapitalizationData" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrieveMarketCapitalizationData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveMarketCapitalizationDataResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrieveMarketCapitalizationData_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q14="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q14:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrieveHeatMapData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveHeatMapData" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrieveHeatMapData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveHeatMapDataResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrieveHeatMapData_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q15="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q15:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrievePerformanceGraphData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrievePerformanceGraphData" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrievePerformanceGraphData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrievePerformanceGraphDataResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrievePerformanceGraphData_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q16="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q16:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrievePerformanceGridData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrievePerformanceGridData" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrievePerformanceGridData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrievePerformanceGridDataResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrievePerformanceGridData_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q17="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q17:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrieveAttributionData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveAttributionData" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrieveAttributionData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveAttributionDataResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrieveAttributionData_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q18="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q18:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrievePortfolioRiskReturnData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrievePortfolioRiskReturnData" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrievePortfolioRiskReturnData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrievePortfolioRiskReturnDataResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrievePortfolioRiskReturnData_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q19="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q19:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrieveRelativePerformanceSectorData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveRelativePerformanceSectorData" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrieveRelativePerformanceSectorData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveRelativePerformanceSectorDataResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrieveRelativePerformanceSectorData_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q20="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q20:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrieveRelativePerformanceCountryActivePositionData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveRelativePerformanceCountryActivePositionData" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrieveRelativePerformanceCountryActivePositionData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveRelativePerformanceCountryActivePositionDataResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrieveRelativePerformanceCountryActivePositionData_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q21="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q21:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrieveRelativePerformanceSectorActivePositionData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveRelativePerformanceSectorActivePositionData" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrieveRelativePerformanceSectorActivePositionData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveRelativePerformanceSectorActivePositionDataResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrieveRelativePerformanceSectorActivePositionData_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q22="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q22:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrieveRelativePerformanceSecurityActivePositionData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveRelativePerformanceSecurityActivePositionData" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrieveRelativePerformanceSecurityActivePositionData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveRelativePerformanceSecurityActivePositionDataResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrieveRelativePerformanceSecurityActivePositionData_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q23="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q23:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrieveRelativePerformanceSecurityData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveRelativePerformanceSecurityData" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrieveRelativePerformanceSecurityData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveRelativePerformanceSecurityDataResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrieveRelativePerformanceSecurityData_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q24="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q24:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrieveRelativePerformanceData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveRelativePerformanceData" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrieveRelativePerformanceData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveRelativePerformanceDataResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrieveRelativePerformanceData_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q25="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q25:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrieveChartExtensionData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveChartExtensionData" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrieveChartExtensionData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveChartExtensionDataResponse" />
  </wsdl:message>
  <wsdl:portType name="BenchmarkHoldingsOperations">
    <wsdl:operation name="Temp">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/Temp" message="tns:BenchmarkHoldingsOperations_Temp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/TempResponse" message="tns:BenchmarkHoldingsOperations_Temp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrievePortfolioSelectionData">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrievePortfolioSelectionData" message="tns:BenchmarkHoldingsOperations_RetrievePortfolioSelectionData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrievePortfolioSelectionDataResponse" message="tns:BenchmarkHoldingsOperations_RetrievePortfolioSelectionData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrievePortfolioSelectionDataServiceFaultFault" name="ServiceFaultFault" message="tns:BenchmarkHoldingsOperations_RetrievePortfolioSelectionData_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveBenchmarkSelectionData">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveBenchmarkSelectionData" message="tns:BenchmarkHoldingsOperations_RetrieveBenchmarkSelectionData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveBenchmarkSelectionDataResponse" message="tns:BenchmarkHoldingsOperations_RetrieveBenchmarkSelectionData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveBenchmarkSelectionDataServiceFaultFault" name="ServiceFaultFault" message="tns:BenchmarkHoldingsOperations_RetrieveBenchmarkSelectionData_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveSectorBreakdownData">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveSectorBreakdownData" message="tns:BenchmarkHoldingsOperations_RetrieveSectorBreakdownData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveSectorBreakdownDataResponse" message="tns:BenchmarkHoldingsOperations_RetrieveSectorBreakdownData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveSectorBreakdownDataServiceFaultFault" name="ServiceFaultFault" message="tns:BenchmarkHoldingsOperations_RetrieveSectorBreakdownData_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveRegionBreakdownData">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveRegionBreakdownData" message="tns:BenchmarkHoldingsOperations_RetrieveRegionBreakdownData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveRegionBreakdownDataResponse" message="tns:BenchmarkHoldingsOperations_RetrieveRegionBreakdownData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveRegionBreakdownDataServiceFaultFault" name="ServiceFaultFault" message="tns:BenchmarkHoldingsOperations_RetrieveRegionBreakdownData_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveTopHoldingsData">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveTopHoldingsData" message="tns:BenchmarkHoldingsOperations_RetrieveTopHoldingsData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveTopHoldingsDataResponse" message="tns:BenchmarkHoldingsOperations_RetrieveTopHoldingsData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveTopHoldingsDataServiceFaultFault" name="ServiceFaultFault" message="tns:BenchmarkHoldingsOperations_RetrieveTopHoldingsData_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveIndexConstituentsData">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveIndexConstituentsData" message="tns:BenchmarkHoldingsOperations_RetrieveIndexConstituentsData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveIndexConstituentsDataResponse" message="tns:BenchmarkHoldingsOperations_RetrieveIndexConstituentsData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveIndexConstituentsDataServiceFaultFault" name="ServiceFaultFault" message="tns:BenchmarkHoldingsOperations_RetrieveIndexConstituentsData_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveFilterSelectionData">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveFilterSelectionData" message="tns:BenchmarkHoldingsOperations_RetrieveFilterSelectionData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveFilterSelectionDataResponse" message="tns:BenchmarkHoldingsOperations_RetrieveFilterSelectionData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveFilterSelectionDataServiceFaultFault" name="ServiceFaultFault" message="tns:BenchmarkHoldingsOperations_RetrieveFilterSelectionData_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrievePortfolioDetailsData">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrievePortfolioDetailsData" message="tns:BenchmarkHoldingsOperations_RetrievePortfolioDetailsData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrievePortfolioDetailsDataResponse" message="tns:BenchmarkHoldingsOperations_RetrievePortfolioDetailsData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrievePortfolioDetailsDataServiceFaultFault" name="ServiceFaultFault" message="tns:BenchmarkHoldingsOperations_RetrievePortfolioDetailsData_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveBenchmarkChartReturnData">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveBenchmarkChartReturnData" message="tns:BenchmarkHoldingsOperations_RetrieveBenchmarkChartReturnData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveBenchmarkChartReturnDataResponse" message="tns:BenchmarkHoldingsOperations_RetrieveBenchmarkChartReturnData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveBenchmarkChartReturnDataServiceFaultFault" name="ServiceFaultFault" message="tns:BenchmarkHoldingsOperations_RetrieveBenchmarkChartReturnData_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveBenchmarkGridReturnData">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveBenchmarkGridReturnData" message="tns:BenchmarkHoldingsOperations_RetrieveBenchmarkGridReturnData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveBenchmarkGridReturnDataResponse" message="tns:BenchmarkHoldingsOperations_RetrieveBenchmarkGridReturnData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveBenchmarkGridReturnDataServiceFaultFault" name="ServiceFaultFault" message="tns:BenchmarkHoldingsOperations_RetrieveBenchmarkGridReturnData_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveAssetAllocationData">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveAssetAllocationData" message="tns:BenchmarkHoldingsOperations_RetrieveAssetAllocationData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveAssetAllocationDataResponse" message="tns:BenchmarkHoldingsOperations_RetrieveAssetAllocationData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveHoldingsPercentageData">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveHoldingsPercentageData" message="tns:BenchmarkHoldingsOperations_RetrieveHoldingsPercentageData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveHoldingsPercentageDataResponse" message="tns:BenchmarkHoldingsOperations_RetrieveHoldingsPercentageData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveHoldingsPercentageDataServiceFaultFault" name="ServiceFaultFault" message="tns:BenchmarkHoldingsOperations_RetrieveHoldingsPercentageData_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveHoldingsPercentageDataForRegion">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveHoldingsPercentageDataForRegion" message="tns:BenchmarkHoldingsOperations_RetrieveHoldingsPercentageDataForRegion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveHoldingsPercentageDataForRegionResponse" message="tns:BenchmarkHoldingsOperations_RetrieveHoldingsPercentageDataForRegion_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveHoldingsPercentageDataForRegionServiceFaultFault" name="ServiceFaultFault" message="tns:BenchmarkHoldingsOperations_RetrieveHoldingsPercentageDataForRegion_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveTopBenchmarkSecuritiesData">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveTopBenchmarkSecuritiesData" message="tns:BenchmarkHoldingsOperations_RetrieveTopBenchmarkSecuritiesData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveTopBenchmarkSecuritiesDataResponse" message="tns:BenchmarkHoldingsOperations_RetrieveTopBenchmarkSecuritiesData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveTopBenchmarkSecuritiesDataServiceFaultFault" name="ServiceFaultFault" message="tns:BenchmarkHoldingsOperations_RetrieveTopBenchmarkSecuritiesData_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveMarketCapitalizationData">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveMarketCapitalizationData" message="tns:BenchmarkHoldingsOperations_RetrieveMarketCapitalizationData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveMarketCapitalizationDataResponse" message="tns:BenchmarkHoldingsOperations_RetrieveMarketCapitalizationData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveMarketCapitalizationDataServiceFaultFault" name="ServiceFaultFault" message="tns:BenchmarkHoldingsOperations_RetrieveMarketCapitalizationData_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveHeatMapData">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveHeatMapData" message="tns:BenchmarkHoldingsOperations_RetrieveHeatMapData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveHeatMapDataResponse" message="tns:BenchmarkHoldingsOperations_RetrieveHeatMapData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveHeatMapDataServiceFaultFault" name="ServiceFaultFault" message="tns:BenchmarkHoldingsOperations_RetrieveHeatMapData_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrievePerformanceGraphData">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrievePerformanceGraphData" message="tns:BenchmarkHoldingsOperations_RetrievePerformanceGraphData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrievePerformanceGraphDataResponse" message="tns:BenchmarkHoldingsOperations_RetrievePerformanceGraphData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrievePerformanceGraphDataServiceFaultFault" name="ServiceFaultFault" message="tns:BenchmarkHoldingsOperations_RetrievePerformanceGraphData_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrievePerformanceGridData">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrievePerformanceGridData" message="tns:BenchmarkHoldingsOperations_RetrievePerformanceGridData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrievePerformanceGridDataResponse" message="tns:BenchmarkHoldingsOperations_RetrievePerformanceGridData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrievePerformanceGridDataServiceFaultFault" name="ServiceFaultFault" message="tns:BenchmarkHoldingsOperations_RetrievePerformanceGridData_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveAttributionData">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveAttributionData" message="tns:BenchmarkHoldingsOperations_RetrieveAttributionData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveAttributionDataResponse" message="tns:BenchmarkHoldingsOperations_RetrieveAttributionData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveAttributionDataServiceFaultFault" name="ServiceFaultFault" message="tns:BenchmarkHoldingsOperations_RetrieveAttributionData_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrievePortfolioRiskReturnData">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrievePortfolioRiskReturnData" message="tns:BenchmarkHoldingsOperations_RetrievePortfolioRiskReturnData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrievePortfolioRiskReturnDataResponse" message="tns:BenchmarkHoldingsOperations_RetrievePortfolioRiskReturnData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrievePortfolioRiskReturnDataServiceFaultFault" name="ServiceFaultFault" message="tns:BenchmarkHoldingsOperations_RetrievePortfolioRiskReturnData_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveRelativePerformanceSectorData">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveRelativePerformanceSectorData" message="tns:BenchmarkHoldingsOperations_RetrieveRelativePerformanceSectorData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveRelativePerformanceSectorDataResponse" message="tns:BenchmarkHoldingsOperations_RetrieveRelativePerformanceSectorData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveRelativePerformanceSectorDataServiceFaultFault" name="ServiceFaultFault" message="tns:BenchmarkHoldingsOperations_RetrieveRelativePerformanceSectorData_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveRelativePerformanceCountryActivePositionData">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveRelativePerformanceCountryActivePositionData" message="tns:BenchmarkHoldingsOperations_RetrieveRelativePerformanceCountryActivePositionData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveRelativePerformanceCountryActivePositionDataResponse" message="tns:BenchmarkHoldingsOperations_RetrieveRelativePerformanceCountryActivePositionData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveRelativePerformanceCountryActivePositionDataServiceFaultFault" name="ServiceFaultFault" message="tns:BenchmarkHoldingsOperations_RetrieveRelativePerformanceCountryActivePositionData_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveRelativePerformanceSectorActivePositionData">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveRelativePerformanceSectorActivePositionData" message="tns:BenchmarkHoldingsOperations_RetrieveRelativePerformanceSectorActivePositionData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveRelativePerformanceSectorActivePositionDataResponse" message="tns:BenchmarkHoldingsOperations_RetrieveRelativePerformanceSectorActivePositionData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveRelativePerformanceSectorActivePositionDataServiceFaultFault" name="ServiceFaultFault" message="tns:BenchmarkHoldingsOperations_RetrieveRelativePerformanceSectorActivePositionData_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveRelativePerformanceSecurityActivePositionData">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveRelativePerformanceSecurityActivePositionData" message="tns:BenchmarkHoldingsOperations_RetrieveRelativePerformanceSecurityActivePositionData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveRelativePerformanceSecurityActivePositionDataResponse" message="tns:BenchmarkHoldingsOperations_RetrieveRelativePerformanceSecurityActivePositionData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveRelativePerformanceSecurityActivePositionDataServiceFaultFault" name="ServiceFaultFault" message="tns:BenchmarkHoldingsOperations_RetrieveRelativePerformanceSecurityActivePositionData_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveRelativePerformanceSecurityData">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveRelativePerformanceSecurityData" message="tns:BenchmarkHoldingsOperations_RetrieveRelativePerformanceSecurityData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveRelativePerformanceSecurityDataResponse" message="tns:BenchmarkHoldingsOperations_RetrieveRelativePerformanceSecurityData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveRelativePerformanceSecurityDataServiceFaultFault" name="ServiceFaultFault" message="tns:BenchmarkHoldingsOperations_RetrieveRelativePerformanceSecurityData_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveRelativePerformanceData">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveRelativePerformanceData" message="tns:BenchmarkHoldingsOperations_RetrieveRelativePerformanceData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveRelativePerformanceDataResponse" message="tns:BenchmarkHoldingsOperations_RetrieveRelativePerformanceData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveRelativePerformanceDataServiceFaultFault" name="ServiceFaultFault" message="tns:BenchmarkHoldingsOperations_RetrieveRelativePerformanceData_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveChartExtensionData">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveChartExtensionData" message="tns:BenchmarkHoldingsOperations_RetrieveChartExtensionData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveChartExtensionDataResponse" message="tns:BenchmarkHoldingsOperations_RetrieveChartExtensionData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BenchmarkHoldingsOperations" type="tns:BenchmarkHoldingsOperations">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Temp">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsOperations/Temp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrievePortfolioSelectionData">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsOperations/RetrievePortfolioSelectionData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveBenchmarkSelectionData">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveBenchmarkSelectionData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveSectorBreakdownData">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveSectorBreakdownData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveRegionBreakdownData">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveRegionBreakdownData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveTopHoldingsData">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveTopHoldingsData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveIndexConstituentsData">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveIndexConstituentsData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveFilterSelectionData">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveFilterSelectionData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrievePortfolioDetailsData">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsOperations/RetrievePortfolioDetailsData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveBenchmarkChartReturnData">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveBenchmarkChartReturnData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveBenchmarkGridReturnData">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveBenchmarkGridReturnData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveAssetAllocationData">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveAssetAllocationData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveHoldingsPercentageData">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveHoldingsPercentageData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveHoldingsPercentageDataForRegion">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveHoldingsPercentageDataForRegion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveTopBenchmarkSecuritiesData">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveTopBenchmarkSecuritiesData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveMarketCapitalizationData">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveMarketCapitalizationData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveHeatMapData">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveHeatMapData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrievePerformanceGraphData">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsOperations/RetrievePerformanceGraphData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrievePerformanceGridData">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsOperations/RetrievePerformanceGridData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveAttributionData">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveAttributionData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrievePortfolioRiskReturnData">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsOperations/RetrievePortfolioRiskReturnData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveRelativePerformanceSectorData">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveRelativePerformanceSectorData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveRelativePerformanceCountryActivePositionData">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveRelativePerformanceCountryActivePositionData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveRelativePerformanceSectorActivePositionData">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveRelativePerformanceSectorActivePositionData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveRelativePerformanceSecurityActivePositionData">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveRelativePerformanceSecurityActivePositionData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveRelativePerformanceSecurityData">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveRelativePerformanceSecurityData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveRelativePerformanceData">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveRelativePerformanceData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveChartExtensionData">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveChartExtensionData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BenchmarkHoldingsOperations">
    <wsdl:port name="BenchmarkHoldingsOperations" binding="tns:BenchmarkHoldingsOperations">
      <soap:address location="http://localhost:59430/Services/BenchmarkHoldingsOperations.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>