SourceCode/GreenField/GreenField.ServiceCaller/Service References/BenchmarkHoldingsDefinitions/BenchmarkHoldingsOperations.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BenchmarkHoldingsOperations" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59430/Services/BenchmarkHoldingsOperations.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59430/Services/BenchmarkHoldingsOperations.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59430/Services/BenchmarkHoldingsOperations.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GreenField.DataContracts" />
      <xsd:import schemaLocation="http://localhost:59430/Services/BenchmarkHoldingsOperations.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="BenchmarkHoldingsOperations_Temp_InputMessage">
    <wsdl:part name="parameters" element="tns:Temp" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_Temp_OutputMessage">
    <wsdl:part name="parameters" element="tns:TempResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrievePortfolioSelectionData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrievePortfolioSelectionData" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrievePortfolioSelectionData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrievePortfolioSelectionDataResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrievePortfolioSelectionData_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q1:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrieveBenchmarkSelectionData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveBenchmarkSelectionData" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrieveBenchmarkSelectionData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveBenchmarkSelectionDataResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrieveBenchmarkSelectionData_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q2:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrieveSectorBreakdownData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveSectorBreakdownData" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrieveSectorBreakdownData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveSectorBreakdownDataResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrieveSectorBreakdownData_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q3:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrieveRegionBreakdownData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveRegionBreakdownData" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrieveRegionBreakdownData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveRegionBreakdownDataResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrieveRegionBreakdownData_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q4:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrieveTopHoldingsData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveTopHoldingsData" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrieveTopHoldingsData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveTopHoldingsDataResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrieveTopHoldingsData_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q5:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrieveIndexConstituentsData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveIndexConstituentsData" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrieveIndexConstituentsData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveIndexConstituentsDataResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrieveIndexConstituentsData_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q6:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrieveRiskIndexExposuresData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveRiskIndexExposuresData" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrieveRiskIndexExposuresData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveRiskIndexExposuresDataResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrieveRiskIndexExposuresData_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q7:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrieveFilterSelectionData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveFilterSelectionData" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrieveFilterSelectionData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveFilterSelectionDataResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrieveFilterSelectionData_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q8:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrievePortfolioDetailsData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrievePortfolioDetailsData" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrievePortfolioDetailsData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrievePortfolioDetailsDataResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrievePortfolioDetailsData_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q9="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q9:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrieveAssetAllocationData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveAssetAllocationData" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrieveAssetAllocationData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveAssetAllocationDataResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrieveHoldingsPercentageData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveHoldingsPercentageData" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrieveHoldingsPercentageData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveHoldingsPercentageDataResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrieveHoldingsPercentageData_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q10="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q10:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrieveHoldingsPercentageDataForRegion_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveHoldingsPercentageDataForRegion" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrieveHoldingsPercentageDataForRegion_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveHoldingsPercentageDataForRegionResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrieveHoldingsPercentageDataForRegion_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q11="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q11:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrieveTopBenchmarkSecuritiesData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveTopBenchmarkSecuritiesData" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrieveTopBenchmarkSecuritiesData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveTopBenchmarkSecuritiesDataResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrieveTopBenchmarkSecuritiesData_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q12="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q12:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrieveHeatMapData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveHeatMapData" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrieveHeatMapData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveHeatMapDataResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrieveHeatMapData_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q13="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q13:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrieveAttributionData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveAttributionData" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrieveAttributionData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveAttributionDataResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrieveAttributionData_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q14="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q14:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrievePortfolioRiskReturnData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrievePortfolioRiskReturnData" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrievePortfolioRiskReturnData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrievePortfolioRiskReturnDataResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsOperations_RetrievePortfolioRiskReturnData_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q15="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q15:ServiceFault" />
  </wsdl:message>
  <wsdl:portType name="BenchmarkHoldingsOperations">
    <wsdl:operation name="Temp">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/Temp" message="tns:BenchmarkHoldingsOperations_Temp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/TempResponse" message="tns:BenchmarkHoldingsOperations_Temp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrievePortfolioSelectionData">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrievePortfolioSelectionData" message="tns:BenchmarkHoldingsOperations_RetrievePortfolioSelectionData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrievePortfolioSelectionDataResponse" message="tns:BenchmarkHoldingsOperations_RetrievePortfolioSelectionData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrievePortfolioSelectionDataServiceFaultFault" name="ServiceFaultFault" message="tns:BenchmarkHoldingsOperations_RetrievePortfolioSelectionData_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveBenchmarkSelectionData">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveBenchmarkSelectionData" message="tns:BenchmarkHoldingsOperations_RetrieveBenchmarkSelectionData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveBenchmarkSelectionDataResponse" message="tns:BenchmarkHoldingsOperations_RetrieveBenchmarkSelectionData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveBenchmarkSelectionDataServiceFaultFault" name="ServiceFaultFault" message="tns:BenchmarkHoldingsOperations_RetrieveBenchmarkSelectionData_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveSectorBreakdownData">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveSectorBreakdownData" message="tns:BenchmarkHoldingsOperations_RetrieveSectorBreakdownData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveSectorBreakdownDataResponse" message="tns:BenchmarkHoldingsOperations_RetrieveSectorBreakdownData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveSectorBreakdownDataServiceFaultFault" name="ServiceFaultFault" message="tns:BenchmarkHoldingsOperations_RetrieveSectorBreakdownData_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveRegionBreakdownData">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveRegionBreakdownData" message="tns:BenchmarkHoldingsOperations_RetrieveRegionBreakdownData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveRegionBreakdownDataResponse" message="tns:BenchmarkHoldingsOperations_RetrieveRegionBreakdownData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveRegionBreakdownDataServiceFaultFault" name="ServiceFaultFault" message="tns:BenchmarkHoldingsOperations_RetrieveRegionBreakdownData_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveTopHoldingsData">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveTopHoldingsData" message="tns:BenchmarkHoldingsOperations_RetrieveTopHoldingsData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveTopHoldingsDataResponse" message="tns:BenchmarkHoldingsOperations_RetrieveTopHoldingsData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveTopHoldingsDataServiceFaultFault" name="ServiceFaultFault" message="tns:BenchmarkHoldingsOperations_RetrieveTopHoldingsData_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveIndexConstituentsData">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveIndexConstituentsData" message="tns:BenchmarkHoldingsOperations_RetrieveIndexConstituentsData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveIndexConstituentsDataResponse" message="tns:BenchmarkHoldingsOperations_RetrieveIndexConstituentsData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveIndexConstituentsDataServiceFaultFault" name="ServiceFaultFault" message="tns:BenchmarkHoldingsOperations_RetrieveIndexConstituentsData_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveRiskIndexExposuresData">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveRiskIndexExposuresData" message="tns:BenchmarkHoldingsOperations_RetrieveRiskIndexExposuresData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveRiskIndexExposuresDataResponse" message="tns:BenchmarkHoldingsOperations_RetrieveRiskIndexExposuresData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveRiskIndexExposuresDataServiceFaultFault" name="ServiceFaultFault" message="tns:BenchmarkHoldingsOperations_RetrieveRiskIndexExposuresData_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveFilterSelectionData">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveFilterSelectionData" message="tns:BenchmarkHoldingsOperations_RetrieveFilterSelectionData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveFilterSelectionDataResponse" message="tns:BenchmarkHoldingsOperations_RetrieveFilterSelectionData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveFilterSelectionDataServiceFaultFault" name="ServiceFaultFault" message="tns:BenchmarkHoldingsOperations_RetrieveFilterSelectionData_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrievePortfolioDetailsData">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrievePortfolioDetailsData" message="tns:BenchmarkHoldingsOperations_RetrievePortfolioDetailsData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrievePortfolioDetailsDataResponse" message="tns:BenchmarkHoldingsOperations_RetrievePortfolioDetailsData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrievePortfolioDetailsDataServiceFaultFault" name="ServiceFaultFault" message="tns:BenchmarkHoldingsOperations_RetrievePortfolioDetailsData_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveAssetAllocationData">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveAssetAllocationData" message="tns:BenchmarkHoldingsOperations_RetrieveAssetAllocationData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveAssetAllocationDataResponse" message="tns:BenchmarkHoldingsOperations_RetrieveAssetAllocationData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveHoldingsPercentageData">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveHoldingsPercentageData" message="tns:BenchmarkHoldingsOperations_RetrieveHoldingsPercentageData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveHoldingsPercentageDataResponse" message="tns:BenchmarkHoldingsOperations_RetrieveHoldingsPercentageData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveHoldingsPercentageDataServiceFaultFault" name="ServiceFaultFault" message="tns:BenchmarkHoldingsOperations_RetrieveHoldingsPercentageData_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveHoldingsPercentageDataForRegion">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveHoldingsPercentageDataForRegion" message="tns:BenchmarkHoldingsOperations_RetrieveHoldingsPercentageDataForRegion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveHoldingsPercentageDataForRegionResponse" message="tns:BenchmarkHoldingsOperations_RetrieveHoldingsPercentageDataForRegion_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveHoldingsPercentageDataForRegionServiceFaultFault" name="ServiceFaultFault" message="tns:BenchmarkHoldingsOperations_RetrieveHoldingsPercentageDataForRegion_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveTopBenchmarkSecuritiesData">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveTopBenchmarkSecuritiesData" message="tns:BenchmarkHoldingsOperations_RetrieveTopBenchmarkSecuritiesData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveTopBenchmarkSecuritiesDataResponse" message="tns:BenchmarkHoldingsOperations_RetrieveTopBenchmarkSecuritiesData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveTopBenchmarkSecuritiesDataServiceFaultFault" name="ServiceFaultFault" message="tns:BenchmarkHoldingsOperations_RetrieveTopBenchmarkSecuritiesData_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveHeatMapData">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveHeatMapData" message="tns:BenchmarkHoldingsOperations_RetrieveHeatMapData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveHeatMapDataResponse" message="tns:BenchmarkHoldingsOperations_RetrieveHeatMapData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveHeatMapDataServiceFaultFault" name="ServiceFaultFault" message="tns:BenchmarkHoldingsOperations_RetrieveHeatMapData_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveAttributionData">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveAttributionData" message="tns:BenchmarkHoldingsOperations_RetrieveAttributionData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveAttributionDataResponse" message="tns:BenchmarkHoldingsOperations_RetrieveAttributionData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveAttributionDataServiceFaultFault" name="ServiceFaultFault" message="tns:BenchmarkHoldingsOperations_RetrieveAttributionData_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrievePortfolioRiskReturnData">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrievePortfolioRiskReturnData" message="tns:BenchmarkHoldingsOperations_RetrievePortfolioRiskReturnData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrievePortfolioRiskReturnDataResponse" message="tns:BenchmarkHoldingsOperations_RetrievePortfolioRiskReturnData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/BenchmarkHoldingsOperations/RetrievePortfolioRiskReturnDataServiceFaultFault" name="ServiceFaultFault" message="tns:BenchmarkHoldingsOperations_RetrievePortfolioRiskReturnData_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BenchmarkHoldingsOperations" type="tns:BenchmarkHoldingsOperations">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Temp">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsOperations/Temp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrievePortfolioSelectionData">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsOperations/RetrievePortfolioSelectionData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveBenchmarkSelectionData">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveBenchmarkSelectionData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveSectorBreakdownData">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveSectorBreakdownData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveRegionBreakdownData">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveRegionBreakdownData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveTopHoldingsData">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveTopHoldingsData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveIndexConstituentsData">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveIndexConstituentsData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveRiskIndexExposuresData">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveRiskIndexExposuresData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveFilterSelectionData">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveFilterSelectionData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrievePortfolioDetailsData">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsOperations/RetrievePortfolioDetailsData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveAssetAllocationData">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveAssetAllocationData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveHoldingsPercentageData">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveHoldingsPercentageData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveHoldingsPercentageDataForRegion">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveHoldingsPercentageDataForRegion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveTopBenchmarkSecuritiesData">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveTopBenchmarkSecuritiesData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveHeatMapData">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveHeatMapData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveAttributionData">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsOperations/RetrieveAttributionData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrievePortfolioRiskReturnData">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsOperations/RetrievePortfolioRiskReturnData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BenchmarkHoldingsOperations">
    <wsdl:port name="BenchmarkHoldingsOperations" binding="tns:BenchmarkHoldingsOperations">
      <soap:address location="http://localhost:59430/Services/BenchmarkHoldingsOperations.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>