SourceCode/GreenField/GreenField.ServiceCaller/Service References/BenchmarkHoldingsDefinitions/BenchmarkHoldingsOperations1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GreenField.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GreenField.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PeriodSelectionData">
    <xs:sequence>
      <xs:element minOccurs="0" name="PeriodEndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PeriodStartDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PeriodSelectionData" nillable="true" type="tns:PeriodSelectionData" />
  <xs:complexType name="ArrayOfPortfolioSelectionData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PortfolioSelectionData" nillable="true" type="tns:PortfolioSelectionData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPortfolioSelectionData" nillable="true" type="tns:ArrayOfPortfolioSelectionData" />
  <xs:complexType name="PortfolioSelectionData">
    <xs:sequence>
      <xs:element minOccurs="0" name="BenchmarkId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PortfolioId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PortfolioThemeSubGroupId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PortfolioThemeSubGroupName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PortfolioSelectionData" nillable="true" type="tns:PortfolioSelectionData" />
  <xs:complexType name="ArrayOfBenchmarkSelectionData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BenchmarkSelectionData" nillable="true" type="tns:BenchmarkSelectionData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBenchmarkSelectionData" nillable="true" type="tns:ArrayOfBenchmarkSelectionData" />
  <xs:complexType name="BenchmarkSelectionData">
    <xs:sequence>
      <xs:element minOccurs="0" name="InstrumentID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ticker" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BenchmarkSelectionData" nillable="true" type="tns:BenchmarkSelectionData" />
  <xs:complexType name="ArrayOfSectorBreakdownData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SectorBreakdownData" nillable="true" type="tns:SectorBreakdownData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSectorBreakdownData" nillable="true" type="tns:ArrayOfSectorBreakdownData" />
  <xs:complexType name="SectorBreakdownData">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActivePosition" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="BenchmarkShare" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Industry" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PortfolioShare" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Sector" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Security" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SectorBreakdownData" nillable="true" type="tns:SectorBreakdownData" />
  <xs:complexType name="ArrayOfRegionBreakdownData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RegionBreakdownData" nillable="true" type="tns:RegionBreakdownData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRegionBreakdownData" nillable="true" type="tns:ArrayOfRegionBreakdownData" />
  <xs:complexType name="RegionBreakdownData">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActivePosition" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="BenchmarkShare" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PortfolioShare" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Region" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Security" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RegionBreakdownData" nillable="true" type="tns:RegionBreakdownData" />
  <xs:complexType name="ArrayOfTopHoldingsData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TopHoldingsData" nillable="true" type="tns:TopHoldingsData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTopHoldingsData" nillable="true" type="tns:ArrayOfTopHoldingsData" />
  <xs:complexType name="TopHoldingsData">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActivePosition" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="BenchmarkShare" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Holding" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MarketValue" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PortfolioShare" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Ticker" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TopHoldingsData" nillable="true" type="tns:TopHoldingsData" />
  <xs:complexType name="ArrayOfIndexConstituentsData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IndexConstituentsData" nillable="true" type="tns:IndexConstituentsData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIndexConstituentsData" nillable="true" type="tns:ArrayOfIndexConstituentsData" />
  <xs:complexType name="IndexConstituentsData">
    <xs:sequence>
      <xs:element minOccurs="0" name="BenchmarkId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConstituentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Industry" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Region" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sector" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubIndustry" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Weight" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="WeightCountry" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="WeightIndustry" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IndexConstituentsData" nillable="true" type="tns:IndexConstituentsData" />
  <xs:complexType name="ArrayOfRiskIndexExposuresData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RiskIndexExposuresData" nillable="true" type="tns:RiskIndexExposuresData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRiskIndexExposuresData" nillable="true" type="tns:ArrayOfRiskIndexExposuresData" />
  <xs:complexType name="RiskIndexExposuresData">
    <xs:sequence>
      <xs:element minOccurs="0" name="EntityType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Growth" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Leverage" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Liquidity" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Momentum" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Size" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="SizeNonLinear" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Volatility" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RiskIndexExposuresData" nillable="true" type="tns:RiskIndexExposuresData" />
  <xs:complexType name="ArrayOfFilterSelectionData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FilterSelectionData" nillable="true" type="tns:FilterSelectionData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFilterSelectionData" nillable="true" type="tns:ArrayOfFilterSelectionData" />
  <xs:complexType name="FilterSelectionData">
    <xs:sequence>
      <xs:element minOccurs="0" name="FilterValues" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Filtertype" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FilterSelectionData" nillable="true" type="tns:FilterSelectionData" />
  <xs:complexType name="ArrayOfPortfolioDetailsData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PortfolioDetailsData" nillable="true" type="tns:PortfolioDetailsData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPortfolioDetailsData" nillable="true" type="tns:ArrayOfPortfolioDetailsData" />
  <xs:complexType name="PortfolioDetailsData">
    <xs:sequence>
      <xs:element minOccurs="0" name="A_Sec_Instr_Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ActivePosition" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="AsecSecShortName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AshEmmModelWeight" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="BalanceNominal" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="BenchmarkWeight" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="DirtyValuePC" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="FromDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IndustryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsoCountryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IssueName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MarketCapUSD" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PortfolioDirtyValuePC" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PortfolioWeight" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ProprietaryRegionCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReAshEmmModelWeight" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ReBenchmarkWeight" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="RePortfolioWeight" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="SectorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecurityThemeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecurityType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubIndustryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ticker" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TradingCurrency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PortfolioDetailsData" nillable="true" type="tns:PortfolioDetailsData" />
  <xs:complexType name="ArrayOfAssetAllocationData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AssetAllocationData" nillable="true" type="tns:AssetAllocationData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAssetAllocationData" nillable="true" type="tns:ArrayOfAssetAllocationData" />
  <xs:complexType name="AssetAllocationData">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActivePosition" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="BenchmarkWeight" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModelWeight" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PortfolioId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PortfolioWeight" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AssetAllocationData" nillable="true" type="tns:AssetAllocationData" />
  <xs:complexType name="ArrayOfHoldingsPercentageData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HoldingsPercentageData" nillable="true" type="tns:HoldingsPercentageData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHoldingsPercentageData" nillable="true" type="tns:ArrayOfHoldingsPercentageData" />
  <xs:complexType name="HoldingsPercentageData">
    <xs:sequence>
      <xs:element minOccurs="0" name="BenchmarkName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BenchmarkWeight" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="EffectiveDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FundName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PortfolioWeight" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="SegmentName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HoldingsPercentageData" nillable="true" type="tns:HoldingsPercentageData" />
  <xs:complexType name="ArrayOfTopBenchmarkSecuritiesData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TopBenchmarkSecuritiesData" nillable="true" type="tns:TopBenchmarkSecuritiesData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTopBenchmarkSecuritiesData" nillable="true" type="tns:ArrayOfTopBenchmarkSecuritiesData" />
  <xs:complexType name="TopBenchmarkSecuritiesData">
    <xs:sequence>
      <xs:element minOccurs="0" name="IssuerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MTD" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="OneDayReturn" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="QTD" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="WTD" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Weight" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="YTD" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TopBenchmarkSecuritiesData" nillable="true" type="tns:TopBenchmarkSecuritiesData" />
  <xs:complexType name="ArrayOfHeatMapData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HeatMapData" nillable="true" type="tns:HeatMapData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHeatMapData" nillable="true" type="tns:ArrayOfHeatMapData" />
  <xs:complexType name="HeatMapData">
    <xs:sequence>
      <xs:element minOccurs="0" name="CountryID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountryPerformance" type="tns:PerformanceType" />
      <xs:element minOccurs="0" name="CountryYTD" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HeatMapData" nillable="true" type="tns:HeatMapData" />
  <xs:simpleType name="PerformanceType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NO_RELATION" />
      <xs:enumeration value="UNDER_PERFORMING" />
      <xs:enumeration value="FLAT_PERFORMING" />
      <xs:enumeration value="OVER_PERFORMING" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PerformanceType" nillable="true" type="tns:PerformanceType" />
  <xs:complexType name="ArrayOfAttributionData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AttributionData" nillable="true" type="tns:AttributionData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAttributionData" nillable="true" type="tns:ArrayOfAttributionData" />
  <xs:complexType name="AttributionData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bm1RcAvgWgt1d" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Bm1RcAvgWgt1w" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Bm1RcAvgWgt1y" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Bm1RcAvgWgtMtd" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Bm1RcAvgWgtQtd" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Bm1RcAvgWgtYtd" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FBm1AshAssetAlloc1d" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="FBm1AshAssetAlloc1w" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="FBm1AshAssetAlloc1y" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="FBm1AshAssetAllocMtd" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="FBm1AshAssetAllocQtd" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="FBm1AshAssetAllocYtd" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="FBm1AshRcCtn1d" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="FBm1AshRcCtn1w" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="FBm1AshRcCtn1y" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="FBm1AshRcCtnMtd" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="FBm1AshRcCtnQtd" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="FBm1AshRcCtnYtd" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="FBm1AshSecSelec1d" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="FBm1AshSecSelec1w" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="FBm1AshSecSelec1y" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="FBm1AshSecSelecMtd" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="FBm1AshSecSelecQtd" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="FBm1AshSecSelecYtd" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="FPorAshRcCtn1d" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="FPorAshRcCtn1w" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="FPorAshRcCtn1y" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="FPorAshRcCtnMtd" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="FPorAshRcCtnQtd" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="FPorAshRcCtnYtd" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PorRcAvgWgt1d" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PorRcAvgWgt1w" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PorRcAvgWgt1y" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PorRcAvgWgtMtd" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PorRcAvgWgtQtd" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PorRcAvgWgtYtd" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AttributionData" nillable="true" type="tns:AttributionData" />
  <xs:complexType name="ArrayOfPortfolioRiskReturnData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PortfolioRiskReturnData" nillable="true" type="tns:PortfolioRiskReturnData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPortfolioRiskReturnData" nillable="true" type="tns:ArrayOfPortfolioRiskReturnData" />
  <xs:complexType name="PortfolioRiskReturnData">
    <xs:sequence>
      <xs:element minOccurs="0" name="BenchMarkValue1" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="BenchMarkValue2" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="BenchMarkValue3" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="BenchMarkValue4" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="BenchMarkValue5" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="DataPointName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PortfolioValue1" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PortfolioValue2" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PortfolioValue3" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PortfolioValue4" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PortfolioValue5" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PortfolioRiskReturnData" nillable="true" type="tns:PortfolioRiskReturnData" />
</xs:schema>