SourceCode/GreenField/GreenField.ServiceCaller/Service References/BenchmarkHoldingsPerformanceDefinitions/BenchmarkHoldingsPerformanceOperations.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BenchmarkHoldingsPerformanceOperations" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59430/Services/BenchmarkHoldingsPerformanceOperations.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59430/Services/BenchmarkHoldingsPerformanceOperations.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59430/Services/BenchmarkHoldingsPerformanceOperations.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GreenField.Web.DataContracts" />
      <xsd:import schemaLocation="http://localhost:59430/Services/BenchmarkHoldingsPerformanceOperations.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:59430/Services/BenchmarkHoldingsPerformanceOperations.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/GreenField.DAL" />
      <xsd:import schemaLocation="http://localhost:59430/Services/BenchmarkHoldingsPerformanceOperations.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_Temp_InputMessage">
    <wsdl:part name="parameters" element="tns:Temp" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_Temp_OutputMessage">
    <wsdl:part name="parameters" element="tns:TempResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrievePortfolioSelectionData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrievePortfolioSelectionData" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrievePortfolioSelectionData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrievePortfolioSelectionDataResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveBenchmarkSelectionData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveBenchmarkSelectionData" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveBenchmarkSelectionData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveBenchmarkSelectionDataResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveSectorBreakdownData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveSectorBreakdownData" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveSectorBreakdownData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveSectorBreakdownDataResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveRegionBreakdownData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveRegionBreakdownData" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveRegionBreakdownData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveRegionBreakdownDataResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveTopHoldingsData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveTopHoldingsData" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveTopHoldingsData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveTopHoldingsDataResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveIndexConstituentsData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveIndexConstituentsData" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveIndexConstituentsData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveIndexConstituentsDataResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveValuesForFilters_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveValuesForFilters" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveValuesForFilters_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveValuesForFiltersResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrievePortfolioDetailsData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrievePortfolioDetailsData" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrievePortfolioDetailsData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrievePortfolioDetailsDataResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveBenchmarkChartReturnData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveBenchmarkChartReturnData" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveBenchmarkChartReturnData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveBenchmarkChartReturnDataResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveBenchmarkGridReturnData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveBenchmarkGridReturnData" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveBenchmarkGridReturnData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveBenchmarkGridReturnDataResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveHoldingsPercentageData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveHoldingsPercentageData" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveHoldingsPercentageData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveHoldingsPercentageDataResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveHoldingsPercentageDataForRegion_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveHoldingsPercentageDataForRegion" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveHoldingsPercentageDataForRegion_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveHoldingsPercentageDataForRegionResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveTopBenchmarkSecuritiesData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveTopBenchmarkSecuritiesData" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveTopBenchmarkSecuritiesData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveTopBenchmarkSecuritiesDataResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveMarketCapitalizationData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveMarketCapitalizationData" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveMarketCapitalizationData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveMarketCapitalizationDataResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveAssetAllocationData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveAssetAllocationData" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveAssetAllocationData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveAssetAllocationDataResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveMarketSnapshotSelectionData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveMarketSnapshotSelectionData" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveMarketSnapshotSelectionData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveMarketSnapshotSelectionDataResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveMarketSnapshotPreference_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveMarketSnapshotPreference" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveMarketSnapshotPreference_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveMarketSnapshotPreferenceResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveMarketPerformanceSnapshotData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveMarketPerformanceSnapshotData" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveMarketPerformanceSnapshotData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveMarketPerformanceSnapshotDataResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_AddMarketSnapshotPerformance_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMarketSnapshotPerformance" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_AddMarketSnapshotPerformance_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddMarketSnapshotPerformanceResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_UpdateMarketSnapshotPerformance_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMarketSnapshotPerformance" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_UpdateMarketSnapshotPerformance_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMarketSnapshotPerformanceResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_AddMarketSnapshotGroupPreference_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMarketSnapshotGroupPreference" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_AddMarketSnapshotGroupPreference_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddMarketSnapshotGroupPreferenceResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RemoveMarketSnapshotGroupPreference_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveMarketSnapshotGroupPreference" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RemoveMarketSnapshotGroupPreference_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveMarketSnapshotGroupPreferenceResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_AddMarketSnapshotEntityPreference_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMarketSnapshotEntityPreference" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_AddMarketSnapshotEntityPreference_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddMarketSnapshotEntityPreferenceResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RemoveMarketSnapshotEntityPreference_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveMarketSnapshotEntityPreference" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RemoveMarketSnapshotEntityPreference_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveMarketSnapshotEntityPreferenceResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrievePortfolioRiskReturnData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrievePortfolioRiskReturnData" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrievePortfolioRiskReturnData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrievePortfolioRiskReturnDataResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveHeatMapData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveHeatMapData" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveHeatMapData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveHeatMapDataResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveRelativePerformanceSectorData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveRelativePerformanceSectorData" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveRelativePerformanceSectorData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveRelativePerformanceSectorDataResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveRelativePerformanceCountryActivePositionData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveRelativePerformanceCountryActivePositionData" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveRelativePerformanceCountryActivePositionData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveRelativePerformanceCountryActivePositionDataResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveRelativePerformanceSectorActivePositionData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveRelativePerformanceSectorActivePositionData" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveRelativePerformanceSectorActivePositionData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveRelativePerformanceSectorActivePositionDataResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveRelativePerformanceSecurityActivePositionData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveRelativePerformanceSecurityActivePositionData" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveRelativePerformanceSecurityActivePositionData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveRelativePerformanceSecurityActivePositionDataResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveRelativePerformanceSecurityData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveRelativePerformanceSecurityData" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveRelativePerformanceSecurityData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveRelativePerformanceSecurityDataResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveRelativePerformanceData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveRelativePerformanceData" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveRelativePerformanceData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveRelativePerformanceDataResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrievePerformanceGraphData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrievePerformanceGraphData" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrievePerformanceGraphData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrievePerformanceGraphDataResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrievePerformanceGridData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrievePerformanceGridData" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrievePerformanceGridData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrievePerformanceGridDataResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveAttributionData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveAttributionData" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveAttributionData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveAttributionDataResponse" />
  </wsdl:message>
  <wsdl:portType name="BenchmarkHoldingsPerformanceOperations">
    <wsdl:operation name="Temp">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/Temp" message="tns:BenchmarkHoldingsPerformanceOperations_Temp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/TempResponse" message="tns:BenchmarkHoldingsPerformanceOperations_Temp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrievePortfolioSelectionData">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrievePortfolioSelectionData" message="tns:BenchmarkHoldingsPerformanceOperations_RetrievePortfolioSelectionData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrievePortfolioSelectionDataResponse" message="tns:BenchmarkHoldingsPerformanceOperations_RetrievePortfolioSelectionData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveBenchmarkSelectionData">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveBenchmarkSelectionData" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveBenchmarkSelectionData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveBenchmarkSelectionDataResponse" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveBenchmarkSelectionData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveSectorBreakdownData">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveSectorBreakdownData" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveSectorBreakdownData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveSectorBreakdownDataResponse" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveSectorBreakdownData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveRegionBreakdownData">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveRegionBreakdownData" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveRegionBreakdownData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveRegionBreakdownDataResponse" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveRegionBreakdownData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveTopHoldingsData">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveTopHoldingsData" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveTopHoldingsData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveTopHoldingsDataResponse" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveTopHoldingsData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveIndexConstituentsData">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveIndexConstituentsData" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveIndexConstituentsData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveIndexConstituentsDataResponse" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveIndexConstituentsData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveValuesForFilters">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveValuesForFilters" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveValuesForFilters_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveValuesForFiltersResponse" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveValuesForFilters_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrievePortfolioDetailsData">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrievePortfolioDetailsData" message="tns:BenchmarkHoldingsPerformanceOperations_RetrievePortfolioDetailsData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrievePortfolioDetailsDataResponse" message="tns:BenchmarkHoldingsPerformanceOperations_RetrievePortfolioDetailsData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveBenchmarkChartReturnData">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveBenchmarkChartReturnData" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveBenchmarkChartReturnData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveBenchmarkChartReturnDataResponse" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveBenchmarkChartReturnData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveBenchmarkGridReturnData">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveBenchmarkGridReturnData" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveBenchmarkGridReturnData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveBenchmarkGridReturnDataResponse" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveBenchmarkGridReturnData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveHoldingsPercentageData">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveHoldingsPercentageData" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveHoldingsPercentageData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveHoldingsPercentageDataResponse" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveHoldingsPercentageData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveHoldingsPercentageDataForRegion">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveHoldingsPercentageDataForRegion" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveHoldingsPercentageDataForRegion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveHoldingsPercentageDataForRegionResponse" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveHoldingsPercentageDataForRegion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveTopBenchmarkSecuritiesData">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveTopBenchmarkSecuritiesData" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveTopBenchmarkSecuritiesData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveTopBenchmarkSecuritiesDataResponse" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveTopBenchmarkSecuritiesData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveMarketCapitalizationData">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveMarketCapitalizationData" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveMarketCapitalizationData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveMarketCapitalizationDataResponse" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveMarketCapitalizationData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveAssetAllocationData">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveAssetAllocationData" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveAssetAllocationData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveAssetAllocationDataResponse" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveAssetAllocationData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveMarketSnapshotSelectionData">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveMarketSnapshotSelectionData" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveMarketSnapshotSelectionData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveMarketSnapshotSelectionDataResponse" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveMarketSnapshotSelectionData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveMarketSnapshotPreference">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveMarketSnapshotPreference" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveMarketSnapshotPreference_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveMarketSnapshotPreferenceResponse" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveMarketSnapshotPreference_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveMarketPerformanceSnapshotData">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveMarketPerformanceSnapshotData" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveMarketPerformanceSnapshotData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveMarketPerformanceSnapshotDataResponse" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveMarketPerformanceSnapshotData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddMarketSnapshotPerformance">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/AddMarketSnapshotPerformance" message="tns:BenchmarkHoldingsPerformanceOperations_AddMarketSnapshotPerformance_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/AddMarketSnapshotPerformanceResponse" message="tns:BenchmarkHoldingsPerformanceOperations_AddMarketSnapshotPerformance_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMarketSnapshotPerformance">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/UpdateMarketSnapshotPerformance" message="tns:BenchmarkHoldingsPerformanceOperations_UpdateMarketSnapshotPerformance_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/UpdateMarketSnapshotPerformanceResponse" message="tns:BenchmarkHoldingsPerformanceOperations_UpdateMarketSnapshotPerformance_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddMarketSnapshotGroupPreference">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/AddMarketSnapshotGroupPreference" message="tns:BenchmarkHoldingsPerformanceOperations_AddMarketSnapshotGroupPreference_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/AddMarketSnapshotGroupPreferenceResponse" message="tns:BenchmarkHoldingsPerformanceOperations_AddMarketSnapshotGroupPreference_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveMarketSnapshotGroupPreference">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RemoveMarketSnapshotGroupPreference" message="tns:BenchmarkHoldingsPerformanceOperations_RemoveMarketSnapshotGroupPreference_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RemoveMarketSnapshotGroupPreferenceResponse" message="tns:BenchmarkHoldingsPerformanceOperations_RemoveMarketSnapshotGroupPreference_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddMarketSnapshotEntityPreference">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/AddMarketSnapshotEntityPreference" message="tns:BenchmarkHoldingsPerformanceOperations_AddMarketSnapshotEntityPreference_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/AddMarketSnapshotEntityPreferenceResponse" message="tns:BenchmarkHoldingsPerformanceOperations_AddMarketSnapshotEntityPreference_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveMarketSnapshotEntityPreference">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RemoveMarketSnapshotEntityPreference" message="tns:BenchmarkHoldingsPerformanceOperations_RemoveMarketSnapshotEntityPreference_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RemoveMarketSnapshotEntityPreferenceResponse" message="tns:BenchmarkHoldingsPerformanceOperations_RemoveMarketSnapshotEntityPreference_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrievePortfolioRiskReturnData">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrievePortfolioRiskReturnData" message="tns:BenchmarkHoldingsPerformanceOperations_RetrievePortfolioRiskReturnData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrievePortfolioRiskReturnDataResponse" message="tns:BenchmarkHoldingsPerformanceOperations_RetrievePortfolioRiskReturnData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveHeatMapData">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveHeatMapData" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveHeatMapData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveHeatMapDataResponse" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveHeatMapData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveRelativePerformanceSectorData">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveRelativePerformanceSectorData" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveRelativePerformanceSectorData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveRelativePerformanceSectorDataResponse" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveRelativePerformanceSectorData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveRelativePerformanceCountryActivePositionData">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveRelativePerformanceCountryActivePositionData" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveRelativePerformanceCountryActivePositionData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveRelativePerformanceCountryActivePositionDataResponse" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveRelativePerformanceCountryActivePositionData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveRelativePerformanceSectorActivePositionData">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveRelativePerformanceSectorActivePositionData" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveRelativePerformanceSectorActivePositionData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveRelativePerformanceSectorActivePositionDataResponse" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveRelativePerformanceSectorActivePositionData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveRelativePerformanceSecurityActivePositionData">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveRelativePerformanceSecurityActivePositionData" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveRelativePerformanceSecurityActivePositionData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveRelativePerformanceSecurityActivePositionDataResponse" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveRelativePerformanceSecurityActivePositionData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveRelativePerformanceSecurityData">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveRelativePerformanceSecurityData" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveRelativePerformanceSecurityData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveRelativePerformanceSecurityDataResponse" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveRelativePerformanceSecurityData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveRelativePerformanceData">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveRelativePerformanceData" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveRelativePerformanceData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveRelativePerformanceDataResponse" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveRelativePerformanceData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrievePerformanceGraphData">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrievePerformanceGraphData" message="tns:BenchmarkHoldingsPerformanceOperations_RetrievePerformanceGraphData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrievePerformanceGraphDataResponse" message="tns:BenchmarkHoldingsPerformanceOperations_RetrievePerformanceGraphData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrievePerformanceGridData">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrievePerformanceGridData" message="tns:BenchmarkHoldingsPerformanceOperations_RetrievePerformanceGridData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrievePerformanceGridDataResponse" message="tns:BenchmarkHoldingsPerformanceOperations_RetrievePerformanceGridData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveAttributionData">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveAttributionData" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveAttributionData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveAttributionDataResponse" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveAttributionData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BenchmarkHoldingsPerformanceOperations" type="tns:BenchmarkHoldingsPerformanceOperations">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Temp">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/Temp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrievePortfolioSelectionData">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrievePortfolioSelectionData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveBenchmarkSelectionData">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveBenchmarkSelectionData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveSectorBreakdownData">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveSectorBreakdownData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveRegionBreakdownData">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveRegionBreakdownData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveTopHoldingsData">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveTopHoldingsData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveIndexConstituentsData">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveIndexConstituentsData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveValuesForFilters">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveValuesForFilters" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrievePortfolioDetailsData">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrievePortfolioDetailsData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveBenchmarkChartReturnData">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveBenchmarkChartReturnData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveBenchmarkGridReturnData">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveBenchmarkGridReturnData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveHoldingsPercentageData">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveHoldingsPercentageData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveHoldingsPercentageDataForRegion">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveHoldingsPercentageDataForRegion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveTopBenchmarkSecuritiesData">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveTopBenchmarkSecuritiesData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveMarketCapitalizationData">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveMarketCapitalizationData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveAssetAllocationData">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveAssetAllocationData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveMarketSnapshotSelectionData">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveMarketSnapshotSelectionData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveMarketSnapshotPreference">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveMarketSnapshotPreference" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveMarketPerformanceSnapshotData">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveMarketPerformanceSnapshotData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMarketSnapshotPerformance">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/AddMarketSnapshotPerformance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMarketSnapshotPerformance">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/UpdateMarketSnapshotPerformance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMarketSnapshotGroupPreference">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/AddMarketSnapshotGroupPreference" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveMarketSnapshotGroupPreference">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RemoveMarketSnapshotGroupPreference" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMarketSnapshotEntityPreference">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/AddMarketSnapshotEntityPreference" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveMarketSnapshotEntityPreference">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RemoveMarketSnapshotEntityPreference" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrievePortfolioRiskReturnData">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrievePortfolioRiskReturnData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveHeatMapData">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveHeatMapData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveRelativePerformanceSectorData">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveRelativePerformanceSectorData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveRelativePerformanceCountryActivePositionData">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveRelativePerformanceCountryActivePositionData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveRelativePerformanceSectorActivePositionData">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveRelativePerformanceSectorActivePositionData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveRelativePerformanceSecurityActivePositionData">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveRelativePerformanceSecurityActivePositionData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveRelativePerformanceSecurityData">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveRelativePerformanceSecurityData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveRelativePerformanceData">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveRelativePerformanceData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrievePerformanceGraphData">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrievePerformanceGraphData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrievePerformanceGridData">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrievePerformanceGridData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveAttributionData">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveAttributionData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BenchmarkHoldingsPerformanceOperations">
    <wsdl:port name="BenchmarkHoldingsPerformanceOperations" binding="tns:BenchmarkHoldingsPerformanceOperations">
      <soap:address location="http://localhost:59430/Services/BenchmarkHoldingsPerformanceOperations.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>