SourceCode/GreenField/GreenField.ServiceCaller/Service References/BenchmarkHoldingsPerformanceDefinitions/BenchmarkHoldingsPerformanceOperations.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BenchmarkHoldingsPerformanceOperations" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59430/Services/BenchmarkHoldingsPerformanceOperations.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59430/Services/BenchmarkHoldingsPerformanceOperations.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59430/Services/BenchmarkHoldingsPerformanceOperations.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GreenField.Web.DataContracts" />
      <xsd:import schemaLocation="http://localhost:59430/Services/BenchmarkHoldingsPerformanceOperations.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_Temp_InputMessage">
    <wsdl:part name="parameters" element="tns:Temp" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_Temp_OutputMessage">
    <wsdl:part name="parameters" element="tns:TempResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrievePortfolioSelectionData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrievePortfolioSelectionData" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrievePortfolioSelectionData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrievePortfolioSelectionDataResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrievePortfolioSelectionData_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q1:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveBenchmarkSelectionData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveBenchmarkSelectionData" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveBenchmarkSelectionData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveBenchmarkSelectionDataResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveBenchmarkSelectionData_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q2:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveSectorBreakdownData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveSectorBreakdownData" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveSectorBreakdownData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveSectorBreakdownDataResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveSectorBreakdownData_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q3:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveRegionBreakdownData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveRegionBreakdownData" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveRegionBreakdownData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveRegionBreakdownDataResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveRegionBreakdownData_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q4:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveTopHoldingsData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveTopHoldingsData" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveTopHoldingsData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveTopHoldingsDataResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveTopHoldingsData_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q5:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveIndexConstituentsData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveIndexConstituentsData" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveIndexConstituentsData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveIndexConstituentsDataResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveIndexConstituentsData_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q6:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveFilterSelectionData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveFilterSelectionData" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveFilterSelectionData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveFilterSelectionDataResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveFilterSelectionData_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q7:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrievePortfolioDetailsData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrievePortfolioDetailsData" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrievePortfolioDetailsData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrievePortfolioDetailsDataResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrievePortfolioDetailsData_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q8:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveBenchmarkChartReturnData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveBenchmarkChartReturnData" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveBenchmarkChartReturnData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveBenchmarkChartReturnDataResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveBenchmarkChartReturnData_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q9="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q9:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveBenchmarkGridReturnData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveBenchmarkGridReturnData" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveBenchmarkGridReturnData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveBenchmarkGridReturnDataResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveBenchmarkGridReturnData_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q10="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q10:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveAssetAllocationData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveAssetAllocationData" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveAssetAllocationData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveAssetAllocationDataResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveHoldingsPercentageData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveHoldingsPercentageData" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveHoldingsPercentageData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveHoldingsPercentageDataResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveHoldingsPercentageData_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q11="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q11:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveHoldingsPercentageDataForRegion_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveHoldingsPercentageDataForRegion" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveHoldingsPercentageDataForRegion_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveHoldingsPercentageDataForRegionResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveHoldingsPercentageDataForRegion_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q12="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q12:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveTopBenchmarkSecuritiesData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveTopBenchmarkSecuritiesData" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveTopBenchmarkSecuritiesData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveTopBenchmarkSecuritiesDataResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveTopBenchmarkSecuritiesData_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q13="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q13:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveMarketCapitalizationData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveMarketCapitalizationData" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveMarketCapitalizationData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveMarketCapitalizationDataResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveMarketCapitalizationData_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q14="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q14:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveHeatMapData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveHeatMapData" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveHeatMapData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveHeatMapDataResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveHeatMapData_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q15="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q15:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveRelativePerformanceSectorData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveRelativePerformanceSectorData" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveRelativePerformanceSectorData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveRelativePerformanceSectorDataResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveRelativePerformanceSectorData_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q16="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q16:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveRelativePerformanceCountryActivePositionData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveRelativePerformanceCountryActivePositionData" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveRelativePerformanceCountryActivePositionData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveRelativePerformanceCountryActivePositionDataResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveRelativePerformanceCountryActivePositionData_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q17="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q17:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveRelativePerformanceSectorActivePositionData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveRelativePerformanceSectorActivePositionData" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveRelativePerformanceSectorActivePositionData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveRelativePerformanceSectorActivePositionDataResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveRelativePerformanceSectorActivePositionData_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q18="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q18:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveRelativePerformanceSecurityActivePositionData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveRelativePerformanceSecurityActivePositionData" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveRelativePerformanceSecurityActivePositionData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveRelativePerformanceSecurityActivePositionDataResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveRelativePerformanceSecurityActivePositionData_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q19="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q19:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveRelativePerformanceSecurityData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveRelativePerformanceSecurityData" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveRelativePerformanceSecurityData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveRelativePerformanceSecurityDataResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveRelativePerformanceSecurityData_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q20="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q20:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveRelativePerformanceData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveRelativePerformanceData" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveRelativePerformanceData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveRelativePerformanceDataResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveRelativePerformanceData_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q21="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q21:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrievePerformanceGraphData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrievePerformanceGraphData" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrievePerformanceGraphData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrievePerformanceGraphDataResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrievePerformanceGraphData_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q22="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q22:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrievePerformanceGridData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrievePerformanceGridData" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrievePerformanceGridData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrievePerformanceGridDataResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrievePerformanceGridData_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q23="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q23:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveAttributionData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveAttributionData" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveAttributionData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveAttributionDataResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrieveAttributionData_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q24="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q24:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrievePortfolioRiskReturnData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrievePortfolioRiskReturnData" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrievePortfolioRiskReturnData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrievePortfolioRiskReturnDataResponse" />
  </wsdl:message>
  <wsdl:message name="BenchmarkHoldingsPerformanceOperations_RetrievePortfolioRiskReturnData_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q25="http://schemas.datacontract.org/2004/07/GreenField.Web.Helpers.Service_Faults" name="detail" element="q25:ServiceFault" />
  </wsdl:message>
  <wsdl:portType name="BenchmarkHoldingsPerformanceOperations">
    <wsdl:operation name="Temp">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/Temp" message="tns:BenchmarkHoldingsPerformanceOperations_Temp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/TempResponse" message="tns:BenchmarkHoldingsPerformanceOperations_Temp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrievePortfolioSelectionData">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrievePortfolioSelectionData" message="tns:BenchmarkHoldingsPerformanceOperations_RetrievePortfolioSelectionData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrievePortfolioSelectionDataResponse" message="tns:BenchmarkHoldingsPerformanceOperations_RetrievePortfolioSelectionData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrievePortfolioSelectionDataServiceFaultFault" name="ServiceFaultFault" message="tns:BenchmarkHoldingsPerformanceOperations_RetrievePortfolioSelectionData_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveBenchmarkSelectionData">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveBenchmarkSelectionData" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveBenchmarkSelectionData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveBenchmarkSelectionDataResponse" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveBenchmarkSelectionData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveBenchmarkSelectionDataServiceFaultFault" name="ServiceFaultFault" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveBenchmarkSelectionData_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveSectorBreakdownData">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveSectorBreakdownData" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveSectorBreakdownData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveSectorBreakdownDataResponse" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveSectorBreakdownData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveSectorBreakdownDataServiceFaultFault" name="ServiceFaultFault" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveSectorBreakdownData_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveRegionBreakdownData">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveRegionBreakdownData" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveRegionBreakdownData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveRegionBreakdownDataResponse" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveRegionBreakdownData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveRegionBreakdownDataServiceFaultFault" name="ServiceFaultFault" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveRegionBreakdownData_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveTopHoldingsData">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveTopHoldingsData" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveTopHoldingsData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveTopHoldingsDataResponse" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveTopHoldingsData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveTopHoldingsDataServiceFaultFault" name="ServiceFaultFault" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveTopHoldingsData_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveIndexConstituentsData">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveIndexConstituentsData" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveIndexConstituentsData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveIndexConstituentsDataResponse" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveIndexConstituentsData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveIndexConstituentsDataServiceFaultFault" name="ServiceFaultFault" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveIndexConstituentsData_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveFilterSelectionData">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveFilterSelectionData" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveFilterSelectionData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveFilterSelectionDataResponse" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveFilterSelectionData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveFilterSelectionDataServiceFaultFault" name="ServiceFaultFault" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveFilterSelectionData_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrievePortfolioDetailsData">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrievePortfolioDetailsData" message="tns:BenchmarkHoldingsPerformanceOperations_RetrievePortfolioDetailsData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrievePortfolioDetailsDataResponse" message="tns:BenchmarkHoldingsPerformanceOperations_RetrievePortfolioDetailsData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrievePortfolioDetailsDataServiceFaultFault" name="ServiceFaultFault" message="tns:BenchmarkHoldingsPerformanceOperations_RetrievePortfolioDetailsData_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveBenchmarkChartReturnData">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveBenchmarkChartReturnData" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveBenchmarkChartReturnData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveBenchmarkChartReturnDataResponse" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveBenchmarkChartReturnData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveBenchmarkChartReturnDataServiceFaultFault" name="ServiceFaultFault" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveBenchmarkChartReturnData_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveBenchmarkGridReturnData">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveBenchmarkGridReturnData" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveBenchmarkGridReturnData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveBenchmarkGridReturnDataResponse" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveBenchmarkGridReturnData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveBenchmarkGridReturnDataServiceFaultFault" name="ServiceFaultFault" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveBenchmarkGridReturnData_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveAssetAllocationData">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveAssetAllocationData" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveAssetAllocationData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveAssetAllocationDataResponse" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveAssetAllocationData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveHoldingsPercentageData">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveHoldingsPercentageData" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveHoldingsPercentageData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveHoldingsPercentageDataResponse" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveHoldingsPercentageData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveHoldingsPercentageDataServiceFaultFault" name="ServiceFaultFault" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveHoldingsPercentageData_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveHoldingsPercentageDataForRegion">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveHoldingsPercentageDataForRegion" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveHoldingsPercentageDataForRegion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveHoldingsPercentageDataForRegionResponse" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveHoldingsPercentageDataForRegion_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveHoldingsPercentageDataForRegionServiceFaultFault" name="ServiceFaultFault" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveHoldingsPercentageDataForRegion_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveTopBenchmarkSecuritiesData">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveTopBenchmarkSecuritiesData" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveTopBenchmarkSecuritiesData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveTopBenchmarkSecuritiesDataResponse" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveTopBenchmarkSecuritiesData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveTopBenchmarkSecuritiesDataServiceFaultFault" name="ServiceFaultFault" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveTopBenchmarkSecuritiesData_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveMarketCapitalizationData">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveMarketCapitalizationData" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveMarketCapitalizationData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveMarketCapitalizationDataResponse" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveMarketCapitalizationData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveMarketCapitalizationDataServiceFaultFault" name="ServiceFaultFault" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveMarketCapitalizationData_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveHeatMapData">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveHeatMapData" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveHeatMapData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveHeatMapDataResponse" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveHeatMapData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveHeatMapDataServiceFaultFault" name="ServiceFaultFault" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveHeatMapData_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveRelativePerformanceSectorData">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveRelativePerformanceSectorData" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveRelativePerformanceSectorData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveRelativePerformanceSectorDataResponse" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveRelativePerformanceSectorData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveRelativePerformanceSectorDataServiceFaultFault" name="ServiceFaultFault" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveRelativePerformanceSectorData_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveRelativePerformanceCountryActivePositionData">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveRelativePerformanceCountryActivePositionData" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveRelativePerformanceCountryActivePositionData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveRelativePerformanceCountryActivePositionDataResponse" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveRelativePerformanceCountryActivePositionData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveRelativePerformanceCountryActivePositionDataServiceFaultFault" name="ServiceFaultFault" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveRelativePerformanceCountryActivePositionData_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveRelativePerformanceSectorActivePositionData">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveRelativePerformanceSectorActivePositionData" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveRelativePerformanceSectorActivePositionData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveRelativePerformanceSectorActivePositionDataResponse" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveRelativePerformanceSectorActivePositionData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveRelativePerformanceSectorActivePositionDataServiceFaultFault" name="ServiceFaultFault" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveRelativePerformanceSectorActivePositionData_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveRelativePerformanceSecurityActivePositionData">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveRelativePerformanceSecurityActivePositionData" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveRelativePerformanceSecurityActivePositionData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveRelativePerformanceSecurityActivePositionDataResponse" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveRelativePerformanceSecurityActivePositionData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveRelativePerformanceSecurityActivePositionDataServiceFaultFault" name="ServiceFaultFault" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveRelativePerformanceSecurityActivePositionData_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveRelativePerformanceSecurityData">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveRelativePerformanceSecurityData" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveRelativePerformanceSecurityData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveRelativePerformanceSecurityDataResponse" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveRelativePerformanceSecurityData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveRelativePerformanceSecurityDataServiceFaultFault" name="ServiceFaultFault" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveRelativePerformanceSecurityData_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveRelativePerformanceData">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveRelativePerformanceData" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveRelativePerformanceData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveRelativePerformanceDataResponse" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveRelativePerformanceData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveRelativePerformanceDataServiceFaultFault" name="ServiceFaultFault" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveRelativePerformanceData_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrievePerformanceGraphData">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrievePerformanceGraphData" message="tns:BenchmarkHoldingsPerformanceOperations_RetrievePerformanceGraphData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrievePerformanceGraphDataResponse" message="tns:BenchmarkHoldingsPerformanceOperations_RetrievePerformanceGraphData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrievePerformanceGraphDataServiceFaultFault" name="ServiceFaultFault" message="tns:BenchmarkHoldingsPerformanceOperations_RetrievePerformanceGraphData_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrievePerformanceGridData">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrievePerformanceGridData" message="tns:BenchmarkHoldingsPerformanceOperations_RetrievePerformanceGridData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrievePerformanceGridDataResponse" message="tns:BenchmarkHoldingsPerformanceOperations_RetrievePerformanceGridData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrievePerformanceGridDataServiceFaultFault" name="ServiceFaultFault" message="tns:BenchmarkHoldingsPerformanceOperations_RetrievePerformanceGridData_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveAttributionData">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveAttributionData" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveAttributionData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveAttributionDataResponse" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveAttributionData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveAttributionDataServiceFaultFault" name="ServiceFaultFault" message="tns:BenchmarkHoldingsPerformanceOperations_RetrieveAttributionData_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrievePortfolioRiskReturnData">
      <wsdl:input wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrievePortfolioRiskReturnData" message="tns:BenchmarkHoldingsPerformanceOperations_RetrievePortfolioRiskReturnData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrievePortfolioRiskReturnDataResponse" message="tns:BenchmarkHoldingsPerformanceOperations_RetrievePortfolioRiskReturnData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrievePortfolioRiskReturnDataServiceFaultFault" name="ServiceFaultFault" message="tns:BenchmarkHoldingsPerformanceOperations_RetrievePortfolioRiskReturnData_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BenchmarkHoldingsPerformanceOperations" type="tns:BenchmarkHoldingsPerformanceOperations">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Temp">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/Temp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrievePortfolioSelectionData">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrievePortfolioSelectionData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveBenchmarkSelectionData">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveBenchmarkSelectionData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveSectorBreakdownData">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveSectorBreakdownData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveRegionBreakdownData">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveRegionBreakdownData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveTopHoldingsData">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveTopHoldingsData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveIndexConstituentsData">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveIndexConstituentsData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveFilterSelectionData">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveFilterSelectionData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrievePortfolioDetailsData">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrievePortfolioDetailsData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveBenchmarkChartReturnData">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveBenchmarkChartReturnData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveBenchmarkGridReturnData">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveBenchmarkGridReturnData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveAssetAllocationData">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveAssetAllocationData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveHoldingsPercentageData">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveHoldingsPercentageData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveHoldingsPercentageDataForRegion">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveHoldingsPercentageDataForRegion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveTopBenchmarkSecuritiesData">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveTopBenchmarkSecuritiesData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveMarketCapitalizationData">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveMarketCapitalizationData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveHeatMapData">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveHeatMapData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveRelativePerformanceSectorData">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveRelativePerformanceSectorData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveRelativePerformanceCountryActivePositionData">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveRelativePerformanceCountryActivePositionData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveRelativePerformanceSectorActivePositionData">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveRelativePerformanceSectorActivePositionData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveRelativePerformanceSecurityActivePositionData">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveRelativePerformanceSecurityActivePositionData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveRelativePerformanceSecurityData">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveRelativePerformanceSecurityData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveRelativePerformanceData">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveRelativePerformanceData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrievePerformanceGraphData">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrievePerformanceGraphData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrievePerformanceGridData">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrievePerformanceGridData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveAttributionData">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrieveAttributionData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrievePortfolioRiskReturnData">
      <soap:operation soapAction="http://tempuri.org/BenchmarkHoldingsPerformanceOperations/RetrievePortfolioRiskReturnData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BenchmarkHoldingsPerformanceOperations">
    <wsdl:port name="BenchmarkHoldingsPerformanceOperations" binding="tns:BenchmarkHoldingsPerformanceOperations">
      <soap:address location="http://localhost:59430/Services/BenchmarkHoldingsPerformanceOperations.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>